{%- assign printTypeArr = section.blocks | where: 'type', 'printTypeNew' -%}
{% comment %} placeInGangSheetVariant {% endcomment %}
{% for item in printTypeArr %}
  {% assign pt = item.settings %}

  <div class="printType{% if pt.placeInGangSheetVariant %} hidden{% endif %}">
    {% if pt.mainTitle != blank %}
      <div class="printType__title">{{ pt.mainTitle }}</div>
    {% endif %}
    
    <div class="printType__items">
      {% if pt.enableOption_1 %}
        {%- capture firstOptionHTML -%}
        {% if pt.placeInGangSheetVariant %}<div class="dyn-flex-1">{% endif %}
        <label for="printType__1" class="printType__block printType__{{ pt.contentSource_1 }} printType__first">
          {% if pt.contentSource_1 == 'text' %}
            <div class="row-first">
            {% if pt.optionText_1 != blank %}
              <div class="printType__opTitle">
                {{ pt.optionText_1 }}
              </div>
            {% endif %}
            {% if pt.optionSubText_1 != blank %}
              <div class="printType__opSubTitle price">
                {% comment %} {{ pt.optionSubText_1 }} {% endcomment %}
                 <span class="grt_vividprice"></span>
              </div>
            {% endif %}
            </div>
            <div class="row-second">{{ pt.optionSubText_3 }}</div>
          {% elsif pt.contentSource_1 == 'img' %}
            <div class="printType__flex">
              <div class="printType__leftImg">
                {% if pt.optionImg_1 != blank %}
                  <img src="{{ pt.optionImg_1 | image_url: width: 200 }}">
                {% endif %}
                <div class="upgradelink"><strong>FREE Upgrade</strong></div>
              </div>
              
              {% if pt.optionRightText_1 != blank %}
                <div class="printType__rightContent">
                  {% comment %} {{ pt.optionRightText_1 }} <span class="printType__icon">!</span> {% endcomment %}

                </div>
              {% endif %}
            </div>
            <div class="printType__hoverImg">
              <img src="{{ pt.optionLarge_1 | image_url: width: 450 }}">
            </div>
          {% endif %}
        </label>
        {% if pt.placeInGangSheetVariant %}
        </div>
        {% endif %}
        {% endcapture %}
        {{ firstOptionHTML }}
      {% endif %}

      {% if pt.enableOption_1 %}
        
        {% comment %} <input type="radio" name="printType" id="printType__2" class="printType__input"  checked> {% endcomment %}
        {%- capture modalContent -%}
          {% if pt.optionLarge_2 != blank %}
            <img src="{{ pt.optionLarge_2 | image_url: width: 1440 }}" class="printTypeImg">
            <style>
              .printTypeImg {
                max-height: calc(90vh - 1.5rem - 22px);
              }
            </style>
          {% endif %}
        {%- endcapture -%}
        <script>
          const modalContent__ = `{{ modalContent }}`;
        </script>
        {%- capture secondOptionHTML -%}
          {% if pt.placeInGangSheetVariant %}<div class="dyn-flex-1">{% endif %}
          <label for="printType__2" class="printType__block {% if pt.placeInGangSheetVariant %}gangsheet_active{% endif %} active printType__{{ pt.contentSource_2 }}"
            {% if modalContent != blank %}
              onclick="modalWrapper(this, modalContent__, 800);"
            {% endif %}
          >
            {% if pt.contentSource_2 == 'text' %}
              {% if pt.optionText_2 != blank %}
                <div class="printType__opTitle">
                  {{ pt.optionText_2 }}
                </div>
              {% endif %}
              {% if pt.optionSubText_2 != blank %}
                <div class="printType__opSubTitle">
                  {{ pt.optionSubText_2 }}
                </div>
              {% endif %}
            {% elsif pt.contentSource_2 == 'img' %}
              <div class="printType__flex">
                <div class="printType__leftImg print-custom-change">
                  {% if pt.optionImg_2 != blank %}
                    <img src="{{ pt.optionImg_2 | image_url: width: 200 }}" alt="img" />
                  {% endif %}
                </div>
                {% if pt.optionRightText_2 != blank %}
                  <div class="printType__rightContent {{ pt.seprator_class }}">
                    <div class="vivid_price_block {% if pt.enable_soldout == true %}pprice{% endif %}">
                      <s class="vividprice_base baseprice {{ pt.enable_soldout }}">{{ pt.optionRightText_2 }}</s>
                      <span class="grt_vividprice vividactive {{ pt.enable_soldout }}">{{ pt.optionRightText_2 }}</span>
                      {% if pt.enable_soldout == false %}
                        <span class="printType__icon">!</span>
                      {% endif %}
                    </div>
                    {% if pt.enable_soldout == true %}
                    <div class="vividstatus grt-print-type-price"><strong>FREE Upgrade</strong></div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              <div class="printType__hoverImg">
                {% if pt.optionLarge_2 != blank %}
                  <img src="{{ pt.optionLarge_2 | image_url: width: 450 }}">
                {% endif %}
              </div>
            {% endif %}
          </label>
          {% if pt.placeInGangSheetVariant %}
          <div class="printType__items{%- if pt.placeInGangSheetVariant -%}-1{%- endif -%}">
            <div class="printType__rightContent learn-moremsg {% if pt.enablepopupmodal %}vividtype{% else %}navigatevivid{% endif %} {{ pt.placeInGangSheetVariant }}" {% if pt.enablepopupmodal %}data-target=".vivid-info-block"{% endif %}>
              {% comment %} <span class="printType__icon">!</span> {% endcomment %}
              <span class="printType__icon">{% render '_info-icon', flcolor:'#e3e3e3' %}</span>
              Inside the Vivid AF Upgrade</div>
          </div>
          </div>
        {% endif %}
        {%- endcapture -%}
        {% if pt.placeInGangSheetVariant == false %}
          {{ secondOptionHTML }}
        {% endif %}
      {% endif %}
    </div>
    <div class="printType__items{%- if pt.placeInGangSheetVariant -%}-1{%- endif -%}">
      <div class="empty-div"></div>
      <div class="printType__rightContent learn-moremsg  {% if pt.enablepopupmodal %}vividtype{% else %}navigatevivid{% endif %} {{ pt.placeInGangSheetVariant }}" {% if pt.enablepopupmodal %}data-target=".vivid-info-block"{% endif %}>
        <span class="printType__icon">{% render '_info-icon', flcolor:'#e3e3e3' %}</span>
        Inside the Vivid AF Upgrade</div>
      </div>
  </div>

  <script>
    function modalWrapper(e, content, width) {
      try {
        if($(e).hasClass("active")){
          const screenWidth = $(window).width();
          if ( screenWidth > 767 ) {
            globalModal(content, width);
          } else {
            const isActive = $( e ).find( `.printType__hoverImg` ).hasClass( `active` );
            if ( isActive ) {
              $( e ).find( `.printType__hoverImg` ).removeClass( `active` );
            } else {
              $( e ).find( `.printType__hoverImg` ).addClass( `active` );
            }
          }
        }
      } catch ( err ) {
        console.log( `ERROR modalWrapper(content, width)`, err.message );
      }
    }
    {% if pt.placeInGangSheetVariant %}
      var variant_keyname = "{{ pt.placeInGangSheetVariantName | downcase }}"
      $(document).ready(function () {
        const collectHTML = ``;
        $( `product-variants .product-variant__container[option="2"]` ).last().before( `<div class='dyn-flex start'>{{ firstOptionHTML }}{{ secondOptionHTML }}</div>` );
      });
    {% endif %}
  </script>

  <style>
    product-variants .printType__first .grt_vividprice,
    product-variants .printType__img .printType__rightContent.product_by_size {
      opacity: 0;
    }
    product-variants:has(.product-variant__container .vividAF .product-variant__input:checked) .product-variant[op="2"] .printType__first .grt_vividprice,
    product-variants:has(.product-variant__container .vividAF .product-variant__input:checked) .product-variant[op="2"] .printType__img .printType__rightContent.product_by_size,
    product-variants:has(.product-variant__container[option="2"] .vividAF .product-variant__input:checked) .product-variant .printType__first .grt_vividprice,
    product-variants:has(.product-variant__container[option="2"] .vividAF .product-variant__input:checked) .product-variant .printType__img .printType__rightContent.product_by_size {
      opacity: 1;
    }
    product-variants:has(.product-variant__container .vividAF .product-variant__input:checked) .printType__img {
      border: 1px solid transparent;
      border-radius: 8px;
      background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #FE01FE 0%, #832BE2 27.4%, #4CB5BF 64.42%, #60F78A 100%) border-box;
      border-image-slice: 1;
      color:rgba(0,0,0,1);
      padding-top:0;
      padding-bottom:0;
    }
    product-variants:has(.product-variant__container .vividAF .product-variant__input:checked) .printType__img::before{
      border-color:#3DAEFF;
      border-width:4px;
    }
    product-variants:has(.product-variant__container .vividAF) .product-variant[op="2"] .product-variant__container,
    product-variants:has(.product-variant__container[option="2"] .vividAF) .product-variant .product-variant__container {
      position: relative;
    }
    product-variants .product-variant__container[option="1"]::before {
      display: none;
    }
    product-variants:has(.product-variant__container .vividAF) .product-variant[op="2"] .product-variant__container::before,
    product-variants:has(.product-variant__container[option="2"] .vividAF) .product-variant .product-variant__container::before {
      content: 'Specialty DTF';
      padding: 8px 0px;
      border-radius: 6px;
      font-size: 13px;
      font-weight: 600;
      z-index: 1;
      flex: 0 0 100%;
    }
    {% if pt.placeInGangSheetVariant %}
      /* product-variants .product-variant__container[option="2"] .product-variant__item:first-child{display:none;} */
    {% endif %}
    .printType {
      {% if removeBottomMarginPadding != true %}
        border-bottom: 1px solid #b9b9b9;
        padding-bottom: 12px;
        margin-bottom: 12px;
        margin-top: -5px;
      {% endif %}
    }
    .printType__block {
      background-color: whitesmoke;
      border: 1px solid #ddd;
      padding:14px 8px;
      border-radius: 8px;
      position: relative;
      cursor: pointer;
      transition: 0.2s all ease-in-out;
      padding-left: 34px; min-height:50px;
      display: flex; font-size:14px;
      flex-flow: column wrap;
      justify-content: center; color:rgba(0,0,0,0.6);
    }
    .printType__block.gangsheet_active{padding-top:0; padding-bottom:0; background:#fff;}
    .printType__block.active {border: 1px solid transparent; border-radius: 8px; background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #FE01FE 0%, #832BE2 27.4%, #4CB5BF 64.42%, #60F78A 100%) border-box; border-image-slice: 1; color:rgba(0,0,0,1); padding-top:0; padding-bottom:0;}
    .printType__block.active::before{border-color:#3DAEFF; border-width:4px;}
    .vividactive{color:rgba(0,0,0,1);}
    .printType__title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 6px;
    }
    .printType__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    @media(min-width:768px){
      .printType__items {
        grid-template-columns: 40% 60%;
      }
    } 
    
    .printType__text::before,
    .printType__img::before {content: ''; position: absolute; top: 50%; margin-top: -9px; left: 10px; width: 18px; height: 18px; border: 2px solid #ddd; border-radius: 999px; transition: 0.2s all ease-in-out;}
    
    .printType__opTitle {
      font-size: 14px;
      font-weight: 600;
    }
    .printType__opSubTitle {font-size: 12px; font-weight: bold;}

    .printType__input:checked + .printType__text,
    .printType__input:checked + .printType__img {
      border: 2px solid #449fc4;
      background-color: #fff;
    }
    .printType__input:checked + .printType__text::before {
      border: 3px solid #449fc4;
    }
    {% comment %} .printType__text.printType__first, {% endcomment %}.row-first{flex-flow: row; justify-content: space-between; align-items: center; display:flex;}
    {% comment %} .printType__img::before,.printType__text.printType__first::before{top:20px;} {% endcomment %}

    @media ( min-width: 767px ) {
      .printType__img{% if pt.placeInGangSheetVariant %}.active{% endif %}:hover .printType__hoverImg {
        animation: animate-in 0.5s ease-out forwards;
      }
    }
    @media (max-width: 768px) {
      .printType__items {
        grid-template-columns: auto;
      }
    }
    .printType__flex {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: space-between;
    }
    .printType__hoverImg {
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: auto;
      border-radius: 6px;
      overflow: hidden;
      padding: 8px;
      background-color: #fff;
      box-shadow: 0 0 6px #bdbdbd;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
    }
    .printType__hoverImg.active {
      animation: animate-in 0.5s ease-out forwards;
    }
    .printType img,.printType__hoverImg img {
      max-width: 100%;
    }
    .learn-moremsg{font-size: 12px; color: #4C4C4C;}
    .learn-moremsg .info-icon-svg{fill:#4C4C4C}
    .learn-moremsg:hover{color:#3DAEFF}
    .learn-moremsg:hover .info-icon-svg{fill:#3DAEFF}
    
    .printType__rightContent.learn-moremsg{font-size:13px; padding: 8px 0; font-weight: bold; cursor:pointer; display:inline-flex; gap:4px;}
    .pprice{color: rgba(0,0,0,0.6); font-size:12px; font-weight:600; display: flex; gap: 6px; align-items:center;}
    .grt-print-type-price{text-align:right; color: #27aefd;}
    .pprice .vividstatus,.vpink_price{color:#3DAEFF; font-size:14px; font-weight:bolder;}
    span.vividprice {text-align: right;color: rgba(0,0,0,0.6); font-size:14px; font-weight:600;}
    span.vividprice > span{display:block;}
    .printType__icon {display: inline-flex; width: 16px; height: 16px; border-radius: 999px; align-items: center; justify-content: center; color: #fff; font-weight: 700; font-style: normal;}
    .printType__leftImg img {max-width: 135px;}
    {% if pt.placeInGangSheetVariant %}
      product-variants .product-variant__container .printType__img {
        padding: 6px 4px;
        display: grid;
        align-items: center;
      }
      product-variants .product-variant__container .printType__leftImg {
        line-height: 0;
      }
      product-variants .product-variant__container .printType__img::before {
        display: none;
      }
      product-variants .product-variant__container .printType__hoverImg {
        width: unset;
        overflow: unset;
        max-width: unset;
      }
      product-variants .product-variant__container .printType__hoverImg img {
        max-width: 350px;
      }
      product-variants .product-variant__container .printType__leftImg img {
        max-width: 80px;
        line-height: 0;
      }
      product-variants .product-variant__container .printType__rightContent {
        font-size: 9px;
      }
      product-variants .product-variant__container .printType__icon {
        width: 12px;
        height: 12px;
      }
      product-variants .product-variant__container[option="2"] .product-variant__item--radio:last-child {
        padding-inline-end: 0;
      }
      .template-product-dtf-gang-sheet .product-variant__item--radio label,
      .template-product-build-a-gang-sheet .product-variant__item--radio label {
        padding: 10px 6px;
      }
      .product-variant__item--radio label {
        gap: 2px;
      }
      @media ( max-width: 768px ) {
        .empty-div{display:none;}
        product-variants .product-variant__container .printType__hoverImg {
          right: 0;
          padding: 0;
          background-color: #fff;
          box-shadow: none;
        }
        product-variants .product-variant__container .printType__hoverImg img {
          padding: 8px;
          background-color: #fff;
          box-shadow: 0 0 6px #bdbdbd;
          border-radius: 6px;
          max-width: 300px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
        product-variants .product-variant__container .printType__img {
          padding: 3px 4px;
        }
      }
    {% endif %}
    .printType__leftImg.print-custom-change{display: flex; align-items: center; gap: 8px; color:#F6157E; font-weight:bolder;}
    .printType__leftImg.print-custom-change strong{font-weight:bolder;}
    .dyn-flex{display:flex; gap:12px; align-items: center; padding-top:8px;}
    .dyn-flex.start{align-items: flex-start;}
    .dyn-flex > *{flex:1}
    @media ( max-width: 768px ) {
      .dyn-flex{display:block; gap:4px; flex-flow:row wrap;}
    }
  </style>
{% endfor %}
<script>
    var __printType = 1
  var vivid_parent_seprator = '{{- pt.seprator_class -}}';
  var vivid_live_price = '{{- pt.enable_live -}}';
  $(function(){
    $(".navigatevivid").click(function(){
      const $target = $(".vividbox-node");
      if ($target.length) {
          $('html, body').animate({
            scrollTop: $target.offset().top - 0
          }, 800);
      }
    })

    $(document).on("click", ".gangsheet_active", function (e) {
      e.preventDefault();
      e.stopPropagation();
      var obj_this = $(this)
      setTimeout(function(){
        obj_this.addClass("active");
        $( `product-variants .product-variant__container[option="2"] .product-variant__item:first input`).trigger("click");
      })
    })

    document.addEventListener('click', function (e) {
      const insidePrintTypeImg = e.target.closest('.printType__img');
      if (!insidePrintTypeImg) {
          document.querySelectorAll('.printType__hoverImg.active')
              .forEach(function (el) {
                  el.classList.remove('active');
              });
      }
    });

    $(document).on("click", ".vividtype", function () {
      $("body").addClass("noscroll");
      var _tnode = $(this).attr("data-target");
      $(_tnode).show();
    })

    $(document).on("click", ".customTabelPopup__overlay.vivid-info-block", function () {
      $(this).hide();
      $("body").removeClass("noscroll");
    });

    $(document).on("click", ".customTabelPopup__close_1", function (e) {
      e.preventDefault();
      e.stopPropagation();

      $("body").removeClass("noscroll");
      $(".customTabelPopup__overlay.vivid-info-block").removeClass("active").css("display","none");
    });

    $(document).on("click", ".customTabelPopup", function (e) {
      e.stopPropagation();
    });

    
    $(".vividtype").click(function () {
      $("body").addClass("noscroll");
      var _tnode = $(this).attr("data-target");
      $(_tnode).css("display","flex");
    })

  })
  
  
      function GetGangSheetPrice() {
        try {
          let makeTitle = $( `product-variants .product-variant [option="1"]  .product-variant__input:checked` ).val();
          const is2ndOption = $( `product-variants .product-variant [option="2"]` );
          const is3rdOption = $( `product-variants .product-variant [option="3"]` );
          if ( is2ndOption.length > 0 ) {
            const optionSelected = is2ndOption.find( `.product-variant__input:checked` ).val();
            if ( typeof optionSelected !== 'undefined' && optionSelected ) {
              makeTitle = `${ makeTitle } / ${ optionSelected }`;
            }
          }
          if ( is3rdOption.length > 0 ) {
            const optionSelected = is3rdOption.find( `.product-variant__input:checked` ).val();
            if ( typeof optionSelected !== 'undefined' && optionSelected ) {
              makeTitle = `${ makeTitle } / ${ optionSelected }`;
            }
          }

          const currentObject = findObjectByKey( allVariants, `title`, makeTitle );
          //console.log ( 'currentObject', currentObject ,typeof vivid_price_gangsheet);
          if(typeof vivid_price_gangsheet == "function"){
            vivid_price_gangsheet(currentObject);
          }

        } catch ( err ) {
          console.log( `ERROR updatedGangSheetPrice()`, err.message );
        }
      }

  function vivid_price_gangsheet(currentObject){
    var _title = (currentObject.title).toLowerCase();
    //console.log(currentObject, " :currentObject ==========================================", _title.search("standard"))
    current_pprice = currentObject.price;
    //console.log("vivid_parent_seprator:",vivid_parent_seprator," vivid_live_price:",vivid_live_price,"current_pprice:",current_pprice);
    var isfunc = _title.search(variant_keyname);
    $( `product-variants .product-variant__container[option="2"] .product-variant__item:first`).hide()
    if(isfunc > -1){
      var grt_cprice = current_pprice * 1;
      var vividp = (current_pprice * 1.75) - current_pprice;
      var grt_nwprice = grt_cprice + vividp;
      var str_grt_cprice = (grt_cprice.toFixed(2)).toString();
      var str_grt_nwprice = (grt_nwprice.toFixed(2)).toString();
    }else{
      var str_grt_cprice = str_grt_nwprice = "XX.XX";
      $(".printType__block.gangsheet_active").removeClass("active")
    }
    
    setTimeout(function(){
      //$(".printType__rightContent."+ vivid_parent_seprator +" .vividprice").html("<span class='vpink_price'>(+75%)</span><span>+$"+vividp.toFixed(2) + " ea</span>");
      $(".printType__block .grt_vividprice").html("$" + str_grt_cprice + " ea</span>");
      $(".printType__block .vividprice_base").html("$" + str_grt_nwprice + " ea</span>");
    })
  }

</script>

<!-- Modal content -->
<div class="customTabelPopup__overlay vivid-info-block">
  <div class="customTabelPopup w3_bg">
    <header>
      <div class="text-right row_close">
      <span class="customTabelPopup__close_1">
        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 6L18 18" stroke="#fff" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#fff" stroke-linecap="round"></path>
        </svg>
      </span>
      </div>
      <div class="header-wrapper">
        <div class="text-right">
          <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/vividaf-logo-v2w_1.png?v=1765837353" class="logosize" />
        </div>
        <h2 class="popup-heading">
          {{ pt.popup_head }}
          <div>{{ pt.popup_head_1 }}</div>
        </h2>
      </div>
    </header>
    <section>
      <div class="diffcolor"><strong>See the Difference</strong></div>
      <main>
        <figure class="pad24">
          {% if pt.popup_mainimage != blank %}
            <img src="{{ pt.popup_mainimage | image_url: width: 700 }}"  alt="vivid image" />
          {% endif %}
          
        </figure>
        <div class="vivid-details">
          <h4>{{ pt.popup_heading }}</h4>
          {% if pt.popup_feature != blank %}
            <div>{{ pt.popup_feature }}</div>
          {% endif %}
          {% if pt.popup_feature_1 != blank %}
            <div>{{ pt.popup_feature_1 }}</div>
          {% endif %}
          {% if pt.popup_feature_2 != blank %}
            <div>{{ pt.popup_feature_2 }}</div>
          {% endif %}
          {% if pt.popup_feature_3 != blank %}
            <div>{{ pt.popup_feature_3 }}</div>
          {% endif %}
      </div>
      <div class="vivid-information pad24">
        <div class="vivid-card">
          <h5 class="head">What's New</h5>
          <div>
            {{ pt.popup_whatsnew }}
          </div>
        </div>
        <div class="vivid-card whatssame">
          <h5 class="head">What's the Same</h5>
          <div>
            {{ pt.popup_whatssame }}
          </div>
        </div>
      </div>
      </main>
    </section>
  </div>
</div>
<!-- ./Modal content -->
<style>
  body.noscroll {overflow: hidden; height: 100%; touch-action: none; overscroll-behavior: none;}
  .customTabelPopup__overlay.vivid-info-block{height: 100%;}
  .vivid-info-block{display:none;}
  .row_close{line-height:0;}
  .vivid-info-block .customTabelPopup{padding:0; border-radius:14px;}
  .vivid-info-block .customTabelPopup header{background:#282828; color:#fff; padding:8px 12px; padding-bottom:0;}
  .header-wrapper{display:flex; gap:8px; padding:8px; padding-bottom:24px; align-items:center; margin: auto;}
  .header-wrapper > *{flex:1;}
  .popup-heading{font-size:22px; margin-bottom:0; color:#fff;}
  .vivid-info-block .customTabelPopup section{background:#fff; padding:14px 24px; padding-bottom:48px;}
  .diffcolor{color:#8B09AB; text-align:center;}
  .vivid-details{display:flex; flex-flow:column wrap; gap:2px; line-height:24px; padding:12px; padding-bottom:0;}
  .vivid-details p{margin-bottom:0;}
  .pad24{padding-top:24px;}
  .vivid-information{display:flex; flex-flow:column wrap; gap:18px}
  .vivid-information > div{flex:1}
  .vivid-card{padding:26px 24px; background:#F4F4F4; border-radius:12px; font-size:14px;}
  .vivid-card .head{font-size:16px; font-weight:bold;}
  .vivid-card ul{list-style-type:disc; padding-left:15px; display:flex; gap:2px; flex-flow:column wrap;}
  .vivid-card.whatssame li:first-child strong{color:#CD30B0;}
  .customTabelPopup__close_1{cursor:pointer;}
  .customTabelPopup__overlay{justify-content:center;}
  @media(min-width:768px){
    .vivid-info-block{padding:0px;}
    .header-wrapper{gap:16px; padding:0px 35px 12px;}
    .vivid-info-block .customTabelPopup{max-width:700px; padding:0; max-height: 88vh; overflow: hidden; overflow-y: auto;}
    .popup-heading{font-size:24px;}
    .vivid-info-block .customTabelPopup section{padding:14px 46px;}
    .vivid-details{padding-left:44px; padding-right:44px; padding-top:24px;}
    .vivid-information{flex-flow:row wrap;}
    .logosize{max-height:66px;}
  }
  @media(max-width:768px){
    .vivid-info-block .customTabelPopup{max-height: calc(100vh - 96px); width: calc(98% - 16px); overflow: auto; margin-top: 48px !important;}
  }
</style>