{%liquid
  assign isupsell = false
  for item in cart.items
    assign pType = item.product.type | escape | downcase
    assign beatles = pType | split: " " | join : "_"
    assign type_list = 'custom_transfers,uv_dtf' | split : ","
    if type_list contains beatles
      assign isupsell = true
    endif
  endfor
%}
{% if isupsell %}
<link rel="stylesheet" href="{{ 'upsellPopup.css' | asset_url }}" type="text/css" media="print" onload="this.onload=null;this.media='all';" />
<upsell-popup class="upsell">
  <div class="upsell__popUp">
    <svg class="upsell__popUp__close" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
    <popup-main-screen class="upsell__main main">
      <popup-collection-data>
        <h2 class="main__title">
          Don't Forget Your Blanks!
        </h2>
        <p class="main__description">
          Choose From Our Popular Blank Products Below To Complete Your Order.
        </p>

        <div class="value-props">
          <div class="value-prop">✓ Free next day delivery</div>
          <div class="value-prop">✓ No minimums</div>
          <div class="value-prop">✓ 2,000+ products</div>
          <div class="value-prop">
            ✓ Competitive pricing
            <span class="tooltip">
              <span class="info-circle">i</span>
              <span class="tooltiptext">Get pricing that protects your profit margin. Our blank apparel pricing rivals direct wholesalers and is as low or lower than most secondary market suppliers.</span>
            </span>
          </div>
        </div>
        <yotpo-data-to-collect>
          {% for prod in settings.upsellBlanksCollection.products limit: settings.showItems %}
            <div class="yotpo___item" pid="{{ prod.id }}">
              <div
                class="yotpo-widget-instance"
                data-yotpo-instance-id="447610"
                data-yotpo-product-id="{{ prod.id }}"
                data-yotpo-section-id="{{ section.id }}"
                data-yotpo-preloaded-data=""
              ></div>
            </div>
          {% endfor %}
        </yotpo-data-to-collect>
        <popup-prod-list>
          <img src="{{ 'loader.gif' | asset_url }}" class="__loaded">
          <placeholder-data>
            {% for prod in settings.upsellBlanksCollection.products limit: 1 %}
              <div class="prod__Item" pid="{{ prod.id }}" handle="{{ prod.url }}">
                <div class="prod__Item__img">
                  <img
                    src="{{ prod.featured_image | image_url: width: 300 }}"
                    alt="{{ prod.title | escape }}"
                    class="prod__Item__triggerAction"
                  >
                </div>
                <div class="prod__Item__content">
                  <span class="prod__Item__startFrom">starting at</span>
                  <div class="prod__Item__price">
                    {{ prod.price_min | money_without_currency | prepend: '$' }}
                  </div>
                  <div class="prod__Item__yotpo">
                    <div
                      class="yotpo-widget-instance"
                      data-yotpo-instance-id="447610"
                      data-yotpo-product-id="{{ prod.id }}"
                      data-yotpo-section-id="{{ section.id }}"
                      data-yotpo-preloaded-data=""
                    ></div>
                  </div>
                  <h4 class="prod__Item__title">{{ prod.title }}</h4>
                  <div class="prod__Item__pCode">{{ prod.metafields.blanks.second_title_for_blanks }}&nbsp;</div>
                </div>
                <div class="prod__Item__atc">
                  <button class="prod__Item__triggerAction button" data-style="{{ prod.first_available_variant.option1 }}">+ Select Sizes</button>
                </div>

                <div class="prod__Item__popUp hidden">
                  <article class="prod_relatedpopup"></article>
                </div>
              </div>
            {% endfor %}
          </placeholder-data>
        </popup-prod-list>
        <div class="upsell__popUp__shopAll">
          <a href="/collections/blank-apparel">
            <span>Shop All Blank Products</span>
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3333 5L20 12M20 12L13.3333 19M20 12L4 12" stroke="#171717" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </a>
        </div>

        <div class="upsell__popUp__checkout">
          <a href="javascript://" onclick="location.href='/checkout';">
            No Thanks, Continue to Checkout
          </a>
        </div>
      </popup-collection-data>
      <popup-product-data>
        <span>
          <go-back-btn>
            <svg enable-background="new 0 0 32 32" width="16px" height="16px" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M31.106,15H3.278l8.325-8.293 c0.391-0.391,0.391-1.024,0-1.414c-0.391-0.391-1.024-0.391-1.414,0l-9.9,9.899c-0.385,0.385-0.385,1.029,0,1.414l9.9,9.9 c0.391,0.391,1.024,0.391,1.414,0c0.391-0.391,0.391-1.024,0-1.414L3.278,17h27.828c0.552,0,1-0.448,1-1 C32.106,15.448,31.658,15,31.106,15z" fill="#3eaeff" fill-rule="evenodd" id="Arrow_Back"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <span>Back</span>
          </go-back-btn>
        </span>
        <div class="popup-product-data"></div>
      </popup-product-data>
    </popup-main-screen>
  </div>
</upsell-popup>
{%-liquid
  assign isBlankPage = false
  for tag in product.tags
    if tag contains 'Blank'
      assign isBlankPage = true
      break
    endif
  endfor
  comment
  assign isEligibleForUpsell = false
  if product.title contains 'DTF Transfers By Size' or product.title contains 'DTF Gang Sheet Builder' or product.title contains 'UV DTF 3D PermaStickers™ by Size'
    assign isEligibleForUpsell = true
  endif

  for item in cart.items
    if item.product.type contains 'custom_transfers'
      assign isEligibleForUpsell = true
    endif
  endfor
  endcomment
-%}
{%- comment -%}
{% if template.name != 'product' %}
  <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
  <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
  <script src="{{ 'slick.min.js' | asset_url }}"></script>
{% endif %}
{%- endcomment -%}

{%- capture getUpsellList__ -%}
  {%- assign apparelProductChild__count = 1 -%}
  {% for prod__ in settings.upsellBlanksCollection.products limit: settings.showItems %}
    <div class="prod__Item" pid="{{ prod__.id }}" handle="{{ prod__.url }}">
      <div class="prod__Item__img">
        <img
          src="{{ prod__.first_available_variant.featured_image | image_url: width: 300 }}"
          alt="{{ prod__.title | escape }}"
          class="prod__Item__triggerAction" data-style="{{ prod__.metafields.specs.shirt_style }}" data-variant="{{ prod__.first_available_variant.option1 }}"
        />
      </div>
      <div class="prod__Item__content">
        <span class="prod__Item__startFrom">starting at</span>
        <div class="prod__Item__price">
          {{ prod__.price_min | money_without_currency | prepend: '$' }}
        </div>
        <div class="prod__Item__yotpo">
          <div
            class="yotpo-widget-instance"
            data-yotpo-instance-id="447610"
            data-yotpo-product-id="{{ prod__.id }}"
            data-yotpo-section-id="{{ section.id }}"
            data-yotpo-preloaded-data=""
          ></div>
        </div>
        <h4 class="prod__Item__title">{{ prod__.title }}</h4>
        <div class="prod__Item__pCode">{{ prod__.metafields.blanks.second_title_for_blanks }}&nbsp;</div>
      </div>
      <div class="prod__Item__atc">
        <button class="prod__Item__triggerAction button" data-style="{{ prod__.metafields.specs.shirt_style }}" data-variant="{{ prod__.first_available_variant.option1 }}">+ Select Sizes</button>
      </div>

      <div class="prod__Item__popUp hidden">
        {% if apparelProductChild__count == 1 %}
          {%- assign showData = true -%}
          {%- assign apparelProductChild__count = apparelProductChild__count | plus: 1 -%}
        {% else %}
          {%- assign showData = false -%}
          {%- assign apparelProductChild__count = apparelProductChild__count | plus: 1 -%}
        {% endif %}
        {% render 'relatedProd', prod_: prod__, section: section, showJSData: showData, isUpsellPopup: true %}
      </div>
    </div>
  {% endfor %}
{%- endcapture -%}

<script>
  let isEligibleForUpsell = {{ isEligibleForUpsell | json }};
  const isBlankPage = {{ isBlankPage | json }};
  const upsellData = {{ getUpsellList__ | json }};
  const upsell_selector = `[{{ settings.selectorCriteria }}]`;
</script>
<script src="{{ 'global_blankupsell.js' | asset_url }}" defer="defer"></script>
      <style>
        popup-product-data .pdpRelatedProducts__popUp__close{position: sticky; top: 4px; left: 100%; cursor: pointer; z-index: 2; width: 24px; height: 24px; display:none}
      </style>
{% endif %}