{% if product.variants.first.options.size == 2 %}
  {% render "apparel-variant-price-cards" %}
{% else %}

{%- assign page_url = content_for_header
  | split: '"pageurl":"'
  | last
  | split: '"'
  | first
  | split: request.host
  | last
  | replace: '\/', '/'
  | replace: '%20', ' '
  | replace: '\u0026', '&'
-%}
{% assign param_color = null %}
{% assign param_variant_id = null %}

{%- for i in (1..1) -%}
  {%- unless page_url contains '?' -%}{% break %}{%- endunless -%}
  {%- assign query_string = page_url | split: '?' | last -%}
  {%- assign qry_parts = query_string | split: '&' -%}

  {%- for part in qry_parts -%}
    {%- assign key_and_value = part | split: '=' -%}
    {%- if key_and_value.size > 1 -%}
      {% if key_and_value[0] == 'variant' %}
        {% assign param_arr = key_and_value[1] | split: '_' %}
        {% assign param_color_name = param_arr[0] | url_decode %}
        {% assign param_color = param_arr[0] | upcase | url_decode %}
        {% assign param_variant_id = param_arr[1] %}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}


{% assign style_category = 'style-' | append: product.metafields.specs.shirt_style | downcase %}
{% assign style_collection = product.collections | where: "handle", style_category | first %}
{% paginate style_collection.products by 1000 %}
{% assign sortedColors = style_collection.products | sort: "url"  %}
{% endpaginate %}

{% assign defaultProduct = blank %}
{% assign selectedProduct = blank %}
{% assign defaultColor = product.metafields.specs.default_child_color | upcase %}
{% for style_product in sortedColors %}
  {% assign shirt_color = style_product.metafields.specs.shirt_color | upcase %}
  {% if style_product.metafields.specs.shirt_color == defaultColor %}
    {% assign defaultProduct = style_product %}
  {% endif %}
  {% if param_color and shirt_color == param_color %}
    {% assign selectedProduct = style_product %}
  {% endif %}
{% endfor %}

{% if selectedProduct == blank %}
  {% assign selectedProduct = defaultProduct %}
{% endif %}

{% assign variantCard = false %}
{% if product.options.size > 1 %}
  
  {% assign variantCard = true %}
  {%liquid

    assign white_color = blank

     assign whiteoption = "White,WHITE,white"
      assign whiteoption_array = whiteoption | split: ","
    
      for opt in whiteoption_array
        assign matched_variants = product.variants | where: "option1", opt
        if matched_variants.size > 0
          assign whmatched_variants = matched_variants
          break
        endif
      endfor
    
    
    if whmatched_variants.size > 0
      assign shirt_color = "White"
      assign whiteVariantSmall = whmatched_variants | sort: "price" | first
    endif
    

    
    assign black_color = blank

    assign matched_variants = product.variants | reject: "option1", "WHITE"
    assign colorVariantCheapest = matched_variants | sort: "price" | first

    
comment
     assign coloroption = "S,OS"
      assign coloroption_array = coloroption | split: ","
      for opt in coloroption_array
        assign comatched_variants = matched_variants | where: "option2", opt
        if comatched_variants.size > 0
          assign colorVariantSmall = matched_variants
          break
        endif
      endfor
endcomment

    
    assign colorVariantSmall = colorVariantCheapest
    
    
    if colorVariantSmall.size > 0
      assign shirt_color = "Colors"
    endif
  %}
  {% comment %}
    
  {% if param_color_name != blank and param_color_name != "WHITE" %}
    {% paginate product.variants by 2049 %}
      {% for variant in product.variants %}
        {% assign prod_variant_count = prod_variant_count | plus: 1 %}
        {% if variant.option1 == param_color_name %}
          {% if variant.option2 == "S" %}
            {% assign colorVariantSmall = variant %}
            {% assign colorVariantCheapest = colorVariantSmall %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endpaginate %}
  {% endif %}

  {% endcomment %}

  
{% else %}
  {% assign whiteVariantSmall = blank %}
  {% assign grayVariantSmall = blank %}
  {% assign colorVariantSmall = blank %}
  {% assign colorVariantCheapest = blank %}
  {% assign whiteTierPricing = blank %}
  {% assign grayTierPricing = blank %}
  {% assign colorTierPricing = blank %}
  {% for style_product in sortedColors %} 
    {% assign shirt_color = style_product.metafields.specs.shirt_color | upcase %}
    {% if shirt_color == "WHITE" %}
        {% if whiteTierPricing == blank  %}
          {% assign whiteVariantSmall = style_product.variants | where: "title", "S" | first %}
          {% if whiteVariantSmall == blank %}
            {% assign whiteVariantSmall = style_product.variants | first %}
          {% endif %}
          {% assign whiteTierPricing = whiteVariantSmall.metafields.custom.tier_pricing | split: "," %}
        {% endif %}
    {% elsif shirt_color == "BLACK" %}
        {% if grayTierPricing == blank  %}
          {% assign grayVariantSmall = style_product.variants | where: "title", "S" | first %}
          {% assign grayTierPricing = grayVariantSmall.metafields.custom.tier_pricing | split: "," %}
        {% endif %}
      
        {% assign firstVariant = style_product.variants | first %}
        {% if colorVariantCheapest == blank or firstVariant.price < colorVariantCheapest.price  %}
          {% assign colorVariantCheapest = firstVariant %}
        {% endif %}
    {% elsif shirt_color == param_color or param_color == 'WHITE' or param_color == 'BLACK' %}
        {% assign firstVariant = style_product.variants | first %}
        {% if colorVariantCheapest == blank or firstVariant.price < colorVariantCheapest.price  %}
          {% assign colorVariantCheapest = firstVariant %}
        {% endif %}
      
        {% if colorTierPricing == blank or colorTierPricing.size != 7 %}
          {% assign colorVariantSmall = style_product.variants | where: "title", "S" | first %}
          {% if colorVariantSmall == blank %}
            {% assign colorVariantSmall = firstVariant %}
          {% endif %}
          {% assign colorTierPricing = colorVariantSmall.metafields.custom.tier_pricing | split: "," %}
        {% endif %}
    {% elsif param_color == blank and shirt_color == selectedProduct.metafields.specs.shirt_color %}
        {% assign firstVariant = style_product.variants | first %}
        {% if colorVariantCheapest == blank or firstVariant.price < colorVariantCheapest.price  %}
          {% assign colorVariantCheapest = firstVariant %}
        {% endif %}
      
        {% if colorTierPricing == blank or colorTierPricing.size != 7 %}
          {% assign colorVariantSmall = style_product.variants | where: "title", "S" | first %}
          {% if colorVariantSmall == blank %}
            {% assign colorVariantSmall = firstVariant %}
          {% endif %}
          {% assign colorTierPricing = colorVariantSmall.metafields.custom.tier_pricing | split: "," %}
        {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}


{% assign whiteMSRP = whiteVariantSmall.price | times: 1.96 %}
{% assign colorMSRP = colorVariantCheapest.price | times: 1.96 %}

{% if variantCard == false %}

  {% if whiteTierPricing.size == 7 and colorTierPricing.size == 7 %}
    <style>
      .savePercent {
        display:block;
      }
      @media all and (max-width: 500px) {
        .savePercent {
          display:none;
        }
      }
    </style>
    {% if isPopUp %}
      <div class="relatedPopupPrices">
        <table style="width:100%;">
          <tr>
            <td>
              <div class="relatedPopupPrices__item">
                <div class="relatedPopupPrices__left">
                  <div class="relatedPopupPrices__title">White</div>
                  <div class="relatedPopupPrices__savePercent savePercent">Save 49%</div>
                </div>
                <div class="relatedPopupPrices__right">
                  <div style="font-size: 0.8em;">Starting at</div>
                  <div style="font-size: 1.5em; color: #000; font-weight: bold; color: #03406c;">{{ whiteVariantSmall.price | money }}</div>
                  <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ whiteMSRP | money }}</span></div>
                </div>
              </div>
            </td>
            <td style="width:20px;">
              &nbsp;
            </td>
            <td>
              <div class="relatedPopupPrices__item">
                <div class="relatedPopupPrices__left">
                  <div class="relatedPopupPrices__title">Colors</div>
                  <div class="relatedPopupPrices__savePercent savePercent">Save 49%</div>
                </div>
                <div class="relatedPopupPrices__right">
                  <div style="font-size: 0.8em;">Starting at</div>
                  <div style="font-size: 1.5em; color: #000; font-weight: bold; color: #03406c;">{{ colorVariantSmall.price | money }}</div>
                  <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ colorMSRP | money }}</span></div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    {% else %}
      <div>
        <table style="width:100%;">
          <tr>
            <td>
              <div style="padding:20px;background-color:#f6f6f6;padding-right:20px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;">
                <div style="font-size:1.1em;font-weight:bold;margin-bottom:20px;">White<div class="savePercent" style="background-color:#03406c;color:#fff;border-radius:5px;padding:5px;padding-left:10px;padding-right:10px;float:right;font-size:0.8em;font-weight:bold;">Save 49%</div></div>
                <div style="font-size:0.8em;">Starting at</div>
                <div style="font-size:1.5em;color:#000;font-weight:bold;color:#03406c;">{{ whiteVariantSmall.price | money }}</div>
                <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ whiteMSRP | money }}</span></div>
              </div>
            </td>
            <td style="width:20px;">
              &nbsp;
            </td>
            <td>
              <div style="padding:20px;background-color:#f6f6f6;padding-right:20px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;border:2px solid #3eaeff;box-shadow:0 4px 16px rgba(62,174,255,0.18);">
                <div style="font-size:1.1em;font-weight:bold;margin-bottom:20px;">Colors<div class="savePercent" style="background-color:#03406c;color:#fff;border-radius:5px;padding:5px;padding-left:10px;padding-right:10px;float:right;font-size:0.8em;font-weight:bold;">Save 49%</div></div>
                <div style="font-size:0.8em;">Starting at</div>
                <div style="font-size:1.5em;color:#000;font-weight:bold;color:#03406c;">{{ colorVariantSmall.price | money }}</div>
                <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ colorMSRP | money }}</span></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    {% endif %}
    
  {% else %}
    <style>
      .savePercent {
        display:block;
      }
      @media all and (max-width: 500px) {
        .savePercent {
          display:none;
        }
      }
    </style>
  
    {% if isPopUp %}
      <div class="relatedPopupPrices">
        <table style="width:100%;">
          <tr>
            <td>
              <div class="relatedPopupPrices__item">
                <div class="relatedPopupPrices__left">
                  <div class="relatedPopupPrices__title">White</div>
                  <div class="relatedPopupPrices__savePercent savePercent">Save 49%</div>
                </div>
                <div class="relatedPopupPrices__right">
                  <div style="font-size: 0.8em;">Starting at</div>
                  <div style="font-size: 1.5em; color: #000; font-weight: bold; color: #03406c;">{{ whiteVariantSmall.price | money }}</div>
                  <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ whiteMSRP | money }}</span></div>
                </div>
              </div>
            </td>
            <td style="width:20px;">
              &nbsp;
            </td>
            <td>
              <div class="relatedPopupPrices__item">
                <div class="relatedPopupPrices__left">
                  <div class="relatedPopupPrices__title">Colors</div>
                  <div class="relatedPopupPrices__savePercent savePercent">Save 49%</div>
                </div>
                <div class="relatedPopupPrices__right" aa="{{ colorVariantSmall }}">
                  <div style="font-size: 0.8em;">Starting at</div>
                  <div style="font-size: 1.5em; color: #000; font-weight: bold; color: #03406c;">
                    {% if colorVariantSmall != blank %}
                      {{ colorVariantSmall.price | money }}
                    {% elsif colorMSRP != blank %}
                      {%- assign colorPrice_ = colorMSRP | divided_by: 100 | times: 51 -%}
                      {{ colorPrice_ | money }}
                    {% endif %}
                  </div>
                  <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ colorMSRP | money }}</span></div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    {% elsif colorVariantSmall.price != blank %}
      <div>
        <table style="width:100%;">
          <tr>
            <td>
              <div style="padding:20px;background-color:#f6f6f6;padding-right:20px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;border:2px solid #3eaeff;box-shadow:0 4px 16px rgba(62,174,255,0.18);">
                <div style="font-size:1.1em;font-weight:bold;margin-bottom:20px;">Colors<div class="savePercent" style="background-color:#03406c;color:#fff;border-radius:5px;padding:5px;padding-left:10px;padding-right:10px;float:right;font-size:0.8em;font-weight:bold;">Save 49%</div></div>
                <div style="font-size:0.8em;">Starting at</div>
                <div style="font-size:1.5em;color:#000;font-weight:bold;color:#03406c;">{{ colorVariantSmall.price | money }}</div>
                <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ colorMSRP | money }}</span></div>
              </div>
            </td>
            <td style="width:20px;">
              &nbsp;
            </td>
            <td style="visibility:hidden;">
              <div style="padding:20px;background-color:#f6f6f6;padding-right:20px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;">
                <div style="font-size:1.1em;font-weight:bold;margin-bottom:20px;">White<div class="savePercent" style="background-color:#03406c;color:#fff;border-radius:5px;padding:5px;padding-left:10px;padding-right:10px;float:right;font-size:0.8em;font-weight:bold;">Save 49%</div></div>
                <div style="font-size:0.8em;">Starting at</div>
                <div style="font-size:1.5em;color:#000;font-weight:bold;color:#03406c;">{{ whiteVariantSmall.price | money }}</div>
                <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ whiteMSRP | money }}</span></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    {% endif %}
  {% endif %}
{% else %}
  
  <div>
      <table style="width:{% if whiteVariantSmall and colorVariantSmall %}100%{% else %}50%{% endif %};">
        <tr>
          
  {% if whiteVariantSmall %}
          <td style="width: calc(50% - 10px)">
            <div style="padding:20px;background-color:#f6f6f6;padding-right:20px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;">
              <div style="font-size:1.1em;font-weight:bold;margin-bottom:20px;">White<div class="savePercent" style="background-color:#03406c;color:#fff;border-radius:5px;padding:5px;padding-left:10px;padding-right:10px;float:right;font-size:0.8em;font-weight:bold;">Save 49%</div></div>
              <div style="font-size:0.8em;">Starting at</div>
              <div style="font-size:1.5em;color:#000;font-weight:bold;color:#03406c;">{{ whiteVariantSmall.price | money }}</div>
              <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ whiteMSRP | money }}</span></div>
            </div>
          </td>
  {% endif %}
  {% if whiteVariantSmall and colorVariantSmall %}
          <td style="width:20px;">
            &nbsp;
          </td>
  {% endif %}
  
  {% if colorVariantSmall %}
          <td>
            <div style="padding:20px;background-color:#f6f6f6;padding-right:20px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;border:2px solid #3eaeff;box-shadow:0 4px 16px rgba(62,174,255,0.18);">
              <div style="font-size:1.1em;font-weight:bold;margin-bottom:20px;">Colors<div class="savePercent" style="background-color:#03406c;color:#fff;border-radius:5px;padding:5px;padding-left:10px;padding-right:10px;float:right;font-size:0.8em;font-weight:bold;">Save 49%</div></div>
              <div style="font-size:0.8em;">Starting at</div>
              <div style="font-size:1.5em;color:#000;font-weight:bold;color:#03406c;">{{ colorVariantCheapest.price | money }}</div>
              <div style="font-size:0.8em;">Retail Price: <span style="text-decoration: line-through;">{{ colorMSRP | money }}</span></div>
            </div>
          </td>
  {% endif %}
        </tr>
      </table>
    </div>
{% endif %}

{% endif %}