{{ 'companion-products.css' | asset_url | stylesheet_tag }}

{% assign companion_category = 'companion-' | append: product.metafields.specs.shirt_style %}
{% assign collection = collections | where: 'handle', companion_category | first %}

{% if collection %}
  <div id="product-companions" class="shopify-section" data-js-inert="">
    <div class="product-recommendations">
      <div class="container--large container--vertical-space remove-empty-space">
        <div class="section-heading section-heading--left section-heading--one-row gutter-bottom--large">
          <div class="section-heading__text remove-empty-space">
            <span class="section-heading__title text-font--secondary text-size--regular">Companion Products</span>
          </div>
        </div>
        <div class="grid grid--layout grid-4 grid-portable-3 grid-lap-2 grid-tiny-1">
          {% for collectionProduct in collection.products %}
            <div id="product-item-{{ collectionProduct.id }}" class="product-item" data-js-product-item="">
              <a
                href="/products/{{ collectionProduct.handle }}"
                class="product-item__image"
                style="padding-top:100%"
                data-js-product-item-image=""
              >
                <figure
                  class="lazy-image lazy-image--background lazy-image--fit product-item__image-figure product-item__image-figure--top lazy-image--zoom-animation product-item__image-no-slider lazyloaded lazy-image--revealed"
                  data-ratio="1"
                  style="padding-top: 100%"
                  data-crop="true"
                >
                  <img
                    src="{{ collectionProduct.featured_image | img_url: '800x800' }}"
                    alt="{{ collectionProduct.title }}"
                    class="img"
                    width="1200"
                    height="1500"
                    data-ratio="1"
                    sizes="(max-width: 359px) calc(100vw - 30px), (max-width: 767px) calc((100vw - 50px) / 2),(max-width: 1023px) calc((100vw - 100px) / 3), (max-width: 1400px) calc((100vw - 120px) / 4), 320px"
                    loading="lazy"
                    onload="this.parentNode.classList.add('lazyloaded');imageReveal.observe(this.parentNode);"
                  >
                </figure>
              </a>
              <a
                class="product-item__title"
                href="/products/{{ collectionProduct.handle }}"
                title="{{ collectionProduct.title }}"
              >
                <div class="companion-product-item__text product-item__text gutter-top--regular gutter-bottom--regular spacing--xlarge remove-empty-space text-align--left">
                  {% if collectionProduct.vendor %}
                    {% assign formattedVendor = collectionProduct.vendor
                      | downcase
                      | replace: ' ', '_'
                      | replace: '+', '_'
                      | replace: '.', ''
                    %}
                    {% assign formattedVendor = formattedVendor | remove: '__' %}
                    {% assign formattedVendor = formattedVendor | replace: '_', '__' %}
                    {% assign formattedVendor = formattedVendor | split: '__' | join: '_' %}
                    {% assign formattedVendor = formattedVendor | strip %}
                    <div class="product-item__vendor text-size--small equalize-white-space">
                      <p>starting at</p>
                      <div class="remove-line-height-space">
                        {% if formattedVendor != blank %}
                          <img
                            class="vendor-logos"
                            src="//ninjatransfers.com/cdn/shop/t/551/assets/{{ formattedVendor }}.png"
                            alt="{{ collectionProduct.vendor | escape }}"
                          >
                        {% else %}
                          <p>Unknown Vendor</p>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}

                  <div class="product-item__price text-size--small equalize-white-space">
                    <div class="remove-line-height-space" data-js-product-item-price="">
                      <div class="product-price">
                        <span class="product-price--original pps" data-js-product-price-original="">
                          {{- collectionProduct.price | money -}}
                        </span>
                        <del class="product-price--compare" data-js-product-price-compare=""></del>
                        <span class="product-price--unit pps text-size--regular" data-js-product-price-unit=""></span>
                      </div>
                    </div>
                  </div>

                  <style>
                    .yotpo-sr-star-full path {
                        fill: rgb(255, 205, 0) !important;
                     }
                    div#yotpo-star-rating-reviews-summary {
                      display: none !important;
                            }
                    .companion-product-item__text #yotpoProductReviews{
                         margin-bottom: 0px;
                    }
                    .companion-product-item__text .product-price--original span{
                       padding-bottom: 0px;
                                        }
                    .companion-product-item__text .estimatedDeliveryDate {
                      padding-bottom: 0px;
                    }
                  </style>

                  <div id="yotpoProductReviews">
                    <div class="style-{{ product.metafields.specs.shirt_style }}">
                      <div
                        class="yotpo-widget-instance"
                        data-yotpo-instance-id="447610"
                        data-yotpo-product-id="{{collectionProduct.id}}"
                        data-yotpo-cart-product-id="{{item.product.id}}"
                        data-yotpo-section-id="{{template.name}}"
                      ></div>
                    </div>
                  </div>

                  <div class="estimatedDeliveryDateEarly"><p>Earliest Delivery</p></div>
                  <!-- <div class="estimatedDeliveryDateText">Tomorrow, Sep. 4</div> -->
                  <div class="estimatedDeliveryDate" style=""></div>

                  <div class="remove-line-height-space--small">
                    <span class="text-animation--underline-thin text-size--large text-weight--bold">
                      {{- collectionProduct.title -}}
                    </span>
                  </div>

                  {% comment %}
                    <a href="/products/{{ collectionProduct.handle }}" class="button button--outline product-item__link button--fullwidth button--icon">
                       <span class="button__icon" role="img" aria-hidden="true">
                          <svg width="21" height="9" viewBox="0 0 21 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path d="M20.354 4.854a.5.5 0 0 0 0-.708L17.172.964a.5.5 0 1 0-.707.708L19.293 4.5l-2.828 2.828a.5.5 0 1 0 .707.708l3.182-3.182ZM0 5h20V4H0v1Z" fill="#000"></path>
                          </svg>
                       </span>
                       <span class="button__text text-weight-- text-size--">View product</span>
                    </a>
                  {% endcomment %}
                </div>
              </a>
              <div class="product-item__badges"></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<script>
     document.addEventListener("DOMContentLoaded", function() {
      function cleanUpDeliveryDates() {
          let deliveryDateElements = document.querySelectorAll('.companion-product-item__text .estimatedDeliveryDate');

          const monthAbbreviations = {
              'January': 'Jan.',
              'February': 'Feb.',
              'March': 'Mar.',
              'April': 'Apr.',
              'May': 'May.',
              'June': 'Jun.',
              'July': 'Jul.',
              'August': 'Aug.',
              'September': 'Sep.',
              'October': 'Oct.',
              'November': 'Nov.',
              'December': 'Dec.'
          };

          deliveryDateElements.forEach(function(element) {
              let text = element.textContent.trim();
              let prefix = 'Get it by';
              if (text.startsWith(prefix)) {
                  let dateText = text.slice(prefix.length).trim();

                  for (let [fullMonth, abbreviation] of Object.entries(monthAbbreviations)) {
                      let regex = new RegExp(fullMonth, 'g');
                      dateText = dateText.replace(regex, abbreviation);
                  }

                  element.textContent = dateText;
              }
          });
      }

      let observer = new MutationObserver(function(mutations) {
          mutations.forEach(function(mutation) {
              if (mutation.type === 'childList' || mutation.type === 'characterData') {
                  cleanUpDeliveryDates();
              }
          });
      });

      let config = { childList: true, subtree: true, characterData: true };
      observer.observe(document.body, config);
      cleanUpDeliveryDates();

      // Optional: Disconnect observer after a certain period if needed
      // setTimeout(() => observer.disconnect(), 10000);
  });
</script>
