{%-liquid
  capture getUploadedImg
    for prop in item.properties
      assign prop_first_char = prop.first | slice: 0
      if prop.last != blank and prop_first_char != '_'
    if prop.first contains "Vector"  and prop.last contains 'imgix'  or prop.first contains "Vector"  and prop.last contains "ninja-services"
          echo prop.last
        endif
      endif
    endfor
  endcapture
   
   capture getUploadedImg2
    for prop in item.properties
      assign prop_first_char = prop.first | slice: 0
      if prop.last != blank and prop_first_char != '_'
       if prop.first contains "Original" and prop.last contains 'imgix' 
          echo prop.last
        endif
      endif
    endfor
  endcapture 

  if getUploadedImg != blank
    if getUploadedImg contains '.xai'
      assign getUploadedImg = ''
    elsif getUploadedImg contains '.xeps'
      assign getUploadedImg = ''
    elsif getUploadedImg contains '.xpdf'
      assign getUploadedImg = ''
    endif
  endif

  assign pType = item.product.type | escape | downcase
  assign beatles = pType | split: " "
  assign isBlank = false
  for tag in item.product.tags
    if tag contains 'Blank'
      assign isBlank = true
      break
    endif
  endfor
   
   assign isshopify_colletive = false
   if item.product.tags contains "Shopify Collective"
     assign isshopify_colletive = true
   endif
   
-%}
<div id="item-{{ item.id }}" is-blank="{{ isBlank }}" test data-product_type="{{ beatles | join: "_" }}" class="{% if isshopify_colletive %} shopify_colletive_enable{% endif %} {{ beatles | join: "_" }} cart-item{% if is_child %} nt-child-row{% endif %} {% if isAntigroDesignerProduct %} antigro-designer {% endif %} {% if item.product.id == 7578022281299 %}nodelete{% endif %}  {% if item.product.id == settings.gift_wrap_product.id %} cart-item--gift-wrapping {% endif %}" data-title="{{ item.product.title | escape }} {%- unless item.product.has_only_default_variant -%} ({{ item.variant.title | escape }}) {%- endunless -%}" data-id="{{ item.key }}" data-product-id="{{ item.product.id }}" data-qty="{{ item.quantity }}" data-js-cart-item>
      {%liquid
                                assign noaction = ""
                                if getUploadedImg != blank or getUploadedImg2 != blank
                                
                                  if  getUploadedImg == blank
                                    assign getUploadedImg = getUploadedImg2
                                  endif

                                  if getUploadedImg contains "?"
                                    assign getUploadedImg  = getUploadedImg | append: "&h=100&auto=compress&q=50&trim=colorUnlessAlpha&fm=png"
                                  else
                                    assign getUploadedImg  = getUploadedImg | append: "?h=100&auto=compress&q=50&trim=colorUnlessAlpha&fm=png"
                                  endif
                                
                                  assign getUploadedImg  = getUploadedImg | replace:"ninja-services-production-ninjauploadss3bucket-zks2mguobhe4.s3.amazonaws.com","ninjauploads-production.imgix.net"

                                
                                  assign isbg = item.properties["Remove Background"] | downcase
                                  if isbg == "no"
                                
                                    if getUploadedImg contains "&"
                                      assign getUploadedImg = getUploadedImg | replace : "?bg-remove=true&" , "?"
                                      if getUploadedImg contains "?h=100"
                                        if getUploadedImg contains "&"
                                          assign getUploadedImgThumb = getUploadedImg | replace : "?h=100&" , "?"
                                        else
                                          assign getUploadedImgThumb = getUploadedImg | replace : "?h=100&" , ""
                                        endif
                                      else
                                        assign getUploadedImgThumb = getUploadedImg | replace : "&h=100" , ""
                                      endif
                                    else
                                      assign getUploadedImg = getUploadedImg | replace : "?bg-remove=true" , ""
                                      assign getUploadedImgThumb = getUploadedImg | replace : "&q=50" , ""
                                    endif
                                
                                  else
                                
                                    assign getUploadedImgThumb = getUploadedImg
                                    if getUploadedImg contains "?h=100" and getUploadedImg contains "&"
                                        assign getUploadedImgThumb = getUploadedImg | replace : "?h=100&" , "?"
                                    elsif getUploadedImg contains "&h=100"
                                      assign getUploadedImgThumb = getUploadedImg | replace : "&h=100" , ""
                                    endif
                                
                                  endif
                                else
                                  assign noaction = "style='pointer-events:none'"
                                endif
                                if beatles contains 'gang'
                                  assign getFileExt = getUploadedImg | split: '?' | first | split: '.' | last | strip
                                  assign getFileExt = getFileExt | prepend: '.'
                                  assign getBaseURL = getUploadedImg | split: getFileExt | first
                                  if getFileExt == '.png'
                                    assign getUploadedImgThumb = getBaseURL | append: getFileExt | append: '?auto=compress&q=50&w=1000'
                                    assign getUploadedImg = getBaseURL | append: getFileExt | append: '?auto=compress&q=50&h=100&w=1000'
                                  elsif getFileExt == '.ai' or getFileExt == '.eps' or getFileExt == '.pdf'
                                    assign getUploadedImgThumb = getBaseURL | append: getFileExt | append: '?fm=png&auto=compress&q=50&w=1000'
                                    assign getUploadedImg = getBaseURL | append: getFileExt | append: '?fm=png&auto=compress&q=50&h=100&w=1000'
                                  endif
                                endif
                              %}
                              {%-liquid
                                capture getPropertyImg
                                  for property in item.properties
                                    if property.first == '_cartImg' and property.last != blank
                                      echo property.last
                                    endif
                                  endfor
                                endcapture
                              -%}

                                <a href="javascript:void(0)"
                                  ext="{{ getFileExt }}"
                                  {{ noaction }}
                                  data-bgtype="{% if isbg == "yes" or getUploadedImg contains ".png" %}yes{% endif %}"
                                  data-src="{% if getPropertyImg != blank %}{{ getPropertyImg | append: '&w=2000' }}{% else %}{{ getUploadedImgThumb }}{% endif %}"
                                  data-target='.cart-preview'
                                  class="preview-modal {% if getPropertyImg != blank %}cartPropertyImg{%endif%} cart-item__thumbnail element--border-width-clamped element--border-radius {% if getUploadedImg contains "bg-remove" or getUploadedImg contains ".png" %} transparent-image {% endif %}"
                                >
                                  {% if getPropertyImg != blank %}
                                    {%- render 'lazy-image-small', replaceImg: getPropertyImg, image: item.image, aspect_ratio: settings.cart_image_ratio, fit: settings.cart_image_fit, class: 'lazy-image--scale-animation' -%}
                                  {% else %}
                                    {% if getUploadedImg != blank or getUploadedImg2 != blank %}
                                      {%- render 'lazy-image-small', replaceImg: getUploadedImg, image: item.image, aspect_ratio: settings.cart_image_ratio, fit: settings.cart_image_fit, class: 'lazy-image--scale-animation' -%}
                                    {% else %}
                                      {%- render 'lazy-image-small', image: item.image, aspect_ratio: settings.cart_image_ratio, fit: settings.cart_image_fit, class: 'lazy-image--scale-animation' -%}
                                    {% endif %}
                                  {% endif %}
                                </a>

  <div class="cart-item__content _upsell_parent_block">
      <div>
          {%- if item.unit_price_measurement -%}
              <span class="cart-item__unit-price text-size--small text-color--opacity">
                  {{ item.unit_price | money }} /
                  {% if item.unit_price_measurement.reference_value != 1 %}
                      {{ item.unit_price_measurement.reference_value }}
                  {% endif %}
                  {{ item.unit_price_measurement.reference_unit }}
              </span>
          {%- endif -%}

          <a href="{{ item.url }}" class="cart-item__title">
              <span class="text-animation--underline-thin">{{ item.product.title | escape }}</span>
          </a>

        <div class="cart-item__property">
          {%- if desc  -%}
              <div><strong>{{ item.product.description }}</strong></div>
          {%- endif -%}
          
          {%- assign sizeAlreadyPrint = false -%}
          <!--################ -->
          {%- unless item.product.has_only_default_variant -%}
            {%- for option in item.options_with_values -%}
              {%liquid
                assign option_name = option.name | downcase
                assign _style = option.value | downcase | split : "style #"
                assign style_count = _style | size
              %}
              {% if style_count < 2 and option_name == "design size (square inches)"  %}
                <div data-s="{{ style_count }}" class="options_with_values" data="{{ option.name }}">
                 Size: <strong>{{ option.value }}</strong>
                </div>
                {%- assign sizeAlreadyPrint = true -%}
              {% endif %}
              
              {% if option_name == "size"  %}
                <div data-s="{{ style_count }}" class="options_with_values" data="{{ option.name }}">
                 Size: <strong>{{ option.value }}</strong>
                </div>
                {%- assign sizeAlreadyPrint = true -%}
              {% endif %}
            {% endfor %}
          {% endunless %}
          <!--################ -->
          {% assign disExit = "" %}
          {%- if item.line_level_discount_allocations.size > 0 -%}
            {%- for discount_allocation in item.line_level_discount_allocations -%}
              {% if discount_allocation.discount_application.title != "" %}
                {% assign disExit = discount_allocation.discount_application.title %}
              {% endif %}
              {% endfor %}
          {% endif %}

          {% assign pCut = "" %}
          {%- unless item.product.has_only_default_variant -%}
            {%- for option in item.options_with_values -%}
              {% assign pfirst = option.name | downcase %}
              {%- if pfirst == 'precut' -%}
                {% assign pCutVal = option.value %}
                {% assign pCut = option.value | downcase %}
                {% if pCut == 'no - leave in a roll' %}
                  {% assign pCut = "" %}
                {% endif %}
                {% if pCut != "" %}
                  <div>Precut: <strong>{{ pCutVal }}</strong></div>
                {% endif %}
                {% continue %}
              {%- endif -%}
              {%- if pfirst == 'design size (square inches)' or pfirst == "size" -%}
                {% continue %}
              {% endif %}

              <div data-s="{{ style_count }}" class="options_with_values {% if style_count > 1 %} {{ beatles | join: "_" }} {% endif %} size" data="{{ option.name }}">
                {{ option.name }}: <strong>{{ option.value }}</strong>
              </div>
            {%- endfor -%}
          {%- endunless -%}

          {% assign loop_no = item.index | plus : 1 %}
          {% render 'arrange-properties' lineItem: item, disexit : disExit, loopno: loop_no , linekey:item.key, qty: item.quantity, properties:item.properties, sizeAlreadyPrint: sizeAlreadyPrint, hide_precut: is_child %}
          

          {%- if item.selling_plan_allocation -%}
              <span class="text-size--small">
                  {{ item.selling_plan_allocation.selling_plan.name }}
              </span>
          {%- endif -%}

          
          </div>

          <!-- CTA's -->
        <div class="cart-item__actions space-between">
                <div class="flex-row">
              {% unless isAntigroDesignerProduct %}

                  {% if item.product.id == 7578022281299 %}
                    <a href="javascript:void(0)" class="text-link text-size--small precut-delete"  onclick="document.querySelector('.precut-confirm').style.display = 'grid'" data-qty="{{ item.quantity }}" title="{{ 'cart.remove_item' | t }}">
                      <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="delete_FILL0_wght300_GRAD0_opsz20" fill="#000000" fill-rule="nonzero">
                                  <path d="M2.09530633,10 C1.76417325,10 1.48142966,9.89988556 1.24707555,9.69965667 C1.012709,9.49943841 0.89552573,9.25787904 0.89552573,8.97497856 L0.89552573,1.5203337 L0,1.5203337 L0,0.691508523 L3.20894854,0.691508523 L3.20894854,0 L6.79105146,0 L6.79105146,0.691508523 L10,0.691508523 L10,1.5203337 L9.10447427,1.5203337 L9.10447427,8.96806093 C9.10447427,9.26285208 8.98849125,9.50853972 8.75652521,9.70512383 C8.52455917,9.90170794 8.24061533,10 7.90469367,10 L2.09530633,10 Z M8.13434005,1.5203337 L1.86565995,1.5203337 L1.86565995,8.97497856 C1.86565995,9.03220048 1.88718988,9.07920533 1.93024974,9.11599313 C1.9733096,9.15278092 2.02832846,9.17117482 2.09530633,9.17117482 L7.90469367,9.17117482 C7.96210682,9.17117482 8.01473762,9.1507407 8.06258605,9.10987245 C8.11042205,9.06899358 8.13434005,9.02402895 8.13434005,8.97497856 L8.13434005,1.5203337 Z M3.51034892,8.02354865 L4.48048314,8.02354865 L4.48048314,2.66795987 L3.51034892,2.66795987 L3.51034892,8.02354865 Z M5.51951686,8.02354865 L6.48965108,8.02354865 L6.48965108,2.66795987 L5.51951686,2.66795987 L5.51951686,8.02354865 Z M1.91883155,1.5203337 L1.91883155,9.17117482 L1.91883155,1.5203337 Z" id="Shape"></path>
                              </g>
                          </g>
                      </svg>
                    </a>
                {% else %}
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove text-link text-size--small cleanup-task" title="{{ 'cart.remove_item' | t }}">
                    <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="delete_FILL0_wght300_GRAD0_opsz20" fill="#000000" fill-rule="nonzero">
                                <path d="M2.09530633,10 C1.76417325,10 1.48142966,9.89988556 1.24707555,9.69965667 C1.012709,9.49943841 0.89552573,9.25787904 0.89552573,8.97497856 L0.89552573,1.5203337 L0,1.5203337 L0,0.691508523 L3.20894854,0.691508523 L3.20894854,0 L6.79105146,0 L6.79105146,0.691508523 L10,0.691508523 L10,1.5203337 L9.10447427,1.5203337 L9.10447427,8.96806093 C9.10447427,9.26285208 8.98849125,9.50853972 8.75652521,9.70512383 C8.52455917,9.90170794 8.24061533,10 7.90469367,10 L2.09530633,10 Z M8.13434005,1.5203337 L1.86565995,1.5203337 L1.86565995,8.97497856 C1.86565995,9.03220048 1.88718988,9.07920533 1.93024974,9.11599313 C1.9733096,9.15278092 2.02832846,9.17117482 2.09530633,9.17117482 L7.90469367,9.17117482 C7.96210682,9.17117482 8.01473762,9.1507407 8.06258605,9.10987245 C8.11042205,9.06899358 8.13434005,9.02402895 8.13434005,8.97497856 L8.13434005,1.5203337 Z M3.51034892,8.02354865 L4.48048314,8.02354865 L4.48048314,2.66795987 L3.51034892,2.66795987 L3.51034892,8.02354865 Z M5.51951686,8.02354865 L6.48965108,8.02354865 L6.48965108,2.66795987 L5.51951686,2.66795987 L5.51951686,8.02354865 Z M1.91883155,1.5203337 L1.91883155,9.17117482 L1.91883155,1.5203337 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                  </a>
                {% endif %}
              {% endunless %}

              {%-liquid
                assign isApplyLimit = false
                for cartProd in settings.maxLimitProds
                  if item.product.id == cartProd.id
                    assign isApplyLimit = true
                  endif
                endfor
              -%}
<style>
  {% if isApplyLimit and settings.cartMaxLimit == item.quantity %}
    {% assign ptype = item.product_id | escape | downcase %}
    {% assign type_list = '6922214080595' %}
    {% if type_list contains ptype %}
      .product-actions .product__cart-functions.prd_6922214080595 button{pointer-events:none;}
      .product-actions .product__cart-functions.prd_6922214080595 button{background:gray !important}
      .prd_6922214080595.nodisplay{display:block;}
    {% endif %}  
  {% endif %}
</style>

                <product-quantity class="product-quantity quantity-selector-holder" pid="{{ item.product.id }}" error="Enter qty above {{ item.product.metafields.custom.min_quantity }}">
                {% if isAntigroDesignerProduct %}
                  {{ item.quantity }}
                  <input  {% if item.product.metafields.custom.min_quantity != blank %} onkeyup="checkQtyValidation(this);" {% endif %} min="{{ item.product.metafields.custom.min_quantity | default: 0 }}"  type="hidden" name="updates[]" value="{{ item.quantity }}" min="0" class="qty qty-selector product__quantity" id="updates_{{ item.id }}">
                  <button class="qty-button qty-minus" style="display: none"></button>
                  <button class="qty-button qty-plus" style="display: none"></button>
                {% else %}
                  <cart-product-quantity>
                    <button {% if item.product.metafields.custom.min_quantity != blank %} onclick="decrimentalQtyCart(this);" {% endif %} class="qty-button qty-minus no-js-hidden" aria-label="{{ 'general.accessibility_labels.decrease_quantity' | t }}" role="button" controls="updates_{{ item.id }}">
                      {%- render 'theme-symbols', icon: 'minus' -%}
                    </button>
                    <label for="qty-{{ id }}" class="visually-hidden">{{ 'general.accessibility_labels.quantity' | t }}</label>
                    <input  {% if item.product.metafields.custom.min_quantity != blank %} onkeyup="checkQtyValidation(this);" {% endif %} min="{{ item.product.metafields.custom.min_quantity | default: 0 }}"  type="number" name="updates[]" value="{{ item.quantity }}" min="0" {% if isApplyLimit %}readonly{% endif %} class="_cart__quantity qty qty-selector product__quantity" id="updates_{{ item.id }}" data-href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=$qty">
                    <button class="qty-button qty-plus no-js-hidden" {% if isApplyLimit and settings.cartMaxLimit == item.quantity %}disabled{% endif %} aria-label="{{ 'general.accessibility_labels.increase_quantity' | t }}" role="button" controls="updates_{{ item.id }}">
                      {%- render 'theme-symbols', icon: 'plus' -%}
                    </button>
                  </cart-product-quantity>
                {% endif %}
              </product-quantity>
                  </div>
                <div class="text-right">
              {%- unless item.gift_card -%}
                  <div class="cart-item__price discounted-line-item-price" style="margin-bottom:4px;font-size: 12px;">
                    <div>
                      {%- if item.final_line_price < item.original_line_price -%}
                          <div><span><del>{{ item.original_line_price | divided_by : item.quantity | money }} ea</del></span></div>
                          {% if item.final_line_price > 0 %}
                            <div class="seccolor">{{ item.final_line_price | divided_by : item.quantity | money }} ea</div>
                          {% endif %}
                      {%- elsif item.variant.compare_at_price > item.variant.price -%}
                          <div><span><del>{{ item.variant.compare_at_price | money }} ea</del></span></div>
                          <div class="seccolor">{{ item.variant.price | money }} ea</div>
                      {%- endif -%}
                    </div>
                  </div>

                  <div class="cart-item__price">
                      {%- if item.final_line_price < item.original_line_price -%}
                          <span class="visually-hidden">{{ 'general.accessibility_labels.price.regular' | t }}</span>
                          <strong data-line-item-cost="{{ item.final_line_price }}">{% if item.final_line_price <= 0 %}FREE{% else %}{{ item.final_line_price | money }}{% endif %}</strong>
                          <span class="visually-hidden">{{ 'general.accessibility_labels.price.sale' | t }}</span>
                          <!-- <span><del>{{ item.original_line_price | money }}</del></span> -->
                      {%- elsif item.variant.compare_at_price > item.variant.price -%}
                          <span class="visually-hidden">{{ 'general.accessibility_labels.price.regular' | t }}</span>
                          <strong data-line-item-cost="{{ item.final_line_price }}">{% if item.final_line_price <= 0 %}FREE{% else %}{{ item.final_line_price | money }}{% endif %}</strong>
                      {%- else -%}
                          <span class="visually-hidden">{{ 'general.accessibility_labels.price.regular' | t }}</span>
                          <strong data-line-item-cost="{{ item.final_line_price }}">{% if item.final_line_price <= 0 %}FREE{% else %}{{ item.final_line_price | money }}{% endif %}</strong>
                      {%- endif -%}
    
                  </div>
              {%- endunless -%}
                </div>
          </div>
        <!-- CTA's -->

      </div>

  </div>

</div>


{% if displayAntigroDesignerControls %}
  <div class="antigro-designer__cart-tr-controls">
    <div class="antigro-designer__cart-controls">
      <div class="button button--solid" onclick='Designer.redirectToCreator("{{ item.properties._clientDesignId }}")'>
        {{ 'antigro.modify_design' | t }}
      </div>

      <span
        class="antigro-designer__cart-remove"
        aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
        onclick='Designer.removeCartItemsByClientDesignId("{{ item.properties._clientDesignId }}")'
      >
				{{ 'cart.remove_item' | t }}
			</span>
    </div>
  </div>
{% endif %}