{{ 'section-account.css' | asset_url | stylesheet_tag }}
<style>
  .hikoloading{
    z-index: 99999999999999999999999999999 !important;;
  }
  .popup__close{display:inline-block; position:absolute; right:10px; top:10px; cursor:pointer;}

.customTabelPopup,.popupoverlay .popup-container{
  position: relative;
  width: 98%;
  max-width: 600px;
  background-color: #fff;
  z-index: 1;
  padding: 20px;
  border-radius: 8px;
  margin: 40px auto;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .customTabelPopup {
    padding: 10px;
  }
}
.customTabelPopup__close {
  cursor: pointer;
  margin-left: calc(100% - 20px);
}
.customTabelPopup__overlay-6 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.4431372549);
  display: grid;
  align-items: center;
  overflow: auto;
}
.customTabelPopup__title {
  font-weight: 700;
  color: #000;
  margin-top: 20px;
} 
  .customTabelPopup__overlay-6 .customTabelPopup{
  padding-bottom: 80px;
}

.ai-modal {
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 18px;
  padding: 22px;
  width:100%;
  min-height:612px;
}

.customTabelPopup__overlay-12-2 .customTabelPopup,
.customTabelPopup__overlay-2 .customTabelPopup{
max-width: 500px;
}

.ai-title {
  font-size:22px;  
  margin: 0; 
}

.ai-preview-box {
  position:relative;
  flex-direction:column;
  width: 100%;
  height: 320px;
  border-radius: 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
  	background: #f2f2f2 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI0M1QzVDNSIgZD0iTTAgMGg0djRIMHpNMCA4aDR2NEgwek0xNiA4aC00VjRoNHpNMTYgMTZoLTR2LTRoNHpNOCAwaDR2NEg4ek04IDhoNHY0SDh6TTggOEg0VjRoNHpNOCAxNkg0di00aDR6Ii8+PHBhdGggZmlsbD0iIzlCOUI5QiIgZD0iTTQgMGg0djRINHpNNCA4aDR2NEg0ek0xMiA4SDhWNGg0ek0xMiAxNkg4di00aDR6TTEyIDBoNHY0aC00ek0xMiA4aDR2NGgtNHpNNCA4SDBWNGg0ek00IDE2SDB2LTRoNHoiLz48L3N2Zz4=) center center;

}

.ai-is-processing .ai-preview-box{
   background:none;
   height: 500px;
}

.ai-preview-box img {
  max-width: 90% !important;
  max-height: 90% !important;
}

.ai-is-processing .ai-preview-box .ai-processing img{
   max-width: 300px !important;
}

.ai-processing {
  display: none;
  flex-direction: column;
  text-align: center;
}

.ai-tabs {
  display: none;
  justify-content: center;
  gap: 0px; 
  margin: 12px auto 6px;
  max-width: 200px;
  background: #DFDFDF80;
  padding: 5px;
  border-radius: 100px;
}
.ai-tabs.active{
   display: flex;
}

.ai-tab {
  padding: 6px 16px;
  border-radius: 30px; 
  font-weight: bold;
  color:#0000004D;
  flex: 1;
  font-size:12px;
}
.ai-tab.active{
  color: #fff;
  background:#3DADFE;
}
.ai-tab[data-tab="ai"].active {
  background: #6c2db5;
  
}

.ai-prompt-box {
  margin-top: 10px;
  position: relative;
}

.ai-action-box {
  display: none;
  text-align: center;
  margin-top: 16px;
}

#use_ai_image {
  width: 100%;
}

.ai-startover {
  display: inline-block;
  margin-top: 8px;
  font-size: 13px;
  font-weight:bold;
  color:#07a7f2;
  cursor:pointer;
}
.ai-preview-box {
  transition: opacity .25s ease, transform .25s ease;
}

.ai-fade {
  opacity: .3;
  transform: scale(.97);
}
#ai_original_image,
#ai_result_image,
.ai-processing {
  transition: opacity .25s ease;
}
#ai_prompt_2::placeholder{
  font-size:12px;
  opacity:1;
  color:#ddd;
}
#ai_prompt_2{
 border-radius:18px;
 height: 130px;
 font-size:16px;
}
.ai-header{
 display:flex;
 align-items:center;
 justify-content:space-between;
 margin-bottom:20px;
}
.customTabelPopup__overlay-ai .customTabelPopup__close{
  margin:0;
  font-size: 30px;
  line-height: 1;
}
.black-bg{
 display:none;
 justify-content:center; 
 position: absolute;
    bottom: 10px;
    z-index:1;
}
.ai-helper-text{
  font-size: 14px;
  text-align: center;
  max-width: 360px;
  margin: 0 auto 1rem auto;
}
#ai_generate_image_2{
  background: transparent;
  width: auto;
  margin: 0;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.ai-action-box .button{
  background:#07a7f2;
   color: #fff;
  font-weight: bold;
  border-radius: 18px;
  margin-bottom:20px;
  width: 100%;
}
#use_ai_image{
 background: linear-gradient(90deg, #6C2DB5, #3DAEFF);
 
}
.stop-btn{
  background:transparant;
  border:none;
  color:#07a7f2;
  margin-top:40px;
  font-weight:600;
}

body.lock-page{
 overflow:hidden !important;
}

body.lock-page .intercom-lightweight-app{
  display:none !important;
}

.customTabelPopup__overlay-12-2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
  background-color: rgba(0, 0, 0, 0.4431372549);
  display: grid;
  align-items: center;
  overflow: auto;
}

@media (max-width: 768px){
 .ai-modal {
  padding: 22px 8px;
}
.customTabelPopup__overlay-ai{
 padding: 8px;
}
.customTabelPopup__overlay-12-2 .customTabelPopup,
.customTabelPopup__overlay-2 .customTabelPopup{
 height: auto !important;
}
}

</style>
<div class="customTabelPopup__overlay-ai nj-popup" style="display: none;">
<div class="ai-modal">
  <div class="ai-header">
  <h3 class="ai-title">Edit with AI</h3>
  <span class="customTabelPopup__close"
    onclick="document.querySelector('.customTabelPopup__overlay-12-2').style.display = 'grid'">
    ×
  </span>
  </div>
  

  <!-- MAIN PREVIEW WRAPPER -->
  <div class="ai-preview-box">

    <!-- STATE 1 — ORIGINAL -->
    <img id="customer_image_preview" />

    <!-- STATE 2 — PROCESSING -->
    <div class="ai-processing">
      <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/AI_Wizard.gif" />
      <h4 style="line-height: 1.4;margin-top:40px;margin-bottom:40px;">Transforming your image<br>with AI magic</h4>
      <p style="font-size:12px;opacity:0.6">As we cannot control the results of AI tools, we disclaim all liability and you assume full responsibility when using this feature in compliance with trademark and copyright law and our terms of service.</p>
     <button id="ai_stop_processing" class="button stop-btn">
        Stop
    </button>
    </div>

    <!-- STATE 3 — AI RESULT -->
    <img id="ai_image_preview" />
    <div class="black-bg">
    <p  style="background:#333; border-radius:5px;  font-size: 10px; color:#fff;   display: inline-block;   text-align: center;   margin:2px auto;padding:2px 5px;">black background is only for preview, will be removed</p>
    </div>
  </div>


  <!-- TAB SWITCHER -->
  <div class="ai-tabs">
    <button class="ai-tab active" data-tab="ai">AI Edit</button>
    <button class="ai-tab" data-tab="original">Original</button>
  </div>


  <!-- STATE 1 — PROMPT INPUT -->
  <div class="ai-prompt-box">
    <p class="ai-helper-text">
      Our AI Editor can do ALMOST anything. Describe the changes you’d like to make.
    </p>

    <textarea onkeyup="$('#ai_generate_image_2').prop('disabled',false)" id="ai_prompt_2" placeholder="ex. Change the beach scene to a mountain scene&#10;ex. Add text above the design that says Established 2025 in a cursive font&#10;ex. Transform this into a cartoon version for a t-shirt graphic&#10;ex. Remove the text on the side of the boat"></textarea>

    <button id="ai_generate_image_2" class="">
      <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/Group_1.svg?v=1767352503" />
    </button>

    
  </div>


  <!-- STATE 3 — ACTION CTA -->
  <div class="ai-action-box">
    <button id="use_ai_image" class="button button-primary">
      Apply AI Edit
    </button>
    <button class="button button-primary" style="display:none;" onclick="document.querySelector('body').classList.remove('lock-page'),document.querySelector('.customTabelPopup__overlay-ai').style.display = 'none'">
      Use Original
    </button>
    <p style="font-size:12px;opacity:0.6;text-align:center;margin-bottom:0px">Not quite right?</p>
    <a class="ai-startover" id="ai_reset_editor">Start Over</a>
  </div>

</div>
</div>

          <div class="customTabelPopup__overlay-12-2 nj-popup" style="display: none;">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-12-2').style.display = 'none'" >
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span>
                <h4 style="position: absolute;top: 20px;opacity:0">Remove File?</h4>

                <h5 style="text-align:center;">Leave the AI Editor?</h5>
                <p style="text-align:center;padding: 0 20px;">Your AI edits haven't been saved yet. Want to keep working on them?</p>
                 <div style="display:flex;justify-content:center;gap:10px;flex-direction: column;">
                      <button type="button" style="border-radius: 18px;" class="button button--solid" onclick="document.querySelector('body').classList.remove('lock-page'),document.querySelector('.customTabelPopup__overlay-ai').style.display = 'none',document.querySelector('.customTabelPopup__overlay-12-2').style.display = 'none'">Exit</button>
                      <button type="button"  onclick="document.querySelector('.customTabelPopup__overlay-12-2').style.display = 'none'" class="close button button--solid" style="background: #999 !important;border-radius: 18px;">Cancel</button>
                    </div>
              </div>
            </div>

 <div class="customTabelPopup__overlay-6 nj-popup" style="display: none;">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-6').style.display = 'none'" >
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span> 

                <div class="account">
			<h2 class="heading-size--page-title">{{ 'customers.login_page.title' | t }}</h2>
            <hr class="account-divider  margin-bottom--regular" />

			{%- form 'customer_login' -%}
			  <input type="hidden" name="return_to" id="return_to_url" value="{{ canonical_url }}">
				<div id="resetSuccess" style="display:none;">
					{%- liquid
						assign message = 'customers.login_page.password_reset.success_message' | t
						render 'form-success', message: message
					-%}
				</div>

				{%- render 'form-errors', form: form -%}

				<div class="account__form-block ">

					<div class="account__form-row">
						<label for="customer_email" class="hidden">{{ 'customers.login_page.form_email_label' | t }}</label>
						<input type="email" value="" name="customer[email]" id="customer_email" placeholder="{{ 'customers.login_page.form_email_label' | t }}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>
					</div>

					{%- if form.password_needed -%}
						<div class="account__form-row">
							<label for="customer_password" class="hidden">{{ 'customers.login_page.form_password_label' | t }}</label>
							<input type="password" value="" name="customer[password]" id="customer_password" placeholder="{{ 'customers.login_page.form_password_label' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
						</div>
					{%- endif -%}

					<div class="form-actions flex-buttons">

						{%- render 'button', style: 'solid', label: 'customers.login_page.form_login_button', label_is_translation: true, is_submit: true, type: 'button' -%}

						<div style="text-align: right;" class="gutter-top--small">
							{% if form.password_needed %}
								<span style="display: block;" class="text-size--small">
									<a href="#recover" onclick="showRecoverPasswordForm();return false;">
										<span class="text-animation--underline-thin">{{ 'customers.login_page.forgot_password_check' | t }}</span>
									</a></span>
							{% endif %}
							<span style="display: block;">
								<a href="{{ routes.account_register_url }}" class="registerNow">
									<span class="text-animation--underline-thin text-weight--bold">{{ 'customers.login_page.new_customer_button' | t }}</span>
								</a>
							</span>
						</div>

					</div>
				</div> 
			{%- endform -%}

			<div id="recover_password" style="display: none;">

				<h3 class="heading-size--page-title gutter-bottom--regular">{{ 'customers.login_page.password_reset.title' | t }}</h3>

				<hr class="account-divider margin-bottom--large" />
				
				<span class="alert alert--note margin-bottom--large">
					{{ 'customers.login_page.password_reset.subtitle' | t }}
				</span>

				{% form 'recover_customer_password', class: 'simple-form' %}

					{% render 'form-errors', form: form %}

					{% if form.posted_successfully? %}
						{% assign reset_success = true %}
					{% endif %}

					<div class="account__form-block ">

						<div class="account__form-row">
							<label for="recover-email" class="hidden">{{ 'customers.login_page.password_reset.email_label' | t }}</label>
							<input type="email" value="" name="email" id="recover-email" placeholder="{{ 'customers.login_page.password_reset.email_label' | t }}" autocorrect="off" autocapitalize="off">
						</div>

						<div class="account__form-row form-actions flex-buttons">

							{%- render 'button', style: 'solid', label: 'customers.login_page.password_reset.submit_button', label_is_translation: true, is_submit: true, type: 'button' -%}
							{%- render 'button', style: 'outline', label: 'customers.login_page.password_reset.cancel_button', label_is_translation: true, attribute: 'onclick="hideRecoverPasswordForm();return false;"' -%}

						</div>
					</div>
				{% endform %}

			</div> 

	</div>
                
              </div>
            </div>

            <script>
              $(".nj-popup").on("click", function(e){
                   if (e.target !== this)
                     return;
                   $(this).hide();
                });
              {% unless customer %}
              $('body').on("click", '[href="/account"],[href="/account/login"]', function(e){ 
                 e.preventDefault();
                 $(".customTabelPopup__overlay-6").show(); 
              }); 
                 $('body').on("click",".h_buttons", function(e){ 
                  $(".customTabelPopup__overlay-6").hide(); 
                })
                {% endunless %}  
              
            </script>
            <script>

	function showRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'block';
		document.getElementById('customer_login').style.display='none';
	}

	function hideRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'none';
		document.getElementById('customer_login').style.display = 'block';
	}

	if (window.location.hash == '#recover') { showRecoverPasswordForm() }

</script>