{%- if block.settings.min_quantity != blank or block.settings.ship_info != blank or block.settings.art_requirement != blank -%}
  <div style="display:none;">1</div>
{% endif %}
  <style>
    .min-quantity-block{display:block; padding-top:{{ block.settings.padding_top_mob }}px; padding-bottom:{{ block.settings.padding_bottom_mob }}px; border-top:solid 2px #ECECEC; border-bottom:solid 2px #ECECEC;}
    @media(min-width:768px){
      .min-quantity-block{display:flex; padding-top:{{ block.settings.padding_top }}px; padding-bottom:{{ block.settings.padding_bottom }}px;}
      .min-quantity-block .block + .block{margin-left:15px; padding-left:15px; border-left:solid 2px #ECECEC;}
    }
    @media(max-width:768px){
      .min-quantity-block .block + .block{padding-top:8px;}
    }
    .step__1 > hr{display:none;}
  </style>
<div class="min-quantity-block">
  {%- if block.settings.min_quantity != blank -%}
    <div class="block">{{ block.settings.min_quantity }}</div>
  {%- endif -%}
  
  {%- if block.settings.ship_info != blank -%}
    <div class="block">{{ block.settings.ship_info }}</div>
  {%- endif -%}
  
  {%- if block.settings.art_requirement != blank -%}
    <div class="block"><a class="focuselement nlink lnkcolor animunderline" href="javascript:void(0)" data-tnode="{{ block.settings.art_requirement_target }}"><strong>{{ block.settings.art_requirement }}</strong></a></div>
  {%- endif -%}
</div>
