<div style="display:none">
    <textarea class="propitems {{ line_item.variant_id }}"> { {%- for property in line_item.properties -%} "{{ property.first }}":"{{ property.last  }}"{%- if forloop.last == false -%},{%- endif -%}{%- endfor -%} }</textarea>
</div>
<div class="reorder-btn btn flip-front nosinglecart" data-corder-id="{{ order.name }}" data-lineitem-ids="{{ line_item.id }}" data-variant-ids="{{ line_item.variant_id }}"
    data-variant-quantities="{{ line_item.quantity }}" data-variant-inventories="{{ line_item.variant.inventory_quantity }}" data-variant-inventory-policies="{{ line_item.variant.inventory_policy }}"
    data-variant-inventory-trackers="{{ line_item.variant.inventory_management }}"></div>