{% capture variant_ids %}{% for line_item in order.line_items %}{{ line_item.variant_id }},{% endfor %}{% endcapture %}
{% capture line_item_ids %}{% for line_item in order.line_items %}{{ line_item.id }},{% endfor %}{% endcapture %}
{% capture variant_quantities %}{% for line_item in order.line_items %}{{ line_item.quantity }},{% endfor %}{% endcapture %}
{% capture variant_inventories %}{% for line_item in order.line_items %}{{ line_item.variant.inventory_quantity }},{% endfor %}{% endcapture %}
{% capture variant_inventory_policies %}{% for line_item in order.line_items %}{{ line_item.variant.inventory_policy }},{% endfor %}{% endcapture %}
{% capture variant_inventory_trackers %}{% for line_item in order.line_items %}{{ line_item.variant.inventory_management }},{% endfor %}{% endcapture %}

<div style="display:none">
  {% for line_item in order.line_items %}
    <textarea class="propitems {{ line_item.variant_id }}"> { {% for property in line_item.properties %} "{{ property.first }}":"{{ property.last }}"{% if forloop.last == false %},{% endif %}{% endfor %} } </textarea>
  {% endfor %}
</div>
<div class="reorder-btn btn flip-front"
    data-corder-id="{{ order.name }}"
    data-lineitem-ids="{{ line_item_ids }}"
    data-variant-ids="{{ variant_ids }}"
    data-variant-quantities="{{ variant_quantities }}"
    data-variant-inventories="{{ variant_inventories }}"
    data-variant-inventory-policies="{{ variant_inventory_policies }}"
    data-variant-inventory-trackers="{{ variant_inventory_trackers }}">
  <span class="pt-reorder-text">Add All Items To Cart</span>
  <span class="pt-spinner-container">
    <svg class="pt-spinner" viewBox="0 0 20 20" aria-label="Loading" role="status">
      <path d="M7.229 1.173a9.25 9.25 0 1 0 11.655 11.412 1.25 1.25 0 1 0-2.4-.698 6.75 6.75 0 1 1-8.506-8.329 1.25 1.25 0 1 0-.75-2.385z" style="fill: white;"></path>
    </svg>
  </span>
</div>