{% if url == "https://ninjatransfers.com/" %}
  {% assign url = routes.root_url %}
{% endif %}

<div class="{{ clsname }}tab-content-block">
  <div class="{{ clsname }}tab-content">
    <h4>{{ heading  | escape }}</h4>
    <p>{{ desc | escape }}</p>
    <div class="mrg16">
      <a href="{{ url }}" class="ninjapatch-lnk"><strong>{{ cta }}
        <span aria-hidden="true" class="button__icon">→</span></strong>
      </a>
    </div>
  </div>
  <div class="patches-width" style="background:url('{{ img | image_url }}') no-repeat center center; background-size:100%;">
    {% comment %}<img src="{{ img | image_url: width: 200 }}" alt="patches" width="200" />{% endcomment %}
  </div>
</div>
<style>
  .patches-width{width:200px}
  .{{ clsname }}tab-content-block{padding:12px; display:grid; gap:18px; grid-template-columns:auto 200px; border-bottom:solid 8px {{color}};}
  .{{ clsname }}tab-content{padding:24px; padding-right:0;}
  .{{ clsname }}tab-content h4{font-weight:bold;}
  .{{ clsname }}tab-content h4,.{{ clsname }}tab-content p{font-size:calc(16px / 16 * var(--base-body-primary-size) + 0px);}
  .{{ clsname }}tab-content-block .ninjapatch-lnk{color:{{color}};}
</style>