<style>
  .block--{{ block.id }}{
    display:flex;
    align-items: stretch;
    justify-content:space-between; 
        border: solid 1px #DADADA;
        border-radius: 8px;
    overflow: hidden;
  }
  .block--{{ block.id }} > *{
    flex:1;
    width:50%;
    max-width:50%;
  }
  .block--{{ block.id }} > div:nth-child(1){
    padding:24px 0 24px 24px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  }
  .block--{{ block.id }} > div:nth-child(1) > *:not(.button){
     margin-bottom:15px;
  }
   .block--{{ block.id }} > div:nth-child(2),
  .block--{{ block.id }} > div img{
     min-height:100%;
   }
  .block--{{ block.id }} > div:nth-child(2){
    border-left:24px solid #fff;
    overflow:hidden;
  }
  .block--{{ block.id }} .button{
     background-color: {{ block.settings.btn_bg }} !important;
     color: {{ block.settings.btn_color }} !important;
     font-size: {{ block.settings.btn_size }}px !important;
    font-weight: {{ block.settings.btn_weight }} !important;
  }
  .block--{{ block.id }} .button:hover{
     background-color: {{ block.settings.btn_bg2 }} !important;
     color: {{ block.settings.btn_color2 }} !important;
  }
  .block--{{ block.id }} img{
     margin-bottom: -10px;
     max-width:100%;
    display:none;
  }
  @media (max-width:768px){
    .block--{{ block.id }} > *{ 
    width:100%;
    max-width:100%;
  }
     .block--{{ block.id }} > div:nth-child(1){
    padding:15px 15px 0px 15px;
  }
    .block--{{ block.id }} > div:nth-child(2){
   border-top:15px solid #fff;
      border-left:0px;
      min-height:100px;
      background-position:top center !important;
      border-radius: 0 0 8px 8px;
      background:none !important;
  }
     .block--{{ block.id }}{
       flex-direction:column;
     }
   .block--{{ block.id }} img{
     display:block;
     border-radius: 0 0 8px 8px;
    }
  }
</style>
<div class="block--{{ block.id }} pdp-image-with-text-block">
  <div>
    {% if block.settings.heading != blank %}
      <h3 style="font-size:{{ block.settings.title_size }}px;font-weight:{{ block.settings.title_weight }}">{{ block.settings.heading }}</h3>
    {% endif %} 
    {% if block.settings.text != blank %}
      <div style="font-size:{{ block.settings.text_size }}px;font-weight:{{ block.settings.text_weight }}">
        {{ block.settings.text }}
      </div>
    {% endif %}
    {% if block.settings.btn_label != blank %}
      {% if block.settings.prod_link == blank %}
        {%-liquid
          assign btnLink = block.settings.btn_link
          if btnLink == '#'
            assign btnLink = 'javascript:void(0);'
          endif
        -%}
        <a href="{{ btnLink }}" class="button button--solid pdp-image-with-text---cta" {% if block.settings.open_in_new_tab %} target="_blank" {% endif %}>  
          {{ block.settings.btn_label }}
        </a>
      {% else %}
        <a href="{{ block.settings.prod_link.url }}" class="button button--solid pdp-image-with-text---cta" {% if block.settings.open_in_new_tab %} target="_blank" {% endif %}>  
          {{ block.settings.btn_label }}
        </a>
      {% endif %}
    {% endif %}
  </div>
  <div {% if block.settings.image != blank %} style="background:url('{{ block.settings.image | image_url }}') left center no-repeat;background-size:cover" {% endif %}>  
     {% if block.settings.image != blank %}
       <img src="{{ block.settings.image | image_url  }}" alt=""/> 
      {% endif %}
  </div>
</div>