<div class="customTabelPopup__heading">
  <div class="customTabelPopup__heading_1">
    {{ b.firstColTitle }}
  </div>
  <div class="customTabelPopup__heading_2">
    {{ b.secondColTitle }}
  </div>
  <div class="customTabelPopup__heading_3">
    {{ b.thirdColTitle }}
  </div>
  {% if b.showCols == '4Cols' %}
    <div class="customTabelPopup__heading_4">
      {% if customer and isEliteMember %}
        {{ b.member__fourthColTitle }}
        <span class="toolTipWrap">
          <svg class="toolTipIconIs" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}.st1{fill:#3F97D2;}</style><circle class="st0" cx="11.9" cy="10.8" r="8"/><path class="st1" d="M10.5,17.1L18,9.7l-2.1-2.1l-5.3,5.4L8,10.4l-2.1,2.1L10.5,17.1z M12,22.9c-1.5,0-2.9-0.3-4.2-0.9 c-1.3-0.6-2.5-1.3-3.4-2.3c-1-1-1.7-2.1-2.3-3.4c-0.6-1.3-0.9-2.7-0.9-4.2S1.4,9.1,2,7.8c0.6-1.3,1.3-2.5,2.3-3.4 c1-1,2.1-1.7,3.4-2.3c1.3-0.6,2.7-0.9,4.2-0.9s2.9,0.3,4.2,0.9c1.3,0.6,2.5,1.3,3.4,2.3c1,1,1.7,2.1,2.3,3.4 c0.6,1.3,0.9,2.7,0.9,4.2s-0.3,2.9-0.9,4.2c-0.6,1.3-1.3,2.5-2.3,3.4c-1,1-2.1,1.7-3.4,2.3C14.9,22.6,13.5,22.9,12,22.9z"/></svg>
          <tooltip>{{ b.member__tooltip }}</tooltip>
        </span>
        {% if b.showMemberName %}
          <br>
          {{ customer.name }}
        {% endif %}
        <style>
          .customTabelPlace__item_3 {
            text-decoration: line-through;
            color: gray;
          }
        </style>
        <script>
          const customerIsMember = true;
        </script>
      {% elsif customer and isEliteMember == false %}
        {{ b.nonMember__fourthColTitle }}
        <span class="toolTipWrap">
          <svg class="toolTipIconIs" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
            <path fill="none" d="M0,0h48v48H0V0z"/>
            <path fill="#abe2ff" d="M24,4C12.95,4,4,12.95,4,24s8.95,20,20,20s20-8.95,20-20S35.05,4,24,4z M26,34h-4V22h4V34z M26,18h-4v-4h4  V18z"/>
          </svg>
          <tooltip>{{ b.nonMember__tooltip }}</tooltip>
        </span>
        <br>
        {% if b.nonMember__firstLinkLabel != blank and b.nonMember__firstLink != blank %}
          <a
            href="{{ b.nonMember__firstLink }}"
            {% if b.nonMember__firstLink_NewTab %}
              target="_blank"
            {% endif %}
          >
            {{ b.nonMember__firstLinkLabel }}
          </a>
        {% endif %}

        {% if b.nonMember__secondLinkLabel != blank and b.nonMember__secondLink != blank %}
          | 
          <a
            href="{{ b.nonMember__secondLink }}"
            {% if b.nonMember__secondLink_NewTab %}
              target="_blank"
            {% endif %}
          >
            {{ b.nonMember__secondLinkLabel }}
          </a>
        {% endif %}
      {% else %}
        {{ b.notLoggedin__fourthColTitle }}
        <span class="toolTipWrap">
          <svg class="toolTipIconIs" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
            <path fill="none" d="M0,0h48v48H0V0z"/>
            <path fill="#abe2ff" d="M24,4C12.95,4,4,12.95,4,24s8.95,20,20,20s20-8.95,20-20S35.05,4,24,4z M26,34h-4V22h4V34z M26,18h-4v-4h4  V18z"/>
          </svg>
          <tooltip>{{ b.notLoggedin__tooltip }}</tooltip>
        </span>
        <br>
        {% if b.notLoggedin__firstLinkLabel != blank and b.notLoggedin__firstLink != blank %}
          <a
            href="{{ b.notLoggedin__firstLink }}"
            {% if b.notLoggedin__firstLink_NewTab %}
              target="_blank"
            {% endif %}
          >
            {{ b.notLoggedin__firstLinkLabel }}
          </a>
        {% endif %}

        {% if b.notLoggedin__secondLinkLabel != blank and b.notLoggedin__secondLink != blank %}
          | 
          <a
            href="{{ b.notLoggedin__secondLink }}"
            {% if b.notLoggedin__secondLink_NewTab %}
              target="_blank"
            {% endif %}
          >
            {{ b.notLoggedin__secondLinkLabel }}
          </a>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</div>


{% if b.row1_Col1 != blank and b.row1_Col2 != blank and b.row1_Col3 != blank and b.row1_Col4 != blank %}
  {%- capture minMax_1 -%}
    {%- if b.row1_Col1 contains '-' -%}
      {%- assign min_1 = b.row1_Col1 | split: '-' | first | strip -%}
      {%- assign max_1 = b.row1_Col1 | split: '-' | last | strip -%}
    {%- elsif b.row1_Col1 contains '+' -%}
      {%- assign min_1 = b.row1_Col1 | split: '+' | first | strip -%}
      {%- assign max_1 = 1000000 -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- capture percentages_1 -%}
    {%- if b.row1_Col2 contains '%' -%}
      {%- assign offPercentage_1 = b.row1_Col2 | split: '%' | first | strip -%}
    {%- endif -%}
  {%- endcapture -%}
  {%-liquid
    capture lastColOff_1
      assign lastColOffPercentage_1 = b.row1_Col4 | split: '<elite-discount>' | last | split: '</elite-discount>' | first
      echo lastColOffPercentage_1 | strip
    endcapture
  -%}
  <div class="customTabelPopup__item selected" index="1" min="{{ min_1 }}" max="{{ max_1 }}" off="{{ offPercentage_1 }}" elite-discount="{{ lastColOff_1 }}">
    <div class="customTabelPopup__item_1">
      {{ b.row1_Col1 | default: '&nbsp;' }} pcs
    </div>
    <div class="customTabelPopup__item_2">
        &nbsp;
    </div>
    <div class="customTabelPopup__item_3">
      {{ b.row1_Col3 | default: '&nbsp;' }}
    </div>
    {% if b.showCols == '4Cols' %}
      <div class="customTabelPopup__item_4">
        {{ b.row1_Col4 | default: '&nbsp;' }}
      </div>
    {% endif %}
  </div>

  <style>
    .customTabelPopup__heading {
      background-color: {{ b.titleBgColor }};
      color: {{ b.titleTextColor }};
    }
    .customTabelPopup__heading_4 {
      background-color: {{ b.title4thBgColor }};
      color: {{ b.title4thTextColor }};
    }
    .customTabelPopup__item.selected .customTabelPopup__item_1,
    .customTabelPopup__item.selected .customTabelPopup__item_2,
    .customTabelPopup__item.selected .customTabelPopup__item_3 {
      background-color: {{ b.rowBgColor }};
      color: {{ b.rowTextColor }};
    }
    .customTabelPopup__item.selected .customTabelPopup__item_4 {
      background-color: {{ b.row4thBgColor }};
      color: {{ b.row4thTextColor }};
    }
  </style>
{% endif %}

{% if b.row2_Col1 != blank and b.row2_Col2 != blank and b.row2_Col3 != blank and b.row2_Col4 != blank %}
  {%- capture minMax_2 -%}
    {%- if b.row2_Col1 contains '-' -%}
      {%- assign min_2 = b.row2_Col1 | split: '-' | first | strip -%}
      {%- assign max_2 = b.row2_Col1 | split: '-' | last | strip -%}
    {%- elsif b.row2_Col1 contains '+' -%}
      {%- assign min_2 = b.row2_Col1 | split: '+' | first | strip -%}
      {%- assign max_2 = 1000000 -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- capture percentages_2 -%}
    {%- if b.row2_Col2 contains '%' -%}
      {%- assign offPercentage_2 = b.row2_Col2 | split: '%' | first | strip -%}
    {%- endif -%}
  {%- endcapture -%}
  {%-liquid
    capture lastColOff_2
      assign lastColOffPercentage_2 = b.row2_Col4 | split: '<elite-discount>' | last | split: '</elite-discount>' | first
      echo lastColOffPercentage_2 | strip
    endcapture
  -%}
  <div class="customTabelPopup__item" index="2" min="{{ min_2 }}" max="{{ max_2 }}" off="{{ offPercentage_2 }}" elite-discount="{{ lastColOff_2 }}">
    <div class="customTabelPopup__item_1">
      {{ b.row2_Col1 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_2">
      {{ b.row2_Col2 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_3">
      {{ b.row2_Col3 | default: '&nbsp;' }}
    </div>
    {% if b.showCols == '4Cols' %}
      <div class="customTabelPopup__item_4">
        {{ b.row2_Col4 | default: '&nbsp;' }}
      </div>
    {% endif %}
  </div>
{% endif %}

{% if b.row3_Col1 != blank and b.row3_Col2 != blank and b.row3_Col3 != blank and b.row3_Col4 != blank %}
  {%- capture minMax_3 -%}
    {%- if b.row3_Col1 contains '-' -%}
      {%- assign min_3 = b.row3_Col1 | split: '-' | first | strip -%}
      {%- assign max_3 = b.row3_Col1 | split: '-' | last | strip -%}
    {%- elsif b.row3_Col1 contains '+' -%}
      {%- assign min_3 = b.row3_Col1 | split: '+' | first | strip -%}
      {%- assign max_3 = 1000000 -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- capture percentages_3 -%}
    {%- if b.row3_Col2 contains '%' -%}
      {%- assign offPercentage_3 = b.row3_Col2 | split: '%' | first | strip -%}
    {%- endif -%}
  {%- endcapture -%}
  {%-liquid
    capture lastColOff_3
      assign lastColOffPercentage_3 = b.row3_Col4 | split: '<elite-discount>' | last | split: '</elite-discount>' | first
      echo lastColOffPercentage_3 | strip
    endcapture
  -%}
  <div class="customTabelPopup__item" index="3" min="{{ min_3 }}" max="{{ max_3 }}" off="{{ offPercentage_3 }}" elite-discount="{{ lastColOff_3 }}">
    <div class="customTabelPopup__item_1">
      {{ b.row3_Col1 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_2">
      {{ b.row3_Col2 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_3">
      {{ b.row3_Col3 | default: '&nbsp;' }}
    </div>
    {% if b.showCols == '4Cols' %}
      <div class="customTabelPopup__item_4">
        {{ b.row3_Col4 | default: '&nbsp;' }}
      </div>
    {% endif %}
  </div>
{% endif %}

{% if b.row4_Col1 != blank and b.row4_Col2 != blank and b.row4_Col3 != blank and b.row4_Col4 != blank %}
  {%- capture minMax_4 -%}
    {%- if b.row4_Col1 contains '-' -%}
      {%- assign min_4 = b.row4_Col1 | split: '-' | first | strip -%}
      {%- assign max_4 = b.row4_Col1 | split: '-' | last | strip -%}
    {%- elsif b.row4_Col1 contains '+' -%}
      {%- assign min_4 = b.row4_Col1 | split: '+' | first | strip -%}
      {%- assign max_4 = 1000000 -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- capture percentages_4 -%}
    {%- if b.row4_Col2 contains '%' -%}
      {%- assign offPercentage_4 = b.row4_Col2 | split: '%' | first | strip -%}
    {%- endif -%}
  {%- endcapture -%}
  {%-liquid
    capture lastColOff_4
      assign lastColOffPercentage_4 = b.row4_Col4 | split: '<elite-discount>' | last | split: '</elite-discount>' | first
      echo lastColOffPercentage_4 | strip
    endcapture
  -%}
  <div class="customTabelPopup__item" index="4" min="{{ min_4 }}" max="{{ max_4 }}" off="{{ offPercentage_4 }}" elite-discount="{{ lastColOff_4 }}">
    <div class="customTabelPopup__item_1">
      {{ b.row4_Col1 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_2">
      {{ b.row4_Col2 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_3">
      {{ b.row4_Col3 | default: '&nbsp;' }}
    </div>
    {% if b.showCols == '4Cols' %}
      <div class="customTabelPopup__item_4">
        {{ b.row4_Col4 | default: '&nbsp;' }}
      </div>
    {% endif %}
  </div>
{% endif %}

{% if b.row5_Col1 != blank and b.row5_Col2 != blank and b.row5_Col3 != blank and b.row5_Col4 != blank %}
  {%- capture minMax_5 -%}
    {%- if b.row5_Col1 contains '-' -%}
      {%- assign min_5 = b.row5_Col1 | split: '-' | first | strip -%}
      {%- assign max_5 = b.row5_Col1 | split: '-' | last | strip -%}
    {%- elsif b.row5_Col1 contains '+' -%}
      {%- assign min_5 = b.row5_Col1 | split: '+' | first | strip -%}
      {%- assign max_5 = 1000000 -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- capture percentages_5 -%}
    {%- if b.row5_Col2 contains '%' -%}
      {%- assign offPercentage_5 = b.row5_Col2 | split: '%' | first | strip -%}
    {%- endif -%}
  {%- endcapture -%}
  {%-liquid
    capture lastColOff_5
      assign lastColOffPercentage_5 = b.row5_Col4 | split: '<elite-discount>' | last | split: '</elite-discount>' | first
      echo lastColOffPercentage_5 | strip
    endcapture
  -%}
  <div class="customTabelPopup__item" index="5" min="{{ min_5 }}" max="{{ max_5 }}" off="{{ offPercentage_5 }}" elite-discount="{{ lastColOff_5 }}">
    <div class="customTabelPopup__item_1">
      {{ b.row5_Col1 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_2">
      {{ b.row5_Col2 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_3">
      {{ b.row5_Col3 | default: '&nbsp;' }}
    </div>
    {% if b.showCols == '4Cols' %}
      <div class="customTabelPopup__item_4">
        {{ b.row5_Col4 | default: '&nbsp;' }}
      </div>
    {% endif %}
  </div>
{% endif %}

{% if b.row6_Col1 != blank and b.row6_Col2 != blank and b.row6_Col3 != blank and b.row6_Col4 != blank %}
  {%- capture minMax_6 -%}
    {%- if b.row6_Col1 contains '-' -%}
      {%- assign min_6 = b.row6_Col1 | split: '-' | first | strip -%}
      {%- assign max_6 = b.row6_Col1 | split: '-' | last | strip -%}
    {%- elsif b.row6_Col1 contains '+' -%}
      {%- assign min_6 = b.row6_Col1 | split: '+' | first | strip -%}
      {%- assign max_6 = 1000000 -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- capture percentages_6 -%}
    {%- if b.row6_Col2 contains '%' -%}
      {%- assign offPercentage_6 = b.row6_Col2 | split: '%' | first | strip -%}
    {%- endif -%}
  {%- endcapture -%}
  {%-liquid
    capture lastColOff_6
      assign lastColOffPercentage_6 = b.row6_Col4 | split: '<elite-discount>' | last | split: '</elite-discount>' | first
      echo lastColOffPercentage_6 | strip
    endcapture
  -%}
  <div class="customTabelPopup__item" index="6" min="{{ min_6 }}" max="{{ max_6 }}" off="{{ offPercentage_6 }}" elite-discount="{{ lastColOff_6 }}">
    <div class="customTabelPopup__item_1">
      {{ b.row6_Col1 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_2">
      {{ b.row6_Col2 | default: '&nbsp;' }}
    </div>
    <div class="customTabelPopup__item_3">
      {{ b.row6_Col3 | default: '&nbsp;' }}
    </div>
    {% if b.showCols == '4Cols' %}
      <div class="customTabelPopup__item_4">
        {{ b.row6_Col4 | default: '&nbsp;' }}
      </div>
    {% endif %}
  </div>
{% endif %}
