<style>
  .precut_info_block .row{display:flex; margin-left:-8px; margin-right:-8px;}
  .precut_info_block .row .col-sm-6{flex: 0 0 auto; width: 50%; padding-left:8px; padding-right:8px;}
</style>
<div class="customTabelPopup__overlay precut-popup precut_info_block" style="display:none">
   <div class="customTabelPopup">
      <span class="customTabelPopup__close">
         <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
            <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
         </svg>
      </span>
     
     {% if b.info_title %}
      <div class="font18">
         <strong>{{ b.info_title }}</strong>
      </div>
     {% endif %}
     {% if b.info_desc %}
      <div class="mrg16">
         {{ b.info_desc }}
      </div>
     {% endif %}
    <div class="row mrg24">
      <div class="col-sm-6">
        {% if b.no_precut_img %}
          <div class="">
             <img src="{{ b.no_precut_img | img_url: 'master'  }}" alt="image" />
          </div>
        {% endif %}
         {% if b.no_precut_msg %}
          <div class="mrg24">
             <strong>{{ b.no_precut_msg }}</strong>
          </div>
         {% endif %}
         {% if b.no_precut_time %}
          <div class="mrg8 opacity3">
             Time saved: {{ b.no_precut_time }}
          </div>
         {% endif %}
         {% if b.no_precut_trans %}
          <div class="opacity3 font12 mrg4">
             {{ b.no_precut_trans }}
          </div>
         {% endif %}
      </div>
      <div class="col-sm-6">
        {% if b.precut_img %}
          <div class="">
             <img src="{{ b.precut_img | img_url: 'master'  }}" alt="image" />
          </div>
        {% endif %}
         {% if b.precut_msg %}
          <div class="mrg24">
             <strong>{{ b.precut_msg }}</strong>
          </div>
         {% endif %}
         {% if b.precut_time %}
          <div class="mrg8">
             Time saved: <strong class="lnkcolor">{{ b.precut_time }}</strong>
          </div>
         {% endif %}
         {% if b.precut_trans %}
          <div class="font12 mrg4">
             {{ b.precut_trans }}
          </div>
         {% endif %}
      </div>
    </div>
     
   </div>
</div>

<script>
  
document.querySelectorAll("._openmodalbox").forEach(function (element) {
  element.addEventListener("click", function () {
    var _tnode = this.getAttribute("data-target");
    console.log("Data-target value:", _tnode);
    var targetElement = document.querySelector(_tnode);

    if (targetElement) {
      targetElement.style.display = "block";
    } else {
      console.error(`No element found for selector: ${_tnode}`);
    }
  });
});
</script>