{% assign aspect_ratio = 1 %}
<div 
  id="FeaturedMedia-{{ section.id }}-0" 
  class="product-gallery-item {{ act }} element--border-radius {% if section.settings.show_border %} element--has-border--body element--has-border--thin {% endif %} element--border-radius"
  data-product-media-type="image"
  data-product-single-media-wrapper
  data-media-id="0"
  data-video
  tabindex="0"
  data-index="{{ index }}"
  {%- if enable_zoom -%} data-image-zoom {%- endif -%}
  data-ratio="{{ aspect_ratio }}" style="padding-top: {{ 100 | divided_by: aspect_ratio }}%"
>

  {%- if desktop_width contains 'one-half' -%}
    {%- if layout contains 'one-col' -%}
      {%- capture sizes -%}
        sizes="(max-width: 767px) {{ mobile_width }}vw, (max-width: {{ settings.theme_max_width }}px) 50vw, {{ settings.theme_max_width | divided_by: 2 }}px"
      {%- endcapture -%}
    {%- else -%}
      {%- capture sizes -%}
      sizes="(max-width: 767px) {{ mobile_width }}vw, (max-width: 1024px) 50vw, (max-width: {{ settings.theme_max_width }}px) 25vw, {{ settings.theme_max_width | divided_by: 4 }}px"
      {%- endcapture -%}
    {%- endif -%}
  {%- else -%}
    {%- if layout contains 'one-col' -%}
      {%- capture sizes -%}
        sizes="(max-width: 767px) {{ mobile_width }}vw, (max-width: 1024px) 60vw, (max-width: {{ settings.theme_max_width }}px) 66vw, {{ settings.theme_max_width | divided_by: 1.5 }}px"
      {%- endcapture -%}
    {%- else -%}
      {%- capture sizes -%}
        sizes="(max-width: 767px) {{ mobile_width }}vw, (max-width: 1024px) 60vw, (max-width: {{ settings.theme_max_width }}px) 33vw, {{ settings.theme_max_width | divided_by: 3 }}px"
      {%- endcapture -%}
    {%- endif -%}
  {%- endif -%}
index: {{ index }}
  {%- liquid

    if index == 0 
      assign preload = true
    endif
    if layout contains 'scroll'
      assign image_class = 'apply-gallery-animation lazy-image--to-reveal'
    else
      assign image_class = 'apply-gallery-animation'
    endif
    
    render 'lazy-image-url', url: url, id: image_id, fit: fit, ratio: aspect_ratio, sizes: sizes, preload: preload, type: 'background', class: image_class

  -%}

  {%- if enable_zoom -%}
    <product-image-zoom class="product-gallery-item__zoom" data-image="{{ url }}" aria-hidden="true" tabindex="-1">
      {%- render 'theme-symbols', icon: 'zoom-in' -%}
    </product-image-zoom>
  {% endif %}
 

</div>