{%- assign selected_variant = prod_.selected_or_first_available_variant -%}
<div class="swiper-container main-slider posrel" pid="{{- prod_.id -}}">
  <div class="swiper-wrapper" pid="{{ prod_.id }}">
    {% for img in prod_.images %}
      <div class="swiper-slide {% if selected_variant.featured_image and img.src == selected_variant.featured_image.src %} variant-image {% endif %}">
        <img src="{{ img | img_url: '350x350' }}" alt="{{ product.title }}" loading="lazy" />
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-prev">
    <svg width="7px" height="9px" viewBox="0 0 7 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Triangle" fill="#000000" transform="translate(3.5, 4.5) rotate(90) translate(-3.5, -4.5)" points="3.5 1 8 8 -1 8"></polygon></g></svg>
  </div>
  <div class="swiper-button-next">
    <svg width="7px" height="9px" viewBox="0 0 7 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Triangle" fill="#000000" transform="translate(3.5, 4.5) rotate(90) translate(-3.5, -4.5)" points="3.5 1 8 8 -1 8"></polygon></g></svg>
  </div>
</div>

<script>
  var swiperMain_{{ prod_.id }};
</script>
