{%- assign selected_variant = product.selected_or_first_available_variant -%}
<div>
  <strong>{{ b.v_title }}</strong>
</div>
<div class="variant-pills">
    {%- for variant in product.variants -%}
      <button class="variant-pill{% if selected_variant.id == variant.id %} active{% endif %}"
              data-productid="{{ product.id }}"
              data-variantid="{{ variant.id }}"
              data-price="{{ variant.price | money }}"
              data-image="{{ variant.featured_image.src | img_url: '350x' }}">
        {{ variant.title }}
      </button>
    {%- endfor -%}
</div>