{% if b.icon_1 != blank and b.title_1_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal1" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
      
      {% if b.title_1_image %}
        <div class="">
           <img src="{{ b.title_1_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_1_image %}
        <div class="mrg24">
           {{ b.title_1_text }}
        </div>
       {% endif %}
       {% if b.title_1_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_1_link }}">{{ b.title_1_button }}</a>
        </div>
       {% endif %}
       
     </div>
  </div>
{% endif %}
    

{% if b.icon_2 != blank and b.title_2_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal2" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
      
      {% if b.title_2_image %}
        <div class="">
           <img src="{{ b.title_2_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_2_image %}
        <div class="mrg24">
           {{ b.title_2_text }}
        </div>
       {% endif %}
       {% if b.title_2_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_2_link }}">{{ b.title_2_button }}</a>
        </div>
       {% endif %}
       
     </div>
  </div>
{% endif %}
    

{% if b.icon_3 != blank and b.title_3_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal3" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
      
      {% if b.title_3_image %}
        <div class="">
           <img src="{{ b.title_3_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_3_image %}
        <div class="mrg24">
           {{ b.title_3_text }}
        </div>
       {% endif %}
       {% if b.title_3_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_3_link }}">{{ b.title_3_button }}</a>
        </div>
       {% endif %}
     </div>
  </div>
{% endif %}
    
<span style="display:none">b.title_4_popup_checkbox: {{ b.title_4_popup_checkbox }}</span>
{% if b.title_4_popup_checkbox == true %}
  <span style="display:none">hari</span>
  <div class="customTabelPopup__overlay icon-text-modal4" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
       
      {% if b.title_4_image %}
        <div class="">
           <img src="{{ b.title_4_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_4_image %}
        <div class="mrg24">
           {{ b.title_4_text }}
        </div>
       {% endif %}
       {% if b.title_4_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_4_link }}">{{ b.title_4_button }}</a>
        </div>
       {% endif %}
     </div>
  </div>
{% endif %}
    

{% if b.icon_5 != blank and b.title_5_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal5" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
      
      {% if b.title_5_image %}
        <div class="">
           <img src="{{ b.title_5_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_5_image %}
        <div class="mrg24">
           {{ b.title_5_text }}
        </div>
       {% endif %}
       {% if b.title_5_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_5_link }}">{{ b.title_5_button }}</a>
        </div>
       {% endif %}
       
     </div>
  </div>
{% endif %}
    

{% if b.icon_6 != blank and b.title_6_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal6" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>

      {% if b.title_6_image %}
        <div class="">
           <img src="{{ b.title_6_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_6_image %}
        <div class="mrg24">
           {{ b.title_6_text }}
        </div>
       {% endif %}
       {% if b.title_6_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_6_link }}">{{ b.title_6_button }}</a>
        </div>
       {% endif %}
     </div>
  </div>
{% endif %}
    

{% if b.icon_7 != blank and b.title_7_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal6" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
       
      {% if b.title_7_image %}
        <div class="">
           <img src="{{ b.title_7_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_7_image %}
        <div class="mrg24">
           {{ b.title_7_text }}
        </div>
       {% endif %}
       {% if b.title_7_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_7_link }}">{{ b.title_7_button }}</a>
        </div>
       {% endif %}
     </div>
  </div>
{% endif %}
    

{% if b.icon_8 != blank and b.title_8_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal6" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
      
      {% if b.title_8_image %}
        <div class="">
           <img src="{{ b.title_8_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_8_image %}
        <div class="mrg24">
           {{ b.title_8_text }}
        </div>
       {% endif %}
       {% if b.title_8_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_8_link }}">{{ b.title_8_button }}</a>
        </div>
       {% endif %}
     </div>
  </div>
{% endif %}
    

{% if b.icon_9 != blank and b.title_9_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal6" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
       
      {% if b.title_9_image %}
        <div class="">
           <img src="{{ b.title_9_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_9_image %}
        <div class="mrg24">
           {{ b.title_9_text }}
        </div>
       {% endif %}
       {% if b.title_9_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_9_link }}">{{ b.title_9_button }}</a>
        </div>
       {% endif %}
       
     </div>
  </div>
{% endif %}
    

{% if b.icon_10 != blank and b.title_10_popup_checkbox == true %}
  <div class="customTabelPopup__overlay icon-text-modal6" style="display:none">
     <div class="customTabelPopup">
        <span class="customTabelPopup__close">
           <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
              <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
           </svg>
        </span>
      {% if b.title_10_image %}
        <div class="">
           <img src="{{ b.title_10_image | img_url: 'master'  }}" alt="image" />
        </div>
      {% endif %}
       {% if b.title_10_image %}
        <div class="mrg24">
           {{ b.title_1_text }}
        </div>
       {% endif %}
       {% if b.title_1_link %}
        <div class="mrg8">
           <a class="lnk_activecolor font14" href="{{ b.title_1_link }}">{{ b.title_10_button }}</a>
        </div>
       {% endif %}
       
     </div>
  </div>
{% endif %}