<div class="relatedPopup related-pdp-box" pid="{{ prod_.id }}" p-handle="{{ prod_.handle }}">
  <div class="relatedPopup__media">
    {% render 'related_prod_gallery' prod_: prod_ %}

    <div class="relatedPopup__offers mrg16">
      <div class="relatedPopup__offers__item">
        <span style="width:24px; height:24px; display:inline-flex;">
          <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/next-day-delivery-icon.png?v=1738077488" style="max-width:100%" alt="next day delivery" loading="lazy" />
        </span>
        <span>Next Day Rush Delivery</span>
      </div>  
      <div class="relatedPopup__offers__item">
        <span style="width:24px; height:24px; display:inline-flex;">
          <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/no-minium-icon.png?v=1738077488" style="max-width:100%" alt="No Minimums" loading="lazy" />
        </span>
        <span>No Minimums</span>
      </div>
      <div class="relatedPopup__offers__item">
        <span style="width:24px; height:24px; display:inline-flex;">
          <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/bulk-discounts-icon.png?v=1738077488" style="max-width:100%" alt="Bulk Discounts" loading="lazy" />
        </span>
        <span>Bulk Discounts</span>
      </div>
    </div>


  </div>

  <div class="relatedPopup__content">
          
      <go-back-btn class="p_bck">
        <svg enable-background="new 0 0 32 32" width="16px" height="16px" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M31.106,15H3.278l8.325-8.293 c0.391-0.391,0.391-1.024,0-1.414c-0.391-0.391-1.024-0.391-1.414,0l-9.9,9.899c-0.385,0.385-0.385,1.029,0,1.414l9.9,9.9 c0.391,0.391,1.024,0.391,1.414,0c0.391-0.391,0.391-1.024,0-1.414L3.278,17h27.828c0.552,0,1-0.448,1-1 C32.106,15.448,31.658,15,31.106,15z" fill="#3eaeff" fill-rule="evenodd" id="Arrow_Back"/><g/><g/><g/><g/><g/><g/></svg>
        <span>Back</span>
      </go-back-btn>
          
            <h2 class="relatedPopup__content__title">{{ prod_.title | escape }}</h2>
            <div>
                {%- assign selected_variant = prod_.selected_or_first_available_variant -%}
                <div class="pdp-product-price-t">
                  <strong class="price-value">{{ selected_variant.price | money }}</strong>
                </div>
            </div>


            <div class="yotpoPlaceHolder" style="margin-top:{{ b.margin_top }}px; margin-bottom:{{ b.margin_bottom }}px;">
              <div class="ratting_yopto"></div>
            </div>
          
          
          
            <div>
              {% comment %}
                {%- render 'related-variant', product: prod_, variant: prod_.selected_or_first_available_variant, b:b, product_price_varies: prod_.price_varies -%}
              {% endcomment %}
            
              <!-- Variant Options (Dropdowns) -->
              <script>
                var variants = {{ prod_.variants | json }};
              </script>
              <!-- Variant Options (Color as Swatches, Others as Pills) -->
              {%- for option in prod_.options_with_values -%}
                <div class="variant-option">
                  <label>{{ option.name }}:</label>
        
                  {%- if option.name == "Color" or option.name == "colour" -%}
                    <!-- Color Swatches -->
                    <div class="color-swatch-group" data-option-name="option{{ forloop.index }}" data-optionname="{{ option.name }}">
                      {%- for value in option.values -%}
                        <button type="button" class="color-swatch{% if option.selected_value == value %} active{% endif %}" data-value="{{ value }}"
                                style="background-color: {{ value | handle }};"
                                aria-label="{{ value }}">
                        </button>
                      {%- endfor -%}
                    </div>
                  {%- else -%}
                    <!-- Pills for Other Options -->
                    <div class="variant-pill-group" data-option-name="option{{ forloop.index }}" data-optionname="{{ option.name }}">
                      {%- for value in option.values -%}
                        <button type="button" class="variant-pill{% if option.selected_value == value %} active{% endif %}" data-value="{{ value }}">
                          {{ value }}
                        </button>
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                </div>
              {%- endfor -%}
              <!-- ./Variant Options (Dropdowns) -->
            </div>

          <div class='qty-with-price' >
            <div class="qty-select">
                  <div><strong>Quantity</strong></div>
                  <div class="quantity-selector">
                    
                    <button class="qty-btn decrease">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0566 6.5V7.5H0.0566406L0.0566407 6.5L13.0566 6.5Z" fill="black"></path></svg>  
                    </button>
                    <input type="number" class="quantity-input" value="1" min="1">
                    <button class="qty-btn increase">
                      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.05664 0.5H7.05664V13.5H6.05664V0.5Z" fill="black"></path><path d="M13.0566 6.5V7.5H0.0566406L0.0566407 6.5L13.0566 6.5Z" fill="black"></path></svg>  
                    </button>
                  </div>
              </div>
              <div class="price_node">
                <div class="pdp-product-price-t">
                  <strong class="price-value">{{ selected_variant.price | money }}</strong>
                </div>
              </div>
          </div>
          
            <div class="product-buynow">
              <button class="button button--solid button--product button--loader button--move add-to-cart" data-productid="{{ product.id }}" data-variantid="{{ prod_.selected_or_first_available_variant.id }}">
                <span class="button__text"> Add To Cart </span>
                <span class="button__preloader">
                  <svg class="button__preloader-element" viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="4"></circle>
                  </svg>
                </span>
              </button>
            </div>
            <div class="product-buynow d-none">
              <button class="button button--solid button--product button--loader button--move buy-now" data-productid="{{ product.id }}" data-variantid="{{ prod_.selected_or_first_available_variant.id }}">
                <span class="button__text">Checkout</span>
                <span class="button__preloader">
                  <svg class="button__preloader-element" viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="4"></circle>
                  </svg>
                </span>
              </button>
            </div>

            <div class="desc-wrapper">
              <div class="relatedPopup__content__fullDetail">
                <a href="javascript:void(0)" class="_tdesc first" tabindex="0">View Description</a>
                <a href="javascript:void(0)" class="_tndesc second" style="display:none" tabindex="0">Hide Description</a>
              </div>
              <div class="product-description hidden">{{ prod_.description }}</div>  
            </div>

  </div>
</div>
