{% assign ai_gen_id = block.id | replace: '_', '' | downcase %}
{% if block.settings.section_enable %}
    <style>
        .section-wrapper-{{- ai_gen_id -}}{background: {{ block.settings.section_bg_color }}; padding: {{ block.settings.section_padding_desktop }}px 0px;}
        .section-wrapper-{{ ai_gen_id }} .grt-height-block{background: {{ block.settings.section_bg_color }};}
        @media(max-width:768px){
            .section-wrapper-{{- ai_gen_id -}}{padding: {{ block.settings.section_padding_mobile }}px 0px;}
        }
    </style>
    {% if block.settings.start_type == "start" %}
        <div class="section-wrapper-{{- ai_gen_id -}}">
    {% endif %}
    {% if block.settings.start_type == "end" %}
        </div>
    {% endif %}
{% endif %}

{% schema %}
{
  "name": "Block wrapper",
  "tag": null,
  "settings": [
    {
        "type":"checkbox",
        "id":"section_enable",
        "label": "Section Enable",
        "default":true
    },
    {
      "type": "range",
      "id": "section_padding_desktop",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding (desktop)",
      "default": 80,
      "visible_if":"{{ block.settings.start_type == 'start' }}"
    },
    {
      "type": "range",
      "id": "section_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding (mobile)",
      "default": 40,
      "visible_if":"{{ block.settings.start_type == 'start' }}"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background color",
      "default": "#ffffff",
      "visible_if":"{{ block.settings.start_type == 'start' }}"
    },
    {
      "type": "select",
      "id": "start_type",
      "label": "Block type",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "end",
          "label": "Section End"
        }
      ],
      "default": "start"
    }
  ],
  "presets": [
    {
      "name": "Block wrapper"
    }
  ]
}
{% endschema %}