{%-liquid
  assign ss = section.settings
  assign allPages = page.metafields.custom.related.value
-%}

{% if allPages.size > 0 %}
  <div id="articleRelated-{{ section.id }}" class="articleRelated {% if section.settings.is_fullwidth %} container--fullwidth {% else %} container--large {% endif %} {% unless section.settings.remove_margin %} container--vertical-space {% endunless %} remove-empty-space reduce-margin-if-first">
    {% if ss.showDividerLine %}
      <div class="articleRelated__dividedLine">&nbsp;</div>
    {% endif %}
    {% if ss.title != blank %}
      <h3 class="articleRelated__mainTitle">{{ ss.title }}</h3>
    {% endif %}

    <div class="articleRelated__items">
      {% for p in allPages %}
        {%-liquid
          assign getPage_ = p | split: '/pages/' | last
          assign getPage = pages[getPage_]
        -%}
        {% if getPage.id != blank %}
          <a href="{{ getPage.url }}" class="articleRelated__item">
            {% if getPage.metafields.custom.university_page_cover_image != blank %}
              <img src="{{ getPage.metafields.custom.university_page_cover_image | image_url: width: 400 }}" alt="{{ getPage.title | escape }}">
            {% endif %}

            <{{ ss.titleTag }}>{{ getPage.title }}</{{ ss.titleTag }}>

            {% if getPage.metafields.custom.university_excerpt != blank %}
              <p>{{ getPage.metafields.custom.university_excerpt }}</p>
            {% endif %}

            <span class="articleRelated__readmore">Read More</span>
            {%- comment -%}
            <a href="{{ getPage.url }}" class="articleRelated__readmore">
              Read More
            </a>
            {%- endcomment -%}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}

<style>
  #articleRelated-{{ section.id }} {
    max-width: {{ ss.maxWidth | append: 'px' }};
    margin-left: auto;
    margin-right: auto;
    margin-top: {{ ss.marginTop | append: 'px' }} !important;
    margin-bottom: {{ ss.marginBottom | append: 'px' }};
  }
  #articleRelated-{{ section.id }} a.articleRelated__item {
    border: 1px solid #dbdbdb;
    background-color: #f1f1f1;
    border-radius: 6px;
    padding-bottom: 10px;
  }
  #articleRelated-{{ section.id }} .articleRelated__item h4{
    padding:0px 15px;
  }
 #articleRelated-{{ section.id }} a.articleRelated__item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  #articleRelated-{{ section.id }} .articleRelated__mainTitle {
    margin-bottom: 48px;
    padding:0px 15px;
  }
  #articleRelated-{{ section.id }} .articleRelated__dividedLine {
    height: 3px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
  }
  #articleRelated-{{ section.id }} .articleRelated__items {
    display: flex;
    gap: 20px;
  }
  @media (max-width: 600px) {
    #articleRelated-{{ section.id }} .articleRelated__items {
      display: grid;
      gap: 20px;
      row-gap: 36px;
    }
  }
  #articleRelated-{{ section.id }} .articleRelated__item {
    display: block;
  }
  #articleRelated-{{ section.id }} .articleRelated__item img {
    width: 100%;
    border-radius: 8px;
  }
  #articleRelated-{{ section.id }} .articleRelated__item {{ ss.titleTag }} {
    margin-top: {{ ss.titleMarginTop | append: 'px' }};
  }
  #articleRelated-{{ section.id }} .articleRelated__item p {
    font-size: {{ ss.descriptionExcerptFSize }};
    font-size: 15px;
    margin-bottom: 8px;
    padding:0px 15px;
  }
  #articleRelated-{{ section.id }} .articleRelated__readmore {
    font-weight: 600;
    font-size: small;
    display:none;
  }
</style>

{% schema %}
{
  "name": "Article Related Content",
  "class": "mount-css-slider mount-slideshow mount-video-background supports-absolute-header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Related Content"
    },
    {
      "type": "checkbox",
      "id": "showDividerLine",
      "label": "Show Divider Line above title",
      "default": false
    },
    {
      "type": "liquid",
      "id": "related__1",
      "label": "Related Page 1"
    },
    {
      "type": "select",
      "id": "titleTag",
      "label": "Card Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ]
    },
    {
      "type": "range",
      "id": "titleMarginTop",
      "label": "Margin top for Title",
      "unit": "px",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "select",
      "id": "descriptionExcerptFSize",
      "label": "Description Excerpt Font Size",
      "default": "medium",
      "options": [
        {
          "value": "larger",
          "label": "Larger"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "smaller",
          "label": "Smaller"
        }
      ]
    },
    {
      "type": "range",
      "id": "maxWidth",
      "label": "Max Width",
      "unit": "px",
      "min": 500,
      "max": 1400,
      "step": 10,
      "default": 1000
    },
    {
      "type": "range",
      "id": "marginTop",
      "label": "Margin Top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "marginBottom",
      "label": "Margin Bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 0,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Article Related Content"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
