{%-liquid
  assign ss = section.settings
  assign sb = section.blocks
-%}
<link
  href="{{ 'bestProducts.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.onload=null;this.media='all';"
>
<noscript>
{{ 'bestProducts.css' | asset_url | stylesheet_tag }}
</noscript>
{% if sb.size > 0 %}
  <div class="container--large">
    <div class="bestProducts">
      <div class="bestProducts__heading">
        {% if ss.title != blank %}
          <div class="bestProducts__title titleAlignDesktop__{{ ss.titleAlign_desktop }} titleAlignMobile__{{ ss.titleAlign_desktop }}">
            <{{ ss.titleTag }}>
              {{ ss.title }}
            </{{ ss.titleTag }}>
          </div>
        {% endif %}

        {% if ss.content != blank %}
          <p class="bestProducts__subTitle">
            {{ ss.content }}
          </p>
        {% endif %}
      </div>

      <div class="bestProducts__wrap">
        {%- assign collectStyles = '' -%}
        {%- for block in sb -%}
          {%- assign b = block.settings -%}
          <div class="bestProducts__item {{ b.setWidth }}" bid="{{ block.id }}">
            <div class="bestProducts__item__content">
              {% if b.icon != blank %}
                <span class="bestProducts__item__contentCircle">
                  <img
                    srcset="
                      {{ b.icon | image_url: width: 100 }} 100w,
                      {{ b.icon | image_url: width: 200 }} 200w,
                      {{ b.icon | image_url: width: 300 }} 300w
                    "
                    sizes="
                      (max-width: 600px) 50vw,
                      (max-width: 1200px) 25vw,
                      10vw
                    "
                    src="{{ b.icon | image_url: width: 100 }}"
                    alt="{{ b.icon.alt | escape }}"
                    width="100"
                    height="auto"
                    class="your-image-class"
                    loading="lazy"
                  >
                </span>
              {% endif %}
              {% if b.title != blank %}
                <div class="bestProducts__item__title">
                  {{ b.title }}
                </div>
              {% endif %}
              {% if b.price != blank %}
                <div class="bestProducts__item__text">
                  {{ b.price }}
                </div>
              {% endif %}

              {% if b.btnText != blank and b.btnLink != blank %}
                <a href="{{ b.btnLink }}" class="bestProducts__item__btn newHomeBtn">
                  <span>
                    {{ b.btnText }}
                  </span>
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3333 5.5L20 12.5M20 12.5L13.3333 19.5M20 12.5L4 12.5" stroke="#171717" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </a>
              {% endif %}
            </div>

            <div class="bestProducts__item__iconWrap">
              {% if b.image != blank %}
                <img
                  srcset="
                    {{ b.image | image_url: width: 400 }} 400w,
                    {{ b.image | image_url: width: 800 }} 800w,
                    {{ b.image | image_url: width: 1200 }} 1200w
                  "
                  sizes="
                    (max-width: 600px) 100vw,
                    (max-width: 1200px) 50vw,
                    33vw
                  "
                  src="{{ b.image | image_url: width: 800 }}"
                  alt="{{ b.image.alt | escape }}"
                  width="800"
                  height="auto"
                  loading="lazy"
                  class="your-image-class"
                >
              {% else %}
                &nbsp;
              {% endif %}
            </div>
          </div>
          {%- capture collectStyles -%}
            {{ collectStyles }}
            .bestProducts__item[bid="{{ block.id }}"] {
              background-color: {{ b.bgColor }};
            }
          {%- endcapture -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  {%- capture getStyles -%}
    {{ collectStyles }}
    {% if ss.showDots == false %}
      .slick-dots {
        display: none;
      }
    {% endif %}
    #shopify-section-{{ section.id }} {
      margin-top: {{ ss.secMarginTop_desktop | append: 'px' }};
      margin-bottom: {{ ss.secMarginBottom_desktop | append: 'px' }};

      padding-top: {{ ss.secPaddingTop_desktop | append: 'px' }};
      padding-bottom: {{ ss.secPaddingBottom_desktop | append: 'px' }};
    }
    @media (max-width: 1024px) {
      #shopify-section-{{ section.id }} {
        margin-top: {{ ss.secMarginTop_tab | append: 'px' }};
        margin-bottom: {{ ss.secMarginBottom_tab | append: 'px' }};

        padding-top: {{ ss.secPaddingTop_tab | append: 'px' }};
        padding-bottom: {{ ss.secPaddingBottom_tab | append: 'px' }};
      }
    }
    @media (max-width: 600px) {
      #shopify-section-{{ section.id }} {
        margin-top: {{ ss.secMarginTop_mobile | append: 'px' }};
        margin-bottom: {{ ss.secMarginBottom_mobile | append: 'px' }};

        padding-top: {{ ss.secPaddingTop_mobile | append: 'px' }};
        padding-bottom: {{ ss.secPaddingBottom_mobile | append: 'px' }};
      }
    }
  {%- endcapture -%}
  <style>
    {{ getStyles }}
  </style>
{% endif %}

{% schema %}
{
  "name": "Best Products",
  "class": "can-be-fullwidth merged-section supports-absolute-header",
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Your Heading Here"
    },
    {
      "type": "select",
      "id": "titleTag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    },
    {
      "type": "select",
      "id": "titleAlign_desktop",
      "label": "Title Align Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "titleAlign_mobile",
      "label": "Title Align Mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content",
      "default": "Explore our range of DTF products and find the perfect fit for your needs."
    },
    {
      "type": "header",
      "content": "Section Margins"
    },
    {
      "type": "range",
      "id": "secMarginTop_desktop",
      "label": "Margin Top Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_tab",
      "label": "Margin Top Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_mobile",
      "label": "Margin Top Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_desktop",
      "label": "Margin Bottom Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_tab",
      "label": "Margin Bottom Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_mobile",
      "label": "Margin Bottom Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Paddings"
    },
    {
      "type": "range",
      "id": "secPaddingTop_desktop",
      "label": "Padding Top Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingTop_tab",
      "label": "Padding Top Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingTop_mobile",
      "label": "Padding Top Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_desktop",
      "label": "Padding Bottom Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_tab",
      "label": "Padding Bottom Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_mobile",
      "label": "Padding Bottom Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "limit": 3,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Upload Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Upload Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Unmatched Quality"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "As Low as - $0.03 per square inch"
        },
        {
          "type": "text",
          "id": "btnText",
          "label": "Button Text",
          "default": "Shop Transfers By Size"
        },
        {
          "type": "url",
          "id": "btnLink",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "setWidth",
          "label": "Set Width",
          "options": [
            {
              "value": "fullWidth",
              "label": "Full Width"
            },
            {
              "value": "halfWidth",
              "label": "Half Width"
            }
          ]
        },
        {
          "type": "color",
          "id": "bgColor",
          "label": "Background Color",
          "default": "#f6f7f9"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Best Products",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
