{%-liquid
  assign ss = section.settings
  assign sb = section.blocks
-%}
{{ 'blockContent.css' | asset_url | stylesheet_tag }}
{% if sb.size > 0 %}
  <div class="container--large">
    <div class="blockContent">
      {% if ss.title != blank %}
        <div class="blockContent__title titleAlignDesktop__{{ ss.titleAlign_desktop }} titleAlignMobile__{{ ss.titleAlign_desktop }}">
          <{{ ss.titleTag }}>
            {{ ss.title }}
          </{{ ss.titleTag }}>
        </div>
      {% endif %}

      <div class="blockContent__wrap">
        {%- assign collectStyles = '' -%}
        {%- for block in sb -%}
          {%- assign b = block.settings -%}
          <div class="blockContent__item" bid="{{ block.id }}">
            <div class="blockContent__item__iconWrap">
              {% if b.image != blank %}
                <img src="{{ b.image | image_url: width: b.img_width }}">
              {% else %}
                &nbsp;
              {% endif %}
            </div>

            <div class="blockContent__item__content">
              {% if b.title != blank %}
                <div class="blockContent__item__title">
                  {{ b.title }}
                </div>
              {% endif %}
              {% if b.content != blank %}
                <div class="blockContent__item__text">
                  {{ b.content }}
                </div>
              {% endif %}
            </div>

          </div>
          {%- capture collectStyles -%}
            {{ collectStyles }}
          {%- endcapture -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  {%- capture getStyles -%}
    {{ collectStyles }}
    {% if ss.showDots == false %}
      .slick-dots {
        display: none;
      }
    {% endif %}
    #shopify-section-{{ section.id }} {
      margin-top: {{ ss.secMarginTop_desktop | append: 'px' }};
      margin-bottom: {{ ss.secMarginBottom_desktop | append: 'px' }};

      padding-top: {{ ss.secPaddingTop_desktop | append: 'px' }};
      padding-bottom: {{ ss.secPaddingBottom_desktop | append: 'px' }};
    }
    @media (max-width: 1024px) {
      #shopify-section-{{ section.id }} {
        margin-top: {{ ss.secMarginTop_tab | append: 'px' }};
        margin-bottom: {{ ss.secMarginBottom_tab | append: 'px' }};

        padding-top: {{ ss.secPaddingTop_tab | append: 'px' }};
        padding-bottom: {{ ss.secPaddingBottom_tab | append: 'px' }};
      }
    }
    @media (max-width: 600px) {
      #shopify-section-{{ section.id }} {
        margin-top: {{ ss.secMarginTop_mobile | append: 'px' }};
        margin-bottom: {{ ss.secMarginBottom_mobile | append: 'px' }};

        padding-top: {{ ss.secPaddingTop_mobile | append: 'px' }};
        padding-bottom: {{ ss.secPaddingBottom_mobile | append: 'px' }};
      }
    }
    #shopify-section-{{ section.id }} .blockContent__wrap .blockContent__item {
      width: calc( {{ '100' | divided_by: ss.perRow__desktop | append: '%' }} - 20px );
    }
    @media (max-width: 1024px) {
      #shopify-section-{{ section.id }} .blockContent__wrap .blockContent__item {
        width: calc( {{ '100' | divided_by: ss.perRow__tab | append: '%' }} - 20px );
      }
    }
    @media (max-width: 600px) {
      #shopify-section-{{ section.id }} .blockContent__wrap .blockContent__item {
        width: calc( {{ '100' | divided_by: ss.perRow__mobile | append: '%' }} - 20px );
      }
    }
  {%- endcapture -%}
  <style>
    {{ getStyles }}
  </style>
{% endif %}

{% schema %}
{
  "name": "Block Content",
  "class": "can-be-fullwidth merged-section supports-absolute-header",
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Your Heading Here"
    },
    {
      "type": "select",
      "id": "titleTag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    },
    {
      "type": "select",
      "id": "titleAlign_desktop",
      "label": "Title Align Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "titleAlign_mobile",
      "label": "Title Align Mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "perRow__desktop",
      "label": "Per Row Cards Desktop",
      "unit": "no",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "perRow__tab",
      "label": "Per Row Cards Tablet",
      "unit": "no",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "perRow__mobile",
      "label": "Per Row Cards Mobile",
      "unit": "no",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Section Margins"
    },
    {
      "type": "range",
      "id": "secMarginTop_desktop",
      "label": "Margin Top Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_tab",
      "label": "Margin Top Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_mobile",
      "label": "Margin Top Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_desktop",
      "label": "Margin Bottom Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_tab",
      "label": "Margin Bottom Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_mobile",
      "label": "Margin Bottom Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Paddings"
    },
    {
      "type": "range",
      "id": "secPaddingTop_desktop",
      "label": "Padding Top Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingTop_tab",
      "label": "Padding Top Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingTop_mobile",
      "label": "Padding Top Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_desktop",
      "label": "Padding Bottom Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_tab",
      "label": "Padding Bottom Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_mobile",
      "label": "Padding Bottom Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Unmatched Quality"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content",
          "default": "Get unmatched quality in every DTF transfer with premium materials and expert craftsmanship"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Block Content",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
