<style>
  .columns-grid-image{border-color:transparent;}
  .posrel{position:relative;}
  .posoverlay{position:absolute; top:0; bottom:0; left:0; right:0}
  .columns-grid-image a:hover{text-decoration:underline}
  .heading_{font-size:{{section.settings.heading_font_size}}px; font-weight:{{section.settings.heading_font_weight}}}
  .link_{font-size:{{section.settings.link_font_size}}px; font-weight:{{section.settings.link_font_weight}}}
</style>
<div class="container--large container--vertical-space{% if section.settings.gutter_decrease %}-small{% endif %} remove-empty-space">
  
  {%- if section.settings.style == 'slider' -%}
    <css-slider data-options='{
        "selector": ".js-slider-item",
        "groupCells": true,
        "navigationDOM": "<span class=\"css-slider-button css-slider-prev\" style=\"display:none\"><svg fill=\"none\" height=\"11\" viewBox=\"0 0 6 11\" width=\"6\" xmlns=\"http://www.w3.org/2000/svg\"><path clip-rule=\"evenodd\" d=\"m4.32845 10.0708-4.18198-4.18194c-.195261-.19526-.195261-.51185 0-.70711l4.18198-4.181979c.19527-.195262.51185-.195262.70711 0 .19526.195259.19526.511849 0 .707109l-3.32843 3.32842s-.70713.4647-.00002 1l3.32845 3.32843c.19526.19526.19526.51185 0 .70707-.19526.1953-.51185.1953-.70711 0z\" fill=\"#000\" fill-rule=\"evenodd\"/></svg></span><span class=\"css-slider-button css-slider-next\" style=\"display:none\"><svg fill=\"none\" height=\"11\" viewBox=\"0 0 6 11\" width=\"6\" xmlns=\"http://www.w3.org/2000/svg\"><path clip-rule=\"evenodd\" d=\"m.853555.999962 4.181985 4.181978c.19526.19526.19526.51185 0 .70711l-4.181983 4.18195c-.195263.1953-.511845.1953-.707108 0-.1952631-.19523-.1952632-.51181 0-.70708l3.328431-3.32842s.70713-.4647.00002-1l-3.328453-3.32843c-.1952626-.19526-.1952627-.51185 0-.707108.195263-.195262.511845-.195262.707108 0z\" fill=\"#000\" fill-rule=\"evenodd\"/></svg></span>",
        "thumbnailsDOM": "<div class=\"css-slider-dot-navigation\" style=\"display:none;--size:{{ section.blocks.size }}\"></div>"
      }'
      class="css-slider css-slider--bottom-navigation"
    >
  {%- endif -%}

  <div class="grid {% if section.settings.style == 'slider' %} grid--slider {% else %} grid--layout {% endif %} {{ section.settings.layout }} grid--align-items-stretch">
  
    {%- for block in section.blocks -%}

      <div id="element-{{ block.id }}" class="card card--animation text-align--center js-slider-item columns-grid-image" {{ block.shopify_attributes }}>

        
          {%- unless block.settings.title == blank -%}
            <div class="gutter--small {{ section.settings.text_alignment }}">
              <{{ section.settings.seo_h_tag }} class="text-font--primary text-size--large heading_" style="margin-bottom:0">
                <span class="text-animation--underline-thin">{{ block.settings.title | escape }}</span>
              </{{ section.settings.seo_h_tag }}>
            </div>
            {%- endunless -%}

        <div 
              class="card__image posrel"
              style="padding-top:{{ 100 | divided_by: section.settings.image_aspect_ratio }}%"
            >
              {%- unless block.settings.image == blank -%}
                {%- if section.settings.layout contains 'grid-4' -%}
                  {%- capture sizes -%}
                    sizes="(max-width: 767px) calc(100vw - 20px), (max-width: 1024px) 50vw, (max-width: {{ settings.theme_max_width }}px) 25vw, {{ settings.theme_max_width | divided_by: 4 }}px"
                  {%- endcapture -%}
                {%- elsif section.settings.layout contains 'grid-3' -%}
                  {%- capture sizes -%}
                    sizes="(max-width: 767px) calc(100vw - 20px), (max-width: {{ settings.theme_max_width }}px) 33vw, {{ settings.theme_max_width | divided_by: 3 }}px"
                  {%- endcapture -%}
                {%- endif -%}
                {%- render 'lazy-image', image: block.settings.image, sizes: sizes, ratio: section.settings.image_aspect_ratio, type: 'background', alt: block.settings.title, class: 'lazy-image--animation lazy-image--to-reveal' -%}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag }}
              {%- endunless -%}
              {%- if block.settings.link != blank -%}
                  <a class="posoverlay" href="{{ block.settings.link }}"></a>
              {%- endif -%}
            </div>

        <div class="gutter--small spacing--small remove-empty-space {{ section.settings.text_alignment }}">

          {%- unless block.settings.label1link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label1link }}">{{ block.settings.label1 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label2link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label2link }}">{{ block.settings.label2 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label3link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label3link }}">{{ block.settings.label3 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label4link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label4link }}">{{ block.settings.label4 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label5link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label5link }}">{{ block.settings.label5 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label6link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label6link }}">{{ block.settings.label6 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label7link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label7link }}">{{ block.settings.label7 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label8link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label8link }}">{{ block.settings.label8 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label9link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label9link }}">{{ block.settings.label9 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label10link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label10link }}">{{ block.settings.label10 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label11link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label11link }}">{{ block.settings.label11 | escape }}</a></div>
          {%- endunless -%}

          {%- unless block.settings.label12link == blank -%}
            <div class="text-size--small link_"><a href="{{ block.settings.label12link }}">{{ block.settings.label12 | escape }}</a></div>
          {%- endunless -%}

        </div>


      </div>

      {%- render 'custom-colors', id: block.id, text: block.settings.color_text_main, background: block.settings.color_background_main, borders: block.settings.color_borders_main -%}

    {%- endfor %}

  </div>

  {%- if section.settings.style == 'slider' -%}
    </css-slider>
  {%- endif -%}

  {%- render 'section-footer', button: section.settings.cta_label, button_label: section.settings.cta_label, link: section.settings.cta_url -%}

</div>

{% schema %}
{
  "name": "columns-grid-with-images",
  "class": "mount-css-slider",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.bundle-extra-words.sections.headings.name"
    },
    {
      "type": "select",
      "id": "section_heading_layout",
      "label": "t:sections.bundle-extra-words.sections.headings.alignment.label",
      "options": [
        {
          "value": "section-heading--left section-heading--one-row",
          "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
          "group": "t:sections.bundle-extra-words.sections.headings.layout.option_1"
        },
        {
          "value": "section-heading--left section-heading--two-rows",
          "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
          "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
        },
        {
          "value": "section-heading--center section-heading--two-rows",
          "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_2",
          "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
        }
      ],
      "default": "section-heading--left section-heading--one-row"
    },
    {
      "type": "header",
      "content": "t:sections.bundle-extra-words.sections.headings.layout.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.image-with-text.settings.text_alignment.label",
      "options": [
        {
          "value": "text-align--left",
          "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
        },
        {
          "value": "text-align--center",
          "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
        }
      ],
      "default": "text-align--center"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.featured-collection.settings.layout.label",
      "options": [
        {
          "label": "t:sections.featured-collection.settings.layout.options__1.label",
          "value": "slider"
        },
        {
          "label": "t:sections.featured-collection.settings.layout.options__2.label",
          "value": "grid"
        }
      ],
      "default": "slider"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.local-extra-words.sections.columns.name",
      "info": "t:sections.local-extra-words.sections.columns.info",
      "options": [
        {
          "value": "grid-3 grid-lap-2 grid-palm-1",
          "label": "t:sections.local-extra-words.sections.columns.option__2"
        },
        {
          "value": "grid-4 grid-portable-3 grid-lap-2 grid-palm-1",
          "label": "t:sections.local-extra-words.sections.columns.option__3"
        }
      ],
      "default": "grid-4 grid-portable-3 grid-lap-2 grid-palm-1"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:settings_schema.product-grid.settings.aspect_ratio.label",
      "options": [
        {
          "value": "1.5",
          "label": "t:sections.local-extra-words.settings_schema.aspect_ratio.landscape.label"
        },
        {
          "value": "1.33333",
          "label": "t:sections.gallery.settings.aspect_ratio.options__1.label"
        },
        {
          "value": "1",
          "label": "t:sections.gallery.settings.aspect_ratio.options__2.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "t:sections.bundle-extra-words.settings_schema.card.settings.design.header"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "Heading font weight",
      "info": "Heading font weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "link_font_size",
      "label": "Link font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "select",
      "id": "link_font_weight",
      "label": "Link font weight",
      "info": "Link font weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "t:sections.bundle-extra-words.sections.headings.gutter.label"
    },
    {
      "type": "checkbox",
      "id": "gutter_decrease",
      "label": "t:sections.bundle-extra-words.sections.headings.gutter.content",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.refactor_words.seo.name"
    },
    {
      "type": "select",
      "id": "seo_h_tag",
      "label": "t:sections.refactor_words.seo.label",
      "info": "t:sections.refactor_words.seo.info",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "span",
          "label": "span"
        }
      ],
      "default": "h2"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.image-with-text.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.gallery.blocks.image.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image URL"
        },
        {
          "type": "header",
          "content": "t:sections.local-extra-words.sections.headings.text_content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.local-extra-words.sections.headings.title",
          "default": "Text with image"
        },
        {
          "type": "text",
          "id": "label1",
          "label": "Link 1 label",
          "default": "Link 1 label"
        },
        {
          "type": "url",
          "id": "label1link",
          "label": "Link 1 URL"
        },
        {
          "type": "text",
          "id": "label2",
          "label": "Link 2 label",
          "default": "Link 2 label"
        },
        {
          "type": "url",
          "id": "label2link",
          "label": "Link 2 URL"
        },
        {
          "type": "text",
          "id": "label3",
          "label": "Link 3 label",
          "default": "Link 3 label"
        },
        {
          "type": "url",
          "id": "label3link",
          "label": "Link 3 URL"
        },
        {
          "type": "text",
          "id": "label4",
          "label": "Link 4 label",
          "default": "Link 4 label"
        },
        {
          "type": "url",
          "id": "label4link",
          "label": "Link 4 URL"
        },
        {
          "type": "text",
          "id": "label5",
          "label": "Link 5 label",
          "default": "Link 5 label"
        },
        {
          "type": "url",
          "id": "label5link",
          "label": "Link 5 URL"
        },
        {
          "type": "text",
          "id": "label6",
          "label": "Link 6 label",
          "default": "Link 6 label"
        },
        {
          "type": "url",
          "id": "label6link",
          "label": "Link 6 URL"
        },
        {
          "type": "text",
          "id": "label7",
          "label": "Link 7 label",
          "default": "Link 7 label"
        },
        {
          "type": "url",
          "id": "label7link",
          "label": "Link 7 URL"
        },
        {
          "type": "text",
          "id": "label8",
          "label": "Link 8 label",
          "default": "Link 8 label"
        },
        {
          "type": "url",
          "id": "label8link",
          "label": "Link 8 URL"
        },
        {
          "type": "text",
          "id": "label9",
          "label": "Link 9 label",
          "default": "Link 9 label"
        },
        {
          "type": "url",
          "id": "label9link",
          "label": "Link 9 URL"
        },
        {
          "type": "text",
          "id": "label10",
          "label": "Link 10 label",
          "default": "Link 10 label"
        },
        {
          "type": "url",
          "id": "label10link",
          "label": "Link 10 URL"
        },
        {
          "type": "text",
          "id": "label111",
          "label": "Link 11 label",
          "default": "Link 11 label"
        },
        {
          "type": "url",
          "id": "label11link",
          "label": "Link 11 URL"
        },
        {
          "type": "text",
          "id": "label12",
          "label": "Link 12 label",
          "default": "Link 12 label"
        },
        {
          "type": "url",
          "id": "label12link",
          "label": "Link 12 URL"
        },
        {
          "type": "header",
          "content": "t:sections.bundle-extra-words.settings_schema.card.settings.design.header"
        },
        {
          "type": "color",
          "id": "color_background_main",
          "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_text_main",
          "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_borders_main",
          "label": "t:sections.local-extra-words.settings_schema.colors.settings.borders",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "t:sections.refactor_words.seo.name"
        },
        {
          "type": "select",
          "id": "seo_h_tag",
          "label": "t:sections.refactor_words.seo.label",
          "info": "t:sections.refactor_words.seo.info",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "span",
              "label": "span"
            }
          ],
          "default": "h3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "columns-grid-with-images",
      "blocks": [
        
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
