{%-liquid
  assign ss = section.settings
  assign sb = section.blocks
-%}
{{ 'getStarted.css' | asset_url | stylesheet_tag }}

<div class="getStarted">
  {% if ss.title != blank %}
    <{{ ss.titleTag }} class="getStarted__title">
      {{ ss.title }}
    </{{ ss.titleTag }}>
  {% endif %}

  {% if ss.content != blank %}
    <p class="getStarted__content">
      {{ ss.content }}
    </p>
  {% endif %}

  <div class="getStarted__cta">
    {% if ss.btnText_1 != blank and ss.btnLink_1 != blank %}
      <a {% if ss.target_label %}data-tnode="{{ ss.target_label }}"{% endif %} href="{% if ss.target_label != blank %}javascript:void(0);{% else %}{{ ss.btnLink_1 }}{% endif %}" class="getStarted__btn newHomeBtn focuselement">
        <span>
          {{ ss.btnText_1 }}
        </span>
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3333 5.5L20 12.5M20 12.5L13.3333 19.5M20 12.5L4 12.5" stroke="#171717" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </a>
    {% endif %}

    {% if ss.btnText_2 != blank and ss.btnLink_2 != blank %}
      <a href="{{ ss.btnLink_2 }}" class="getStarted__btn newHomeBtn">
        <span>
          {{ ss.btnText_2 }}
        </span>
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3333 5.5L20 12.5M20 12.5L13.3333 19.5M20 12.5L4 12.5" stroke="#171717" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </a>
    {% endif %}
  </div>

  <div class="getStarted__iconText">
    {%- assign tickIcon = '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_2001_17936" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="1" width="30" height="31"><path d="M16 29C23.1797 29 29 23.1797 29 16C29 8.8203 23.1797 3 16 3C8.8203 3 3 8.8203 3 16C3 23.1797 8.8203 29 16 29Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M22 32L28.989 23.5L15.998 16L9.998 26.393L22 32Z" fill="url(#paint0_linear_2001_17936)"/><path d="M0 12.9994L3.008 23.4994L15.998 15.9994L9.998 5.60742L0 12.9994Z" fill="url(#paint1_linear_2001_17936)"/><path d="M15.998 1H27.998V16H15.998V1Z" fill="url(#paint2_linear_2001_17936)"/></mask><g mask="url(#mask0_2001_17936)"><path d="M0 0H32V32H0V0Z" fill="#CDFE7D"/></g><path d="M14 21.5L9 16.54L10.59 14.97L14 18.35L21.41 11L23 12.58L14 21.5Z" fill="white"/><defs><linearGradient id="paint0_linear_2001_17936" x1="24.2437" y1="18.7552" x2="13.3017" y2="29.6972" gradientUnits="userSpaceOnUse"><stop offset="0.2"/><stop offset="0.8" stop-opacity="0"/></linearGradient><linearGradient id="paint1_linear_2001_17936" x1="9.91476" y1="21.6487" x2="5.91019" y2="6.70256" gradientUnits="userSpaceOnUse"><stop offset="0.2"/><stop offset="0.8" stop-opacity="0"/></linearGradient><linearGradient id="paint2_linear_2001_17936" x1="14.525" y1="6.498" x2="29.471" y2="10.502" gradientUnits="userSpaceOnUse"><stop offset="0.2"/><stop offset="0.8" stop-opacity="0"/></linearGradient></defs></svg>' -%}

    {% if ss.iconText_1 != blank %}
      <div class="getStarted__iconItem">
        {{ tickIcon }}
        <span>{{ ss.iconText_1 }}</span>
      </div>
    {% endif %}

    {% if ss.iconText_2 != blank %}
      <div class="getStarted__iconItem">
        {{ tickIcon }}
        <span>{{ ss.iconText_2 }}</span>
      </div>
    {% endif %}

    {% if ss.iconText_3 != blank %}
      <div class="getStarted__iconItem">
        {{ tickIcon }}
        <span>{{ ss.iconText_3 }}</span>
      </div>
    {% endif %}
  </div>
</div>


{%- capture getStyles -%}
  {{ collectStyles }}
  #shopify-section-{{ section.id }} .getStarted {
    margin-top: {{ ss.secMarginTop_desktop | append: 'px' }};
    margin-bottom: {{ ss.secMarginBottom_desktop | append: 'px' }};

    position: relative;
    max-width: var(--theme-max-width);
    margin-left: auto;
    margin-right: auto;
    top: {{ ss.setTopPosition_desktop | append: 'px' }};
    width: 90%;
    border-radius: 30px;
  }
  @media (max-width: 1024px) {
    #shopify-section-{{ section.id }} .getStarted {
      margin-top: {{ ss.secMarginTop_tab | append: 'px' }};
      margin-bottom: {{ ss.secMarginBottom_tab | append: 'px' }};

      top: {{ ss.setTopPosition_tab | append: 'px' }};
    }
  }
  @media (max-width: 600px) {
    #shopify-section-{{ section.id }} .getStarted {
      margin-top: {{ ss.secMarginTop_mobile | append: 'px' }};
      margin-bottom: {{ ss.secMarginBottom_mobile | append: 'px' }};

      top: {{ ss.setTopPosition_mobile | append: 'px' }};
    }
  }

  #shopify-section-{{ section.id }} .getStarted {
    background-color: {{ ss.container_bgColor }};
    padding: 54px 20px;
    {% if ss.bgImg != blank %}
      background-image: url('{{ ss.bgImg | image_url: width: 700 }}');
      background-repeat: no-repeat;
      background-position: bottom left;
    {% endif %}
  }
  #shopify-section-{{ section.id }} {
    background-color: {{ ss.bgColor }};
    margin-top: -1px;
  }
  .main-footer {
    margin-top: 0 !important;
  }
{%- endcapture -%}
<style>
  {{ getStyles }}
</style>


{% schema %}
{
  "name": "Get Started",
  "class": "can-be-fullwidth merged-section supports-absolute-header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Let's Get Started"
    },
    {
      "type": "select",
      "id": "titleTag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content",
      "default": "Print any design with our DTF transfers on any product, material or color with incredible durability."
    },
    {
      "type": "text",
      "id": "btnText_1",
      "label": "Button Text 1",
      "default": "Order Transfers By Size"
    },
    {
      "type": "url",
      "id": "btnLink_1",
      "label": "Button Link 1"
    },
    {
      "type": "text",
      "id": "target_label",
      "label": "Target Node",
      "default":".ssvideosection"
    },
    {
      "type": "text",
      "id": "btnText_2",
      "label": "Button Text 2",
      "default": "Build a Gang Sheet"
    },
    {
      "type": "url",
      "id": "btnLink_2",
      "label": "Button Link 2"
    },
    {
      "type": "text",
      "id": "iconText_1",
      "label": "Icon Text 1",
      "default": "Unmatched Quality"
    },
    {
      "type": "text",
      "id": "iconText_2",
      "label": "Icon Text 2",
      "default": "No Minimums"
    },
    {
      "type": "text",
      "id": "iconText_3",
      "label": "Icon Text 3",
      "default": "Super Fast Shipping"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color",
      "default": "#b9b9b9"
    },
    {
      "type": "color",
      "id": "container_bgColor",
      "label": "Container Background Color",
      "default": "#f6f7f9"
    },
    {
      "type": "image_picker",
      "id": "bgImg",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Section Margins"
    },
    {
      "type": "range",
      "id": "setTopPosition_desktop",
      "label": "Set Top Desktop",
      "unit": "px",
      "min": -100,
      "max": 500,
      "step": 10,
      "default": -40
    },
    {
      "type": "range",
      "id": "setTopPosition_tab",
      "label": "Set Top Tablet",
      "unit": "px",
      "min": -100,
      "max": 500,
      "step": 10,
      "default": -40
    },
    {
      "type": "range",
      "id": "setTopPosition_mobile",
      "label": "Set Top Mobile",
      "unit": "px",
      "min": -100,
      "max": 500,
      "step": 10,
      "default": -40
    },
    {
      "type": "header",
      "content": "Section Margins"
    },
    {
      "type": "range",
      "id": "secMarginTop_desktop",
      "label": "Margin Top Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_tab",
      "label": "Margin Top Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_mobile",
      "label": "Margin Top Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_desktop",
      "label": "Margin Bottom Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_tab",
      "label": "Margin Bottom Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_mobile",
      "label": "Margin Bottom Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Get Started"
    }
  ]
}
{% endschema %}
