{%-liquid
  assign ss = section.settings
-%}
<section class="section__{{ section.id }}">
  <div class="{{ ss.sectionWidth }}">
    {% if ss.title != blank %}
      <{{ ss.titleTag }}>{{ ss.title }}</{{ ss.titleTag }}>
    {% endif %}

    {% if ss.details != blank %}
      {{ ss.details }}
    {% endif %}
  </div>
</section>
<style>
  .section__{{ section.id }} {
    padding-top: {{ ss.paddingTop | append: 'px' }};
    padding-bottom: {{ ss.paddingBottom | append: 'px' }};
  }
  .section__{{ section.id }} .fullWidth {
    padding-left: 24px;
    padding-right: 24px;
  }
</style>

{% schema %}
  {
    "name": "Global Rich Text",
    "settings": [
      {
        "type": "select",
        "id": "sectionWidth",
        "label": "Section Width",
        "options": [
          {
            "value": "fullWidth",
            "label": "Full Width"
          },
          {
            "value": "container--large",
            "label": "Container"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "DTF Transfers"
      },
      {
        "type": "select",
        "id": "titleTag",
        "label": "Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "Heading 1"
          },
          {
            "value": "h2",
            "label": "Heading 2"
          },
          {
            "value": "h3",
            "label": "Heading 3"
          },
          {
            "value": "h4",
            "label": "Heading 4"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "details",
        "label": "Details",
        "default": "<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, eos.</p>"
      },
      {
        "type": "header",
        "content": "Section Paddings"
      },
      {
        "type": "range",
        "id": "paddingTop",
        "label": "Padding Top",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "paddingBottom",
        "label": "Padding Bottom",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Global Rich Text"
      }
    ]
  }
{% endschema %}
