{%- assign ss = section.settings -%}
<div class="flex-container" style="display: none;">
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>
  <div class="col__1">1</div>

  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>
  <div class="col__2">2</div>

  <div class="col__3">3</div>
  <div class="col__3">3</div>
  <div class="col__3">3</div>
  <div class="col__3">3</div>
  <div class="col__3">3</div>
  <div class="col__3">3</div>
  <div class="col__3">3</div>
  <div class="col__3">3</div>

  <div class="col__4">4</div>
  <div class="col__4">4</div>
  <div class="col__4">4</div>
  <div class="col__4">4</div>
  <div class="col__4">4</div>
  <div class="col__4">4</div>

  <div class="col__5">5</div>
  <div class="col__5">5</div>
  <div class="col__5">5</div>
  <div class="col__5">5</div>
  <div class="col__4">4</div>

  <div class="col__6">6</div>
  <div class="col__6">6</div>
  <div class="col__6">6</div>
  <div class="col__6">6</div>

  <div class="col__12">12</div>
  <div class="col__12">12</div>
  <div class="col__24">24</div>
</div>
{% if ss.title != blank and ss.link != blank %}
  <script>
    collectMainNav.push({
      "linkLabel": `{{ ss.title }}`,
      "link": `{{ ss.link }}`,
      "event": `{{ ss.navOpenEvent }}`,
      "align": `{{ ss.align }}`,
      "highlight": {{ ss.highlight | json }}
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Custom Nav",
  "class": "nav-main",
  "settings": [
    {
      "type": "header",
      "content": "Header Link"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Header Name"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "navOpenEvent",
      "label": "Nav Open Event",
      "default": "hover",
      "info": "Hover only work on Desktop",
      "options": [
        {
          "value": "hover",
          "label": "Hover"
        },
        {
          "value": "click",
          "label": "Click"
        }
      ]
    },
    {
      "type": "select",
      "id": "align",
      "label": "Align",
      "options": [
        {
          "value": "leftAlign",
          "label": "Left"
        },
        {
          "value": "centerAlign",
          "label": "Center"
        },
        {
          "value": "rightAlign",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "highlight",
      "label": "Highlight",
      "default": false
    }
  ],
  "blocks": [
    {
      "type":"@app"
    },
    {
      "type": "@theme"
    }
  ],
  "enabled_on": {
    "groups": ["custom.nav"]
  },
  "presets": [
    {
      "name": "Custom Nav"
    }
  ]
}
{% endschema %}
