{%- assign page_url = content_for_header
  | split: '"pageurl":"'
  | last
  | split: '"'
  | first
  | split: request.host
  | last
  | replace: '\/', '/'
  | replace: '%20', ' '
  | replace: '\u0026', '&'
-%}
{% assign param_variant = null %}

{%- for i in (1..1) -%}
  {%- unless page_url contains '?' -%}{% break %}{%- endunless -%}
  {%- assign query_string = page_url | split: '?' | last -%}
  {%- assign qry_parts = query_string | split: '&' -%}

  {%- for part in qry_parts -%}
    {%- assign key_and_value = part | split: '=' -%}
    {%- if key_and_value.size > 1 -%}
      {% if key_and_value[0] == 'variant' %}
        {% assign param_variant = key_and_value[1] | downcase %}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{% style %}
  .underCTA .pdpRelatedProducts__pItem__pCode {
    font-size: {{ section.settings.pCode_fontSize | append: 'px' }};
    font-weight: {{ section.settings.pCode_fontWeight }};
  }

  .underCTA .pdpRelatedProducts__pItem__atc button {
    --shadow-color: {{ section.settings.button_bg }};
    border-radius: {{ section.settings.button_radius | append: 'px' }};
    color: {{ section.settings.button_color }};
    background: {{ section.settings.button_bg }};
    font-size: {{ section.settings.button_fontSize | append: 'px' }};
    font-weight: {{ section.settings.button_fontWeight }};
  }

  .underCTA .pdpRelatedProducts__pItem__atc button:hover {
    color: {{ section.settings.button_color_hover }};
    background: {{ section.settings.button_bg_hover }};
  }

  /* just for testing */
  .relatedPopup__content .colorOptionsLimited {
    max-height: 64px !important;
    max-height: unset !important;
    padding: 1px;
  }

  .relatedPopup__content__variants .colorOptions .colorOption .colorButton {
    margin: 3px;
  }

  .relatedPopup__content .addToCartSection .button {
    display: flex;
    align-items: center;
  }

  .relatedPopup__content .addToCartSection .button .button__text {
    line-height: 1;
  }
  .bottom__popUp .toast {
    position: absolute;
    top: 10px;
    right: 8px;
    transform: unset;
    z-index: 99999999999999;
    opacity: 0;
  }
  .bottom__popUp .toast.active {
    opacity: 1;
  }
{% endstyle %}

{%- liquid
  assign ss = section.settings
-%}
<link rel="stylesheet" href="{{ 'pdpRelatedProducts.css' | asset_url }}">
<div class="pdpRelatedProducts hidden">
  {% if ss.title != blank %}
    <div class="pdpRelatedProducts__titleWrap">
      <h3 class="pdpRelatedProducts__title">{{ ss.title }}</h3>

      <div class="pdpRelatedProducts__iconWrap">
        <div class="pdpRelatedProducts__iconItem">
          <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.33 23.33">
            <g id="Layer_1-2" data-name="Layer_1">
              <path d="M19.92,3.41C15.37-1.14,7.96-1.14,3.41,3.41-1.14,7.96-1.14,15.37,3.41,19.92c2.28,2.27,5.26,3.41,8.25,3.41s5.98-1.14,8.25-3.41c4.55-4.55,4.55-11.95,0-16.5ZM19.21,4.12c4.04,4.04,4.14,10.54.34,14.72L4.49,3.78C6.52,1.94,9.09,1,11.66,1c2.73,0,5.46,1.04,7.54,3.12ZM4.12,19.21C.08,15.17-.03,8.67,3.78,4.49l15.05,15.05c-4.18,3.81-10.68,3.71-14.72-.34Z"/>
            </g>
          </svg>
          <span>No Minimums</span>
        </div>

        <div class="pdpRelatedProducts__iconItem">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.62 130.62">
            <circle cx="104.43" cy="93.08" r="12.1" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/><circle cx="38.76" cy="93.08" r="12.1" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/><path d="M50.86,93.08h30.72V27.55c0-1.17-.94-2.11-2.11-2.11H7.96c-1.17,0-2.11.94-2.11,2.11v65.53h20.82" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/><polyline points="81.58 34.79 109.43 34.79 124.77 66.13 124.77 93.08 116.52 93.08" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/><line x1="5.85" y1="71.08" x2="81.58" y2="71.08" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/><polyline points="124.77 66.13 92.58 66.13 92.58 43.87 114.32 43.87" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/><line x1="81.58" y1="93.08" x2="92.33" y2="93.08" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/>
          </svg>
          <span style="font-weight: normal;">
            Earliest Delivery<br>
            <span style="color: #47bf56; font-weight: 600;">Tomorrow</span>
          </span>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="swiperMainProducts">
    <div class="pdpRelatedProducts__pList">
      {%- assign apparelProductChild__count = 1 -%}
      {% for ppp in ss.p_list %}
        <div class="pdpRelatedProducts__pItem" pid="{{ ppp.id }}" handle="{{ ppp.url }}">
          <div class="pdpRelatedProducts__pItem__img">
            <img
              src="{{ ppp.featured_image | image_url: width: 300 }}"
              alt="{{ ppp.title | escape }}"
              class="pdpRelatedProducts__pItem__triggerAction_"
            >
          </div>
          <div class="pdpRelatedProducts__pItem__content">
            <h4 class="pdpRelatedProducts__pItem__title">{{ ppp.title }}</h4>
            <span class="pdpRelatedProducts__pItem__startFrom">starting at</span>
            <div class="pdpRelatedProducts__pItem__price">
              {{ ppp.price_min | money_without_currency | prepend: '$' }}
            </div>
            <div class="pdpRelatedProducts__pItem__yotpo">
              <div
                class="yotpo-widget-instance"
                data-yotpo-instance-id="447610"
                data-yotpo-product-id="{{ ppp.id }}"
                data-yotpo-section-id="{{ section.id }}"
                data-yotpo-preloaded-data=""
              ></div>
            </div>

            <div class="pdpRelatedProducts__pItem__pCode">{{ ppp.metafields.blanks.second_title_for_blanks }}&nbsp;</div>
            {%- comment -%}
              <span class="pdpRelatedProducts__pItem__triggerAction">Add</span>
            {%- endcomment -%}
          </div>
          <div class="pdpRelatedProducts__pItem__atc">
            <button class="pdpRelatedProducts__pItem__triggerAction button" data-style="{{ ppp.metafields.specs.shirt_style }}">{{ section.settings.button_text }}</button>
          </div>

        {% assign shirtStyle = ppp.metafields.specs.shirt_style | downcase %}
        {% if param_variant == shirtStyle %}
          <div class="pdpRelatedProducts__popUp hidden popupContent__{{ shirtStyle  }}">
            <svg class="pdpRelatedProducts__popUp__close" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g>
            </svg>
            {% if apparelProductChild__count == 1 %}
              {%- assign showData = true -%}
              {%- assign apparelProductChild__count = apparelProductChild__count | plus: 1 -%}
            {% else %}
              {%- assign showData = false -%}
              {%- assign apparelProductChild__count = apparelProductChild__count | plus: 1 -%}
            {% endif %}
            {% render 'relatedProd', prod_: ppp, section: section, showJSData: showData %}
          </div>
        {% else %}
          <div class="pdpRelatedProducts__popUp hidden popupContent__{{ shirtStyle  }}" data="{{ param_variant }}">
            <svg class="pdpRelatedProducts__popUp__close" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g>
            </svg>
            {% if apparelProductChild__count == 1 %}
              {%- assign showData = true -%}
              {%- assign apparelProductChild__count = apparelProductChild__count | plus: 1 -%}
            {% else %}
              {%- assign showData = false -%}
              {%- assign apparelProductChild__count = apparelProductChild__count | plus: 1 -%}
            {% endif %}
          </div>
        {% endif %}
          
        </div>
      {% endfor %}
    </div>
  </div>

  {% if ss.bottomLabel != blank and ss.bottomLink != blank %}
    <div class="pdpRelatedProducts__bottomLink">
      <a href="{{ ss.bottomLink }}">
        <span>{{ ss.bottomLabel }}</span>
        <span aria-hidden="true" class="button__icon">
          <svg width="21" height="9" viewBox="0 0 21 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.354 4.854a.5.5 0 0 0 0-.708L17.172.964a.5.5 0 1 0-.707.708L19.293 4.5l-2.828 2.828a.5.5 0 1 0 .707.708l3.182-3.182ZM0 5h20V4H0v1Z" fill="#27a6ff">
          </svg>
        </span>
      </a>
    </div>
  {% endif %}
</div>

{{ 'swiper-bundle-v12.min.css' | asset_url | stylesheet_tag }}
{%- comment -%}
  <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
  <script src="{{ 'slick.min.js' | asset_url }}"></script>
{%- endcomment -%}
{{ 'swiper-bundle-v12.min.js' | asset_url | script_tag }}
{% if ss.makeSlider %}
  <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
  <script src="{{ 'slick.min.js' | asset_url }}"></script>

  <style>
    .underCTA .pdpRelatedProducts__pList .slick-arrow {
      position: absolute;
      top: 50%;
      width: 30px;
      height: 30px;
      z-index: 10;
      background-color: #fff;
      border-radius: 999px;
      transform: translateY(-50%);
      cursor: pointer;
      display: grid;
      align-items: center;
      box-shadow: 0 0 3px #999;
    }
    .underCTA .pdpRelatedProducts__pList .slick-arrow.slick-disabled {
      cursor: default;
      opacity: 0;
    }
    .underCTA .pdpRelatedProducts__pList .slick-arrow svg {
      margin: auto;
    }
    .underCTA .pdpRelatedProducts__pList .slick-prev {
      left: 10px;
    }
    .underCTA .pdpRelatedProducts__pList .slick-next {
      right: 10px;
    }
    .pdpRelatedProducts__pItem {
      margin-right: 10px;
    }
  </style>
{% endif %}

<script>
  const popUpHtmlCache = {};
  $(document)
    .ready(function() {
      loadRelatedProducts( 'ready' );
    })
    .on(`click`, `.underCTA .pdpRelatedProducts__pList .pdpRelatedProducts__pItem .pdpRelatedProducts__pItem__img`, function( e ) {
      try {
        e.stopImmediatePropagation();
        $( this ).closest( `.pdpRelatedProducts__pItem` ).find( `.pdpRelatedProducts__pItem__triggerAction` ).click();
      } catch ( err ) {
        console.log( `ERROR .underCTA .pdpRelatedProducts__pList .pdpRelatedProducts__pItem .pdpRelatedProducts__pItem__img`, err.message );
      }
    })
    .on(`click`, `.pdpRelatedProducts__pItem__triggerAction`, async function (e) {
      try {
        e.stopImmediatePropagation();


        const yotpoHTML = $(this)
          .closest(`.pdpRelatedProducts__pItem`)
          .find(`.pdpRelatedProducts__pItem__yotpo`)
          .html();
        var phandle = $(this).parents(".pdpRelatedProducts__pItem").attr("handle")
        const showPopup = async(popupHTML) => {
          if (! $(`body`).hasClass(`set_Overlay`)) $(`body`).addClass(`set_Overlay`);

          const $bottom__popUp = $(`<div class="bottom__popUp">${ popupHTML }</div><div class="popup-overlay-bg"></div>`);
          $(`body`).append($bottom__popUp);
          
          const currentPID = $bottom__popUp.find(`.relatedPopup`).attr(`pid`);
          const isColorsLoaded = $bottom__popUp.find( `.relatedPopup` ).hasClass( `colorsLoaded` );
  
          if ( isColorsLoaded == false ) {
            /*
            const getHandle = $bottom__popUp.find( `.relatedPopup` ).attr( `p-handle` );
            const getPID = $bottom__popUp.find( `.relatedPopup` ).attr( `pid` );
            const getColors = await getRequest(`/products/${ getHandle }?view=get_handle`);
  
            if ( typeof getColors !== 'undefined' && getColors && typeof getColors.colors !== 'undefined' && getColors.colors ) {
              $bottom__popUp.find( `.relatedPopup .relatedPopup__content__variants .colorOptions` ).html( getColors.colors );
  
              if ( typeof getColors.colorsList !== 'undefined' && getColors.colorsList.length > 0 ) {
                sortColors__( getPID, getColors.colorsList );
                $bottom__popUp.find( `.relatedPopup` ).addClass( `colorsLoaded` );
              }
  
              const prodCardHTML = $bottom__popUp.find( `.relatedPopup .relatedPopup__content__variants .colorOptions` ).html();
              $( `.bottom__popUp .relatedPopup__content__variants .colorOptions` ).html( prodCardHTML );
              $( `.bottom__popUp .relatedPopup` ).addClass( `colorsLoaded` );
            }
            */
          }
  
          setTimeout(() => {
            const getHandlePart = $(`.bottom__popUp #hf_productStyle`).val();
            $(`.bottom__popUp .yotpoPlaceHolder`).html(yotpoHTML);
            // removeDuplicateColors( $( `.bottom__popUp .colorOptions .colorOption` ) );
            // removeDuplicateS(getHandlePart);
            const isSelectedColor = $(`.bottom__popUp .colorOption.selected`).length;
            if (isSelectedColor > 0) {
              $(`.bottom__popUp .colorOption.selected`).click();
            } else {
              document.querySelector(`.bottom__popUp .colorOption`).click();
            }
  
            console.log('click on color');
          }, 200);
        }

        const shirtStyle = $(this).attr("data-style");
        let popUpHtml = null;
        if (shirtStyle) {
          popUpHtml = popUpHtmlCache[shirtStyle];
          if (popUpHtml == null) {
            //const url = `/products/dtf-transfers?variant=${shirtStyle}`;
            const url = `${phandle}?view=get_popup_struc&variant=${shirtStyle}`;
            const containerElement = $("<div></div>")          
  
            $(`body`).addClass(`set_Overlay`);
            const $bottom__popUpSpinner = $(`<div class="bottom__popUp"><div style="width:100%;text-align:center;padding-top:50px;"><img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/Spinner.gif?v=1704387886" style="width:50px;"></div></div>`);
            $(`body`).append($bottom__popUpSpinner);
            
            containerElement.load(url + ' .popupContent__content', async () => { 
              $bottom__popUpSpinner.remove();
              popUpHtml = $(".popupContent__content",containerElement).html();
              popUpHtmlCache[shirtStyle] = popUpHtml;
              await showPopup(popUpHtml);
              $(".popupContent__content").parents(".related-pdp-box").addClass("colorsLoaded");
            });           
          }
          else {
            await showPopup(popUpHtml);
          }          
        }
        else {
          popUpHtml = $(this).closest(`.pdpRelatedProducts__pItem`).find(`.pdpRelatedProducts__popUp`).html();          
          await showPopup(popUpHtml);
        }
        

        // window[`swiperMain_${ currentPID }`], window[`swiperThumbs_${ currentPID }`];
      } catch (err) {
        console.log(`ERROR .pdpRelatedProducts__pItem__triggerAction`, err.message);
        console.log(err.stack);
      }
    })
    .on(`click`,`.popup-overlay-bg`,function(e){
      $(`.pdpRelatedProducts__popUp__close`).trigger("click");
    })
    .on(`click`, `.pdpRelatedProducts__popUp__close`, function (e) {
      try {
        e.stopImmediatePropagation();
        // $( this ).closest( `.pdpRelatedProducts__pItem` ).find( `.pdpRelatedProducts__popUp` ).addClass( `hidden` );
        $(`body .bottom__popUp`).remove();
        $(`body .popup-overlay-bg`).remove();
        $(`body`).removeClass(`set_Overlay`);
      } catch (err) {
        console.log(`ERROR .pdpRelatedProducts__popUp__close`, err.message);
      }
    })

    .on(`keyup`, `.pdpRelatedProducts__popUp:not(.hidden) input.itemQuantity`, function (e) {
      try {
        e.stopImmediatePropagation();
        lineItems = [];
        $('.pdpRelatedProducts__popUp:not(.hidden) input.itemQuantity').each(function () {
          const quantity = parseInt($(this).val());
          const vid = $(this).attr(`data-id`) * 1;
          const color = $(this)
            .closest(`.relatedPopup__content__variants`)
            .find(`.colorOptions .colorOption .colorButton.selected`)
            .attr(`title`);

          if (quantity > 0) {
            lineItems.push({
              id: vid,
              quantity: quantity,
              properties: {
                Color: `${color}`,
              },
            });
          }
        });

        if (lineItems.length > 0) {
          console.log('lineItems', lineItems);
        }
      } catch (err) {
        console.log(`ERROR `, err.message);
      }
    })
    .on(`click`, `.colorOptionsLimitedViewAll`, function (e) {
      try {
        e.stopImmediatePropagation();
        const isColorsHidden = $(this).prev(`.colorOptions`).hasClass(`colorOptionsLimited`);
        if (isColorsHidden) {
          $(this).prev(`.colorOptions`).removeClass(`colorOptionsLimited`);
          $(this).find(`text`).text(`Hide`).next(`span`).addClass(`hidden`);
        } else {
          $(this).prev(`.colorOptions`).addClass(`colorOptionsLimited`);
          $(this).find(`text`).text(`Show`).next(`span`).removeClass(`hidden`);
        }
      } catch (err) {
        console.log(`ERROR .colorOptionsLimitedViewAll`, err.message);
      }
    })

    .on(`click`, `.toast.active .close`, function( e ) {
      try {
        e.stopImmediatePropagation();
        $( this ).closest( `.toast` ).removeClass( `active` );
      } catch ( err ) {
        console.log( `ERROR .toast.active .close`, err.message );
      }
    })
    ;

  window.addEventListener('load',function () {
    loadRelatedProducts( 'afterLoad' );
  });

  async function addToCartPopup() {
    const items = [];
    $('.bottom__popUp input.itemQuantity').each(function () {
      const quantity = parseInt($(this).val());
      const vid = $(this).attr(`data-id`) * 1;
      const color = $(this)
        .closest(`.relatedPopup__content__variants`)
        .find(`.colorOptions .colorOption .colorButton.selected`)
        .attr(`title`);

      if (quantity > 0) {
        items.push({
          id: vid,
          quantity: quantity,
          properties: {
            Color: `${color}`,
          },
        });
      }
    });

    if (items.length > 0) {
      $(`.bottom__popUp .addToCartSection span.button`).addClass(`working`);
      $(`.bottom__popUp .errorMessages`).hide();
      console.log('lineItems +++', items);

      await fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ items }),
      })
        .then((response) => {
          return response.json();
        })
        .catch((error) => {
          console.error('Error:', error);
        });

      refreshCart( `notOpen` );

      setTimeout(() => {
        $(`.bottom__popUp .addToCartSection span.button`).removeClass(`working`);
        const isToast = $( `.bottom__popUp .toast` ).length;
        if ( isToast > 0 ) {
          $( `.bottom__popUp .toast` ).addClass( `active` );

          setTimeout(() => {
            $( `.bottom__popUp .toast` ).removeClass( `active` );
          }, 5000);
        } else {
          $( `.bottom__popUp` )
            .append( `
              <div class="toast">
                <div class="toast-content">
                  <svg  class="fas fa-solid fa-check check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/></svg>
                    <div class="message">
                    <span class="text text-1">Added</span>
                    <span class="text text-2">Product successfully added to your cart</span>
                  </div>
                </div>
                <svg class="fa-solid fa-xmark close" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>

                <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
                <div class="progress active"></div>
              </div>
              ` );

              setTimeout(() => {
                $( `.bottom__popUp .toast` ).addClass( `active` );
              }, 50);

          setTimeout(() => {
            $( `.bottom__popUp .toast` ).removeClass( `active` );
            setTimeout(() => {
              $( `.bottom__popUp .toast` ).remove();
            }, 100);
          }, 5000);
        }
      }, 300);
    } else {
      $(`.bottom__popUp .errorMessages`).show();
    }

    $( `.bottom__popUp input.itemQuantity` ).val( '' );
  }

  async function loadVariantsPopup(this_, color, productHandle) {
    try {
      const main = $(this_).closest(`.relatedPopup__content__variants`);
      const currentPID = $(this_).closest(`.relatedPopup`).attr(`pid`);

      //const makeURL = `/pages/popup-blanks-pdp-helper?variant=${encodeURIComponent(color)}_0_${productHandle}`;
      const makeURL = `/products/${productHandle}?view=get_handle&variant=${encodeURIComponent(color)}`;
      console.log('makeURL', makeURL);

      const getData = await getRequest(`${makeURL}`);
      if (typeof getData !== 'undefined' && getData) {
        console.log('getData', getData);
        if (typeof getData.sizes !== 'undefined' && getData.sizes) {
          main.find(`.variantsData`).html(getData.sizes);
        }

        $(this_).closest(`.relatedPopup`).addClass("colorsLoaded");
        const makeVarforMainImg = window[`swiperMain_${currentPID}`];
        // const makeVarforThumbImg = window[`swiperThumbs_${ currentPID }`];

        // let thumb = makeVarforThumbImg;
        let swiperMain = makeVarforMainImg;

        // thumb = new Swiper( `.bottom__popUp .swiper-container-thumbs[pid="${ currentPID }"]`, {
        //   spaceBetween: 10,
        //   slidesPerView: 4,
        //   freeMode: true,
        //   watchSlidesVisibility: true,
        //   watchSlidesProgress: true,
        // });

        swiperMain = new Swiper(`.bottom__popUp .main-slider[pid="${currentPID}"]`, {
          spaceBetween: 10,
          pagination: {
            clickable: true
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
          // thumbs: {
          //   swiper: thumb
          // },
        });

        if (typeof getData.mainImgs !== 'undefined' && getData.mainImgs) {
          const getAvailableLength = $(
            `.bottom__popUp .swiper-container.main-slider .swiper-wrapper .swiper-slide`
          ).length;
          for (let i = 0; i < getAvailableLength; i++) {
            swiperMain.removeSlide($(`.bottom__popUp .main-slider[pid="${currentPID}"]`).length - 1);
            // thumb.removeSlide($( `.bottom__popUp .swiper-container-thumbs[pid="${ currentPID }"]` ).length-1);
          }
          getData.mainImgs.forEach((o) => {
            swiperMain.appendSlide(o.slide);
          });

          // getData.thumbnails.forEach(o => {
          //   thumb.appendSlide( o.slide );
          // });
          // main.find( `.variantsData` ).html( getData.sizes );
        }
      }

      const getBtnStyles = $(this_).find(`.colorButton`).attr(`style`);

      main.find(`.selectedColor .style-name`).text(color);
      main.find(`.selectedColor [type="button"]`).attr(`style`, getBtnStyles);

      main.find(`.colorOptions .colorOption .colorButton`).removeClass(`selected `);

      $(this_).find(`.colorButton`).addClass(`selected`);
    } catch (err) {
      console.log(`ERROR loadVariantsPopup( this_, color, productHandle )`, err.message);
    }
  }
  $(window).resize(function () {
    resizerWidthAdjustment();
  });

  function resizerWidthAdjustment() {
    try {
      let getPanelWidth = $( `product-page .product-text` ).width();
      const getBodyWidth = $( `body` ).width();
      const getExactFullWidth = $( `main-header .header__bottom.container--large .site-nav.style--classic` ).width();
      if ( getBodyWidth < 1400 ) {
        const getGalleryWidth = $( `product-page .product-gallery` ).width();
        const get40Percent = ( getBodyWidth / 100 ) * 40;
        // console.log ( 'getBodyWidth', getBodyWidth - get40Percent );
        $( `.underCTA` ).css( `max-width`, `${ getExactFullWidth - getGalleryWidth - 40 }px` );
      } else {
        $( `.underCTA` ).css( `max-width`, `${ getPanelWidth }px` );
      }
      if ( typeof readjustSelectedBar === 'function' ) {
        readjustSelectedBar();
      }
    } catch ( err ) {
      console.log( `ERROR resizerWidthAdjustment()`, err.message );
    }
  }

  async function loadRelatedProducts( loadType='' ) {
    let productRightPanel = $(`product-page .product-text`);
    if ( loadType == 'ready' ) {
      const getPanelWidth = $( `product-page .product-text` ).width();
      productRightPanel.append(`<div class="underCTA inactive hidden" style="max-width: ${ getPanelWidth }px;">&nbsp;</div>`);
    }

    setTimeout(() => {
      if ( loadType == 'ready' ) {
        const secHTML = $(`.pdpRelatedProducts`).html();
        $(`.underCTA`).html(`<div class="pdpRelatedProducts">${secHTML}</div>`);
      }
      if ( loadType == 'afterLoad' ) {
        $(`#shopify-section-{{ section.id }} .pdpRelatedProducts__pList .pdpRelatedProducts__pItem`).each(function () {
          const cardPID = $( this ).attr( `pid` );
          const ratingHTML = $( this ).find( `.pdpRelatedProducts__pItem__content .pdpRelatedProducts__pItem__yotpo` ).html();
          $( `.underCTA .pdpRelatedProducts__pItem[pid="${ cardPID }"] .pdpRelatedProducts__pItem__content .pdpRelatedProducts__pItem__yotpo` ).html( ratingHTML );
        });
        $(`.underCTA .pdpRelatedProducts__pList .pdpRelatedProducts__pItem`).each(function () {
          let getReviewText = $(this)
            .find(`.yotpo-sr-bottom-line-right-panel .yotpo-sr-bottom-line-text.yotpo-sr-bottom-line-text--right-panel`)
            .text()
            .trim();
          getReviewText = getReviewText.replace(`Reviews`, ``);
          getReviewText = getReviewText.replace(`Review`, ``);
          $(this)
            .find(`.yotpo-sr-bottom-line-right-panel .yotpo-sr-bottom-line-text.yotpo-sr-bottom-line-text--right-panel`)
            .text(`(${getReviewText})`);
        });
        // $(`.pdpRelatedProducts.hidden`).remove();
        resizerWidthAdjustment();
      }

      $(`.underCTA .pdpRelatedProducts__pList .pdpRelatedProducts__pItem`).each(function () {
        let getReviewText = $(this).find(`.yotpo-sr-bottom-line-right-panel .yotpo-sr-bottom-line-text.yotpo-sr-bottom-line-text--right-panel`).text().trim();
        getReviewText = getReviewText.replace(`Reviews`, ``);
        getReviewText = getReviewText.replace( `(`, `` )
        getReviewText = getReviewText.replace( `)`, `` )
        getReviewText = getReviewText.replace( ` `, `` )
        getReviewText = getReviewText.replace(`Review`, ``);
        // console.log ( 'getReviewText', getReviewText );
        $(this).find(`.yotpo-sr-bottom-line-right-panel .yotpo-sr-bottom-line-text.yotpo-sr-bottom-line-text--right-panel`).text(`(${ getReviewText })`);
      });
    }, 200);

    await addDelay(300);

    const relatedProductsArr = document.querySelectorAll( `.underCTA .pdpRelatedProducts__pList .pdpRelatedProducts__pItem` );

    // console.log('relatedProductsArr', relatedProductsArr.length);

    if ( loadType == 'afterLoad' ) {
      for await (const el of relatedProductsArr) {
        /*
        const getHandle = el.querySelector(`.relatedPopup`).getAttribute(`p-handle`);
        const getPID = el.querySelector(`.relatedPopup`).getAttribute(`pid`);
        const getColors = await getRequest(`/products/${getHandle}?view=get_handle`);

        if ( typeof getColors !== 'undefined' && getColors && typeof getColors.colors !== 'undefined' && getColors.colors ) {
          el.querySelector(`.relatedPopup .relatedPopup__content__variants .colorOptions`).innerHTML = getColors.colors;

          if ( typeof getColors.colorsList !== 'undefined' && getColors.colorsList.length > 0 ) {
            sortColors__( getPID, getColors.colorsList );
          }
        }
        */
      }
      productRightPanel.find(`.underCTA`).removeClass( `inactive` );
    }

    if ( typeof addClassToWidget !== 'undefined' && addClassToWidget ) {
      productRightPanel.find(`.underCTA`).removeClass( `inactive` );
    } else {
      productRightPanel.find(`.underCTA`).removeClass( `hidden inactive` );
    }

    {% if ss.makeSlider %}
      await addDelay( 100 );
      if ( typeof addClassToWidget === 'undefined' ) {
        addSlickSlider__();
      }
    {% endif %}
  }


  function addSlickSlider__() {
    try {
      $( `.underCTA .pdpRelatedProducts .pdpRelatedProducts__pList` ).slick({
          dots: false,
          arrows: true,
          prevArrow: '<button type="button" class="slick-prev pull-left"><svg width="7px" height="9px" viewBox="0 0 7 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Triangle" fill="#000000" transform="translate(3.5, 4.5) rotate(-90) translate(-3.5, -4.5)" points="3.5 1 8 8 -1 8"></polygon></g></svg></button>',
          nextArrow: '<button type="button" class="slick-next pull-right"><svg width="7px" height="9px" viewBox="0 0 7 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Triangle" fill="#000000" transform="translate(3.5, 4.5) rotate(90) translate(-3.5, -4.5)" points="3.5 1 8 8 -1 8"></polygon></g></svg></button>',
          infinite: false,
          slidesToShow: 4.5,
          slidesToScroll: 3,
          adaptiveHeight:false,
          autoplay: false,
          autoplaySpeed: 10000,
          responsive: [
            {
              breakpoint: 1200,
              settings: {
                slidesToShow: 3.5
              }
            },
            {
              breakpoint: 1000,
              settings: {
                slidesToShow: 2.75,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 815,
              settings: {
                slidesToShow: 1.75,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 4.5,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 3.5,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 450,
              settings: {
                slidesToShow: 2.75,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 360,
              settings: {
                slidesToShow: 2.2,
                slidesToScroll: 1
              }
            }
          ]
        });
    } catch ( err ) {
      console.log( `ERROR addSlickSlider__()`, err.message );
    }
  }


  function getSortedColors__( colorsArr ) {
    let colorGroups = {
      grayscale: [],
      red: [],
      orange: [],
      yellow: [],
      green: [],
      cyan: [],
      blue: [],
      violet: [],
      magenta: [],
      other: [],
    };

    colorsArr.forEach((color) => {
      const [hue, saturation] = hsl(color.hex);
      let colorCategory = findColorRange(hue);
      if (isGrayscale(saturation)) {
        colorCategory = "grayscale";
      }
      colorGroups[colorCategory].push(color);
    });
    // console.log ( 'colorGroups', colorGroups );
    return Object.values(colorGroups).flatMap((colorGroup) => {
      // Sort colors by lightness - lightest first, darkest last
      return colorGroup.sort((a, b) => {
        const [_aHue, _aSaturation, aLightness] = hsl(a.hex);
        const [_bHue, _bSaturation, bLightness] = hsl(b.hex);
        return bLightness - aLightness;
      });
    });
  }

  function sortColors__ ( pid='', colorsArr ) {
    /*
    const colorOptionElements = {};
    let colorSelector
    if ( pid != '' ) {
      colorSelector = `.underCTA .pdpRelatedProducts__pList .pdpRelatedProducts__pItem .relatedPopup[pid="${ pid }"] .colorOptions .colorOption`;
    }
    $( colorSelector ).each(function () {
      const $el = $(this);
      const colorHex = $el.attr("data-color");
      let elArr = colorOptionElements[colorHex];
      if (elArr == null) {
        elArr = [];
        colorOptionElements[colorHex] = elArr;
      }
      elArr.push($el.detach());
    })
    const sortedColors = getSortedColors__( colorsArr );
    sortedColors.forEach((color) => {
      const elArr = colorOptionElements[color.hex];
      if (elArr) {
        elArr.forEach(($el) => {
          $( `.underCTA .pdpRelatedProducts__pList .pdpRelatedProducts__pItem .relatedPopup[pid="${ pid }"] .colorOptions` ).append($el);
        })
      }
    })
    */
  }

  function removeDuplicateColors( selector ) {
    try {
      console.log ( 'removeDuplicateColors',  );
      selector.each(function() {
        const clrName = $( this ).attr( `data-colorname` );
        const checkClrCount = selector.find( `[data-colorname="${ clrName }"]` ).length;
        console.log ( 'checkClrCount', checkClrCount, clrName );
        if ( checkClrCount > 1 ) {
          console.log ( 'clrName', clrName );
          selector.find( `[data-colorname="${ clrName }"]` ).last().remove();
        }
      })
    } catch ( err ) {
      console.log( `ERROR `, err.message );
    }
  }

  function removeDuplicateS(getHandlePart) {
    try {
      const getHandle__ = $( `.bottom__popUp .relatedPopup` ).attr( `p-handle` );
      console.log ( 'getHandle__', getHandle__ );
      // const getHandlePart = $(`.bottom__popUp #hf_productStyle`).val();
      // console.log('getHandlePart', getHandlePart);
      // $(`.bottom__popUp .colorOptions .colorOption[data-color]:not([p-handle*="${getHandlePart}"])`).remove();
      // $( `.bottom__popUp` ).append( `<style>.bottom__popUp .colorOptions .colorOption[data-color]:not([p-handle*="${ getHandlePart }"]) {display: none;}</style>` );
      var seen = {};
      $('.bottom__popUp .colorOptions .colorOption[data-color]').each(function() {
        const getHandle = $( this ).attr( `p-handle` );
        if ( getHandle.includes( getHandle__ ) ) {
          var color = $( this ).attr('data-color');
          if ( seen[color] ) {
            $( this ).remove();
          } else {
            seen[color] = true;
          }
        }
      });
      setTimeout(() => {
        const getColorsCount = $(`.bottom__popUp .colorOptions.colorOptionsLimited .colorOption`).length;
        $(`.bottom__popUp .colorOptionsLimitedViewAll colorcount`).text(getColorsCount);
        if (getColorsCount <= 40) {
          $(`.bottom__popUp .colorOptionsLimitedViewAll`).css('display', 'none');
        }
      }, 200);
    } catch (err) {
      console.log(`ERROR removeDuplicateS()`, err.message);
    }
  }
</script>
{% schema %}
{
  "name": "Related Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Complete your order with Blanks"
    },
    {
      "type": "product_list",
      "id": "p_list",
      "label": "Products"
    },
    {
      "type": "checkbox",
      "id": "makeSlider",
      "label": "Make Slider",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showArrow_desktop",
      "label": "Show Arrow Desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showArrow_mobile",
      "label": "Show Arrow Mobile",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Quick Add"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button background",
      "default": "#46AAE3"
    },
    {
      "type": "color",
      "id": "button_color_hover",
      "label": "Button color on hover",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_bg_hover",
      "label": "Button background on hover",
      "default": "#0180C2"
    },
    {
      "type": "range",
      "id": "button_radius",
      "label": "Button border radius",
      "min": 0,
      "max": 24,
      "unit": "px",
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "button_fontSize",
      "label": "Button font size",
      "min": 8,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 13
    },
    {
      "type": "range",
      "id": "button_fontWeight",
      "label": "Button font weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 700
    },
    {
      "type": "range",
      "id": "pCode_fontSize",
      "label": "Product code font size",
      "min": 8,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "pCode_fontWeight",
      "label": "Product code font weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "text",
      "id": "bottomLabel",
      "label": "Bottom Link Text",
      "default": "Shop All Blank Products"
    },
    {
      "type": "url",
      "id": "bottomLink",
      "label": "Bottom Link"
    }
  ],
  "blocks": [
    {
      "type": "custom_liquid",
      "name": "t:sections.refactor_words.custom_code.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Bottom margin",
          "default": 24
        }
      ]
    },
    {
      "type": "priceCards",
      "name": "Price Cards",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Bottom margin",
          "default": 24
        }
      ]
    },
    {
      "type": "apparelProductChild",
      "name": "Apparel Product Child",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Bottom margin",
          "default": 24
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Bottom margin",
          "default": 24
        }
      ]
    },
    {
      "type": "rating",
      "name": "Rating",
      "settings": [
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Bottom margin",
          "default": 24
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "linkText",
          "label": "Link Text",
          "default": "View Full Details"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Bottom margin",
          "default": 24
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Related Products"
    }
  ]
}
{% endschema %}
