{%-liquid
  assign ss = section.settings
  assign sb = section.blocks
-%}
{% if sb.size > 0 %}
  <style>
    .section__{{ section.id }}{padding-top: {{ss.paddingtop}}px; padding-bottom: {{ss.paddingbottom}}px;}
    .section__{{ section.id }} .header-block{padding-top:24px; padding-bottom:24px;}
    .section__{{ section.id }} .grid-row{--bs-gutter-x: 15px; --bs-gutter-y: 15px; display: flex; flex-wrap: wrap; margin-top: calc(-1* var(--bs-gutter-y)); margin-right: calc(-.5* var(--bs-gutter-x)); margin-left: calc(-.5* var(--bs-gutter-x));}
    
    .section__{{ section.id }} .grid-row>* {flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(15px * .5); padding-left: calc(15px * .5); margin-top: 7px; margin-bottom: 8px;}
    .section__{{ section.id }} .grid-column{flex: 1 0 0;}
    .section__{{ section.id }} .grid-column-3 {flex: 0 0 auto; width: 25%;}
    .section__{{ section.id }} .grid-column-4 {flex: 0 0 auto; width: 33.33333333%;}
    .section__{{ section.id }} .grid-column-6 {flex: 0 0 auto; width: 50%;}
    .section__{{ section.id }} .press-block{border-radius:12px; background:{{ ss.blockbg }}; padding:30px; height: 100%;}
    .section__{{ section.id }} .press-block ul{list-style:disc; padding-left:20px;}
    .section__{{ section.id }} .press-block ul li{margin-bottom:4px;}
    .section__{{ section.id }} .press-block .rich-block{padding-top:8px;}

    .section__{{ section.id }} .header-block.center{text-align:center;}
    .section__{{ section.id }} .header-block.left{text-align:left;}
    .section__{{ section.id }} .header-block.right{text-align:right;}
    {%- for block in sb -%}
      .section__{{ section.id }} .press-{{ block.id }} .title-color{color:{{ block.settings.title_color }}; font-size:{{ block.settings.title_font }}px;}
      .section__{{ section.id }} .press-{{ block.id }} .subline-color{color:{{ block.settings.subline_color }}; font-size:{{ block.settings.subline_font }}px;}
      .section__{{ section.id }} .press-{{ block.id }} .rich-color{color:{{ block.settings.content_color }}; font-size:{{ block.settings.content_font }}px;}
    {% endfor %}
    @media(max-width:768px){
      .section__{{ section.id }} .header-block.mobilecenter{text-align:center;}
      .section__{{ section.id }} .header-block.mobileleft{text-align:left;}
      .section__{{ section.id }} .header-block.mobileright{text-align:right;}

      .section__{{ section.id }} .grid-column-6,.section__{{ section.id }} .grid-column-4,.section__{{ section.id }} .grid-column-3{width: 100%;}
    }
  </style>
<section class="section__{{ section.id }}">
  <div class="container--large">
    <header class="header-block {{ ss.titleAlign_desktop }} {{ ss.titleAlign_mobile }}">
      <{{ ss.titleTag }}>{{ ss.title }}</{{ ss.titleTag }}>
      <div>{{ ss.titlesubline }}</div>
    </header>
    
    <div class="blockContent__wrap">
      <div class="grid-row">
      {%- for block in sb -%}
        <article class="grid-column-{{ ss.colcount }}">
          <div class="press-block press-{{ block.id }}">
            {% if block.settings.title != blank %}
              <h3 class="title-color">{{ block.settings.title }}</h3>
            {% endif %}
            
            {% if block.settings.subline != blank %}
              <div class="subline-color">{{ block.settings.subline }}</div>
            {% endif %}
            
            {% if block.settings.content != blank %}
              <div class="rich-block rich-color">{{ block.settings.content }}</div>
            {% endif %}
          </div>
        </article>
      {%- endfor -%}
      </div>
    </div>
  </div>
</section>
{% endif %}


{% schema %}
{
  "name": "Pressing Instruction",
  "class": "pressing-info",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Your Heading Here"
    },
    {
      "type": "text",
      "id": "titlesubline",
      "label": "Sub title",
      "default": "Your Heading Here"
    },
    {
      "type": "color",
      "id": "blockbg",
      "label": "Card background",
      "default": "#f2f2f2"
    },
    {
      "type": "select",
      "id": "colcount",
      "label": "Column count",
      "options": [
        {
          "value": "6",
          "label": "Two column"
        },
        {
          "value": "4",
          "label": "Three column"
        },
        {
          "value": "3",
          "label": "Four column"
        }
      ],
      "default":"6"
    },
    {
      "type": "select",
      "id": "titleTag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    },
    {
      "type": "select",
      "id": "titleAlign_desktop",
      "label": "Title Align Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "titleAlign_mobile",
      "label": "Title Align Mobile",
      "options": [
        {
          "value": "mobileleft",
          "label": "Left"
        },
        {
          "value": "mobilecenter",
          "label": "Center"
        },
        {
          "value": "mobileright",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "paddingtop",
      "label": "Padding Top",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "label": "Padding Bottom",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Unmatched Quality"
        },
        {
          "type": "text",
          "id": "title_font",
          "label": "Title font size",
          "default": "22"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "subline",
          "label": "Sub line",
          "default": "Your subline Here"
        },
        {
          "type": "text",
          "id": "subline_font",
          "label": "subline font size",
          "default": "14"
        },
        {
          "type": "color",
          "id": "subline_color",
          "label": "Subline Color",
          "default": "#000000"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Get unmatched quality in every DTF transfer with premium materials and expert craftsmanship</p>"
        },
        {
          "type": "text",
          "id": "content_font",
          "label": "content font size",
          "default": "14"
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Textarea color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pressing Instruction",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}