{%- assign ss = section.settings -%}
{%- assign sb = section.blocks -%}

{% if ss.cardShowAs == 'slider' %}
  {%- comment -%}
  <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
  {%- endcomment -%}
{% endif %}

<div class="sliderList">
  {% if sb.size > 0 %}
    {% if ss.title != blank %}
      <div class="container--large dFlex">
        <{{ ss.headingTag }}>{{ ss.title }}</{{ ss.headingTag }}>
        {% if ss.seeAllLabel != blank and ss.seeAllLink != blank %}
          <a href="{{ ss.seeAllLink }}" class="sliderList__seeAll">{{ ss.seeAllLabel }}</a>
        {% endif %}
      </div>
    {% endif %}
    <div class="sliderList__wraper">
      {% for block in sb %}
        {%- assign b = block.settings -%}
        {% if b.page != blank %}
          {%- assign selectedPage = b.page -%}
          <a href="{{ selectedPage.url }}" class="sliderList__item">
            {% if selectedPage.metafields.custom.university_page_cover_image != blank %}
              <img src="{{ selectedPage.metafields.custom.university_page_cover_image | image_url: width: 400 }}" alt="{{ b.title | escape }}">
            {% endif %}

            {% if selectedPage.title != blank %}
              <h4 class="sliderList__item__title">{{ selectedPage.title }}</h4>
            {% endif %}
            {% if selectedPage.metafields.custom.university_excerpt != blank %}
              <p>
                {{ selectedPage.metafields.custom.university_excerpt }}
              </p>
            {% endif %}
            <span class="sliderList__item__readMore">
              Read more
            </span>
          </a>
        {% else %}
          <a href="{{ b.link }}" class="sliderList__item">
            {% if b.img != blank %}
              <img src="{{ b.img | image_url: width: 400 }}" alt="{{ b.title | escape }}">
            {% endif %}
            {% if b.title != blank %}
              <h4 class="sliderList__item__title">{{ b.title }}</h4>
            {% endif %}
            {% if b.detail != blank %}
              <p>
                {{ b.detail }}
              </p>
            {% endif %}
            <span class="sliderList__item__readMore">
              {{ b.linkLabel }}
            </span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>

{% if ss.cardShowAs == 'slider' %}
  {%- comment -%}
  <script src="{{ 'slick.min.js' | asset_url }}"></script>
  {%- endcomment -%}
  <script>
    $( `#shopify-section-{{ section.id }} .sliderList .sliderList__wraper` ).slick({
      infinite: false,
      slidesToShow: {{ ss.slidesShow }},
      slidesToScroll: 1,
      arrows: {{ ss.showArrows }},
      dots: false,
      nextArrow: '<button class="videoModal__next"><svg viewBox="0 0 24 24"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path></svg></button>',
      prevArrow: '<button class="videoModal__prev"><svg viewBox="0 0 24 24"><path d="m8.5 12.8 5.7 5.6c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-4.9-5 4.9-5c.4-.4.4-1 0-1.4-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3l-5.7 5.6c-.4.5-.4 1.1 0 1.6 0-.1 0-.1 0 0z"></path></svg></button>',
      responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: {{ ss.slidesShow_mobile }},
            slidesToScroll: 1
          }
        }
      ]
    });
  </script>
{% endif %}

<style>
  #shopify-section-{{ section.id }} {
    margin-top: {{ ss.marginTop | append: 'px' }};
    margin-bottom: {{ ss.marginBottom | append: 'px' }};
    padding-top: {{ ss.paddingTop | append: 'px' }};
    padding-bottom: {{ ss.paddingBottom | append: 'px' }};
  }
  #shopify-section-{{ section.id }} .dFlex {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  #shopify-section-{{ section.id }} .sliderList {{ ss.headingTag }} {
    margin-bottom: 48px
  }
  #shopify-section-{{ section.id }} .sliderList__seeAll {
    font-weight: 600;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 10px 25px;
  }
  #shopify-section-{{ section.id }} .sliderList__seeAll:hover {
    background-color: #3F9AD5;
    color: white;
    border: none;
  }
  #shopify-section-{{ section.id }} .sliderList__wraper {
    display: flex;
    max-width: var(--theme-max-width);
    padding-left: var(--gutter-container);
    padding-right: var(--gutter-container);
    width: 100%;
    margin: auto;
    {% if ss.cardShowAs == 'grid' %}
      flex-wrap: wrap;
      gap: 20px;
      row-gap: 36px;
    {% endif %}
  }
  #shopify-section-{{ section.id }} .sliderList__item {
    display: block;
  }
  {% if ss.cardShowAs == 'grid' %}
    #shopify-section-{{ section.id }} .sliderList__item {
      width: 100%;
      {% if ss.layoutDesktop == "2" %}
        max-width: calc(50% - 20px);
      {% elsif ss.layoutDesktop == "3" %}
        max-width: calc(33.333% - 20px);
      {% endif %}
      margin-right: 3px;
      margin-left: 3px;
    }
  {% endif %}
  {% if ss.cardShowAs == 'slider' %}
    #shopify-section-{{ section.id }} .sliderList__item {
      margin-right: {{ ss.slideGap | divided_by: 2 | round: 2 | append: 'px' }};
      margin-left: {{ ss.slideGap | divided_by: 2 | round: 2 | append: 'px' }};
    }
  {% endif %}
  #shopify-section-{{ section.id }} a.sliderList__item {
    border: 1px solid #dbdbdb;
    background-color: #f1f1f1;
    border-radius: 6px;
    padding-bottom: 10px;
  }
  #shopify-section-{{ section.id }} a.sliderList__item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  #shopify-section-{{ section.id }} .sliderList__item p {
    font-size: {{ ss.descriptionFontSize }};
    font-size: 15px;
    margin-bottom: 8px;
    padding:0px 15px;
  }
  #shopify-section-{{ section.id }} .sliderList__item img {
    width: 100%;
    border-radius: 6px;
    aspect-ratio: {{ ss.mediaAspect }};
  }
  #shopify-section-{{ section.id }} .sliderList__item__title {
    margin-top: 24px;
    padding:0px 15px;
  }
  #shopify-section-{{ section.id }} .sliderList__item__readMore {
    font-weight: 600;
    font-size: small;
    display:none;
  }
  #shopify-section-{{ section.id }} .videoModal__next.slick-disabled svg,
  #shopify-section-{{ section.id }} .videoModal__prev.slick-disabled svg {
    fill: gray;
  }
  #shopify-section-{{ section.id }} .videoModal__prev {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 36px;
    height: 36px;
    z-index: 1;
    transform: translateY(-50%);
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  #shopify-section-{{ section.id }} .videoModal__next {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 36px;
    height: 36px;
    z-index: 1;
    transform: translateY(-50%);
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    #shopify-section-{{ section.id }} .videoModal__next,
    #shopify-section-{{ section.id }} .videoModal__prev {
      background-color: #fff;
      box-shadow: 0 0 3px #999;
      border-radius: 999px;
    }
    {% if ss.cardShowAs == 'grid' %}
      #shopify-section-{{ section.id }} .sliderList__item {
        width: 100%;
        max-width: 100%;
      }
    {% endif %}
  }
</style>

{% schema %}
	{
    "name": "Slider List",
    "settings": [
      {
        "type": "select",
        "id": "cardShowAs",
        "label": "Card show as",
        "default": "grid",
        "options": [
          {
            "value": "slider",
            "label": "Slider"
          },
          {
            "value": "grid",
            "label": "Grid"
          }
        ]
      },
      {
        "type": "select",
        "id": "layoutDesktop",
        "label": "Desktop Layout",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2 Columns"
          },
          {
            "value": "3",
            "label": "3 Columns"
          }
        ]
      },
      {
        "type": "select",
        "id": "mediaAspect",
        "label": "Media Aspect ratio",
        "default": "16/9",
        "options": [
          {
            "value": "1/1",
            "label": "1:1"
          },
          {
            "value": "6/4",
            "label": "6:4"
          },
          {
            "value": "16/9",
            "label": "16:9"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "select",
        "id": "headingTag",
        "label": "Heading Tag",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          }
        ]
      },
      {
        "type": "select",
        "id": "descriptionFontSize",
        "label": "Content Font Size",
        "default": "medium",
        "options": [
          {
            "value": "larger",
            "label": "Larger"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "smaller",
            "label": "Smaller"
          }
        ]
      },
      {
        "type": "text",
        "id": "seeAllLabel",
        "label": "See All Text",
        "default": "See All"
      },
      {
        "type": "url",
        "id": "seeAllLink",
        "label": "See All Link"
      },
      {
        "type": "header",
        "content": "Slider Settings"
      },
      {
        "type": "checkbox",
        "id": "showArrows",
        "label": "Show Arrows",
        "default": true
      },
      {
        "type": "range",
        "id": "slideGap",
        "label": "Slide Gap",
        "unit": "px",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "slidesShow",
        "label": "No. of Slides to show for Desktop",
        "unit": "no",
        "min": 1,
        "max": 7,
        "step": 0.5,
        "default": 3
      },
      {
        "type": "range",
        "id": "slidesShow_mobile",
        "label": "No. of Slides to show for Mobile",
        "unit": "no",
        "min": 0.9,
        "max": 7.2,
        "step": 0.3,
        "default": 1.2
      },
      {
        "type": "header",
        "content": "Section Margins and Paddings"
      },
      {
        "type": "range",
        "id": "paddingTop",
        "label": "Padding Top",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "paddingBottom",
        "label": "Padding Bottom",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "marginTop",
        "label": "Margin Top",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "marginBottom",
        "label": "Margin Bottom",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "page",
            "id": "page",
            "label": "Select Page",
            "info": "Select page or add custom data below"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Custom Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Custom Title",
            "default": "Some title name"
          },
          {
            "type": "textarea",
            "id": "detail",
            "label": "Custom Detail",
            "default": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, atque. Repellendus laborum quos consequatur totam."
          },
          {
            "type": "checkbox",
            "id": "showReadMore",
            "label": "Show Read more",
            "default": true
          },
          {
            "type": "text",
            "id": "linkLabel",
            "label": "Custom Link Text",
            "default": "Read more"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Custom Link Address"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Slider List"
      }
    ]
  }
{% endschema %}
