{%-liquid
  assign ss = section.settings
  assign sb = section.blocks
-%}
{{ 'testimonialsHome.css' | asset_url | stylesheet_tag }}

<div class="container--large">
  <div class="testimonialsHome">
    {% if ss.title != blank %}
      <{{ ss.titleTag }} class="testimonialsHome__title">
        {{ ss.title }}
      </{{ ss.titleTag }}>
    {% endif %}

    {% if ss.content != blank %}
      <p class="testimonialsHome__content">
        {{ ss.content }}
      </p>
    {% endif %}

    <div class="testimonialsHome__topList">
      {% for block in sb %}
        {%- assign b = block.settings -%}
        <div class="testimonialsHome__item" bid="{{ block.id }}">
          <div class="testimonialsHome__itemInner">
            <div class="testimonialsHome__itemImgTitle">
              {% if b.image != blank %}
                <img
                  srcset="
                    {{ b.image | image_url: width: 60 }} 60w,
                    {{ b.image | image_url: width: 120 }} 120w,
                    {{ b.image | image_url: width: 180 }} 180w,
                    {{ b.image | image_url: width: 240 }} 240w
                  "
                  sizes="
                    (max-width: 600px) 50vw,
                    (max-width: 1200px) 25vw,
                    10vw
                  "
                  src="{{ b.image | image_url: width: 60 }}"
                  alt="{{ b.image.alt | escape }}"
                  loading="lazy"
                  width="60"
                  height="auto"
                >
              {% endif %}
              <div class="testimonialsHome__itemTitleBlock">
                {% if b.title != blank %}
                  <h4 class="testimonialsHome__itemTitle">
                    {{ b.title }}
                  </h4>
                  {% if b.reviewerTitle != blank %}
                    <div class="testimonialsHome__itemReviewTitle">{{ b.reviewerTitle }}</div>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            {% if b.review != blank %}
              <p class="testimonialsHome__itemReview">
                {{ b.review }}
              </p>
            {% endif %}

            <div class="testimonialsHome__itemReviewStars">
              {%- assign reviewStar = '<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.04127 1.05787C9.21535 0.656427 9.78465 0.656426 9.95873 1.05787L12.0981 5.99152C12.1706 6.15859 12.3281 6.27307 12.5094 6.29034L17.8627 6.80045C18.2983 6.84196 18.4742 7.38339 18.1462 7.673L14.1152 11.2323C13.9786 11.3528 13.9185 11.538 13.9581 11.7158L15.1272 16.9647C15.2223 17.3918 14.7617 17.7264 14.3849 17.504L9.7542 14.7701C9.59738 14.6775 9.40262 14.6775 9.2458 14.7701L4.61506 17.504C4.23827 17.7264 3.7777 17.3918 3.87283 16.9647L5.04194 11.7158C5.08153 11.538 5.02135 11.3528 4.88484 11.2323L0.853771 7.673C0.525773 7.38339 0.701695 6.84196 1.13728 6.80045L6.49057 6.29034C6.67186 6.27307 6.82942 6.15859 6.90187 5.99152L9.04127 1.05787Z" fill="#FFC046"/></svg>' -%}
              {% if b.reviewStars == '5stars' %}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
              {% elsif b.reviewStars == '4stars' %}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
              {% elsif b.reviewStars == '3stars' %}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
              {% endif %}
            </div>
          </div>

        </div>
      {% endfor %}
    </div>

    <div class="testimonialsHome__bottomList" dir="rtl">
      {% for block in sb %}
        {%- assign b = block.settings -%}
        <div class="testimonialsHome__item" bid="{{ block.id }}" dir="ltr">
          <div class="testimonialsHome__itemInner">
            <div class="testimonialsHome__itemImgTitle">
              {% if b.image_b != blank %}
                <img
                  srcset="
                    {{ b.image_b | image_url: width: 60 }} 60w,
                    {{ b.image_b | image_url: width: 120 }} 120w,
                    {{ b.image_b | image_url: width: 180 }} 180w,
                    {{ b.image_b | image_url: width: 240 }} 240w
                  "
                  sizes="
                    (max-width: 600px) 50vw,
                    (max-width: 1200px) 25vw,
                    10vw
                  "
                  src="{{ b.image_b | image_url: width: 60 }}"
                  alt="{{ b.image_b.alt | escape }}"
                  loading="lazy"
                  width="60"
                  height="auto"
                >
              {% endif %}
              <div class="testimonialsHome__itemTitleBlock">
                {% if b.title_b != blank %}
                  <h4 class="testimonialsHome__itemTitle">
                    {{ b.title_b }}
                  </h4>
                  {% if b.reviewerTitle_b != blank %}
                    <div class="testimonialsHome__itemReviewTitle">{{ b.reviewerTitle_b }}</div>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            {% if b.review_b != blank %}
              <p class="testimonialsHome__itemReview">
                {{ b.review_b }}
              </p>
            {% endif %}

            <div class="testimonialsHome__itemReviewStars">
              {%- assign reviewStar = '<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.04127 1.05787C9.21535 0.656427 9.78465 0.656426 9.95873 1.05787L12.0981 5.99152C12.1706 6.15859 12.3281 6.27307 12.5094 6.29034L17.8627 6.80045C18.2983 6.84196 18.4742 7.38339 18.1462 7.673L14.1152 11.2323C13.9786 11.3528 13.9185 11.538 13.9581 11.7158L15.1272 16.9647C15.2223 17.3918 14.7617 17.7264 14.3849 17.504L9.7542 14.7701C9.59738 14.6775 9.40262 14.6775 9.2458 14.7701L4.61506 17.504C4.23827 17.7264 3.7777 17.3918 3.87283 16.9647L5.04194 11.7158C5.08153 11.538 5.02135 11.3528 4.88484 11.2323L0.853771 7.673C0.525773 7.38339 0.701695 6.84196 1.13728 6.80045L6.49057 6.29034C6.67186 6.27307 6.82942 6.15859 6.90187 5.99152L9.04127 1.05787Z" fill="#FFC046"/></svg>' -%}
              {% if b.reviewStars_b == '5stars' %}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
              {% elsif b.reviewStars_b == '4stars' %}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
              {% elsif b.reviewStars_b == '3stars' %}
                {{ reviewStar }}
                {{ reviewStar }}
                {{ reviewStar }}
              {% endif %}
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  $( `#shopify-section-{{ section.id }} .testimonialsHome__topList` ).slick({
    infinite: true,
    speed: 10000,
    slidesToShow: 3.5,
    slidesToScroll: 1,
    dots: false,
    arrows: false,

    autoplay: true,
    autoplaySpeed: 0,
    cssEase: 'linear',

    responsive: [
      {
        breakpoint: 1100,
        settings: {
          slidesToShow: 3
        }
      },
      {
        breakpoint: 990,
        settings: {
          slidesToShow: 2.5
        }
      },
      {
        breakpoint: 800,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 650,
        settings: {
          slidesToShow: 1.5
        }
      },
      {
        breakpoint: 450,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });
  </script>
  <script>
  $( `#shopify-section-{{ section.id }} .testimonialsHome__bottomList` ).slick({
    infinite: true,
    speed: 10000,
    slidesToShow: 3.5,
    slidesToScroll: 1,
    dots: false,
    arrows: false,

    autoplay: true,
    autoplaySpeed: 0,
    cssEase: 'linear',
    rtl: true,

    responsive: [
      {
        breakpoint: 1100,
        settings: {
          slidesToShow: 3
        }
      },
      {
        breakpoint: 990,
        settings: {
          slidesToShow: 2.5
        }
      },
      {
        breakpoint: 800,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 650,
        settings: {
          slidesToShow: 1.5
        }
      },
      {
        breakpoint: 450,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });
</script>

{%- capture getStyles -%}
  {{ collectStyles }}
  #shopify-section-{{ section.id }} .slick-track {
    align-items: stretch;
    display: flex;
  }
  #shopify-section-{{ section.id }} .slick-slide {
    height: auto;
  }
  #shopify-section-{{ section.id }} {
    margin-top: {{ ss.secMarginTop_desktop | append: 'px' }};
    margin-bottom: {{ ss.secMarginBottom_desktop | append: 'px' }};

    padding-top: {{ ss.secPaddingTop_desktop | append: 'px' }};
    padding-bottom: {{ ss.secPaddingBottom_desktop | append: 'px' }};
  }
  @media (max-width: 1024px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ ss.secMarginTop_tab | append: 'px' }};
      margin-bottom: {{ ss.secMarginBottom_tab | append: 'px' }};

      padding-top: {{ ss.secPaddingTop_tab | append: 'px' }};
      padding-bottom: {{ ss.secPaddingBottom_tab | append: 'px' }};
    }
  }
  @media (max-width: 600px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ ss.secMarginTop_mobile | append: 'px' }};
      margin-bottom: {{ ss.secMarginBottom_mobile | append: 'px' }};

      padding-top: {{ ss.secPaddingTop_mobile | append: 'px' }};
      padding-bottom: {{ ss.secPaddingBottom_mobile | append: 'px' }};
    }
  }
  {% if ss.contentPosition_desktop == 'leftTextRightVid' %}
    #shopify-section-{{ section.id }} .textImg__item.textBlock {
      order: 1;
    }
    #shopify-section-{{ section.id }} .textImg__item.vidBlock {
      order: 2;
    }
  {% elsif ss.contentPosition_desktop == 'leftVidRightText' %}
    #shopify-section-{{ section.id }} .textImg__item.textBlock {
      order: 2;
    }
    #shopify-section-{{ section.id }} .textImg__item.vidBlock {
      order: 1;
    }
  {% endif %}
  @media (max-width: 600px) {
    {% if ss.contentPosition_mobile == 'vidTopTextBottom' %}
      #shopify-section-{{ section.id }} .textImg__item.textBlock {
        order: 2;
      }
      #shopify-section-{{ section.id }} .textImg__item.vidBlock {
        order: 1;
      }
    {% elsif ss.contentPosition_mobile == 'contentTopVidBottom' %}
      #shopify-section-{{ section.id }} .textImg__item.textBlock {
        order: 1;
      }
      #shopify-section-{{ section.id }} .textImg__item.vidBlock {
        order: 2;
      }
    {% endif %}
  }
  #shopify-section-{{ section.id }} .testimonialsHome__item {
    background-color: {{ ss.bgColor }};
    padding: 20px;
  }
{%- endcapture -%}
<style>
  {{ getStyles }}
</style>


{% schema %}
{
  "name": "Testimonials Home",
  "class": "can-be-fullwidth merged-section supports-absolute-header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Thousands of 5 Star DTF Transfer Reviews"
    },
    {
      "type": "select",
      "id": "titleTag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content",
      "default": "Verified Feedback from Authentic Customers"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color for Slider",
      "default": "#f6f7f9"
    },
    {
      "type": "header",
      "content": "Section Margins"
    },
    {
      "type": "range",
      "id": "secMarginTop_desktop",
      "label": "Margin Top Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_tab",
      "label": "Margin Top Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginTop_mobile",
      "label": "Margin Top Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_desktop",
      "label": "Margin Bottom Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_tab",
      "label": "Margin Bottom Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secMarginBottom_mobile",
      "label": "Margin Bottom Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Paddings"
    },
    {
      "type": "range",
      "id": "secPaddingTop_desktop",
      "label": "Padding Top Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingTop_tab",
      "label": "Padding Top Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingTop_mobile",
      "label": "Padding Top Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_desktop",
      "label": "Padding Bottom Desktop",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_tab",
      "label": "Padding Bottom Tablet",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "secPaddingBottom_mobile",
      "label": "Padding Bottom Mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "header",
          "content": "Top Row"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Reviewer Name",
          "default": "Savannah Nguyen"
        },
        {
          "type": "text",
          "id": "reviewerTitle",
          "label": "Reviewer Title",
          "default": "CEO Sans Brothers"
        },
        {
          "type": "inline_richtext",
          "id": "review",
          "label": "Review",
          "default": "It was a pleasure working with the Ninja team. They understood the brief correctly and delivered great designs exceeding the expectations."
        },
        {
          "type": "select",
          "id": "reviewStars",
          "label": "Review Stars",
          "options": [
            {
              "value": "5stars",
              "label": "5 Stars"
            },
            {
              "value": "4stars",
              "label": "4 Stars"
            },
            {
              "value": "3stars",
              "label": "3 Stars"
            }
          ]
        },
        {
          "type": "header",
          "content": "Bottom Row"
        },
        {
          "type": "image_picker",
          "id": "image_b",
          "label": "Upload Image"
        },
        {
          "type": "text",
          "id": "title_b",
          "label": "Reviewer Name",
          "default": "Savannah Nguyen"
        },
        {
          "type": "text",
          "id": "reviewerTitle_b",
          "label": "Reviewer Title",
          "default": "CEO Sans Brothers"
        },
        {
          "type": "inline_richtext",
          "id": "review_b",
          "label": "Review",
          "default": "It was a pleasure working with the Ninja team. They understood the brief correctly and delivered great designs exceeding the expectations."
        },
        {
          "type": "select",
          "id": "reviewStars_b",
          "label": "Review Stars",
          "options": [
            {
              "value": "5stars",
              "label": "5 Stars"
            },
            {
              "value": "4stars",
              "label": "4 Stars"
            },
            {
              "value": "3stars",
              "label": "3 Stars"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Home",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}
