<div class="section-{{ section.id }} textlist-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
  <div class="container container--large container--vertical-space-small craft-pdp-pages">
    <div class="textlist-lists-{{ section.id }}">
      {% if section.settings.title %}
      <div class="product__subtitle">{{ section.settings.title }}</div>
      {% endif %}
      <ul class="text-list">
        {% for block in section.blocks %}
          {% if block.settings.line_text != blank %}
            <li>
            <span class="list-icon {% if section.settings.icon_width == "16" %} wd16{% endif %}">    
              <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.87983 18.2833L0 10.4034L2.16309 8.24034L7.87983 13.9571L21.8369 0L24 2.16309L7.87983 18.2833Z" fill="#008A8A"/>
              </svg>
            </span>
            <span>
              {{ block.settings.line_text }}
            </span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<style>
  .product__subtitle{margin-bottom: .9375rem;}
  .textlist-{{ section.id }}{display:none}
  .text-list {padding-left: 0px; list-style-type: none;}
  .craft-pdp-pages .faq-product-ques p.product__subtitle,.craft-pdp-pages .faq-product-answer,.craft-pdp-pages .faq-product-answer li,.textlist-lists-{{ section.id }} .product__subtitle{font-size:{{ section.settings.desktop_font_size }}px;}
  .text-list li {margin-bottom: 6px; display:flex; align-items: center;}
  .section-{{ section.id }} .text-list li {font-size:{{ section.settings.desktop_font_size }}px; }
  .list-icon{line-height:0; margin-right:8px;}
  .list-icon.wd16 svg{width:16px;}
  
  @media(max-width:768px){
    .craft-pdp-pages .faq-product-ques p.product__subtitle,.craft-pdp-pages .faq-product-answer,.craft-pdp-pages .faq-product-answer li,.textlist-lists-{{ section.id }} .product__subtitle{font-size:{{ section.settings.mobile_font_size }}px;}
    .text-list li { font-size:{{ section.settings.mobile_font_size }}px; }
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    {%- if section.settings.product_tab -%}
      if($(".craft-prod-feature-includes").length){
        var _faq = $(".textlist-{{ section.id }}");
        $(".textlist-{{ section.id }}").remove();
        $(".craft-prod-feature-includes").append(_faq.find(".textlist-lists-{{ section.id }}"));
      }else{
        $(".textlist-{{ section.id }}").remove();  
      }
    {%- endif -%}
  });
</script>
{% schema %}
{
  "name": "Text List Section",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "product_tab",
      "label": "Enable product tab",
      "default": false
    },
    {
      "type": "select",
      "id": "icon_width",
      "label": "Icons width",
      "options": [
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "24",
          "value": "24"
        }
      ],
      "default":"24"
    },
    {
      "type": "header",
      "content": "Font settings"
    },
    {
      "type": "range",
      "id": "desktop_font_size",
      "label": "Desktop font size",
      "min": 10,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default":15
    },
    {
      "type": "range",
      "id": "mobile_font_size",
      "label": "mobile font size",
      "min": 10,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default":14
    }
  ],
  "blocks": [
    {
      "type": "text_line",
      "name": "Text Line",
      "settings": [
        {
          "type": "text",
          "id": "line_text",
          "label": "Line Text"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Text List",
      "category": "Custom"
    }
  ]
}
{% endschema %}